Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

[WHISPR-1141] fix(profile): use blob URL instead of non-existent media.url field
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

[WHISPR-1141] fix(profile): use blob URL instead of non-existent media.url field
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

chore(docs): update CLAUDE.md workflow to use worktrees and deploy/preprod
  CLAUDE.md
Labels: documentation, feature, config

chore(docs): update CLAUDE.md workflow to use worktrees and deploy/preprod
  CLAUDE.md
Labels: documentation, feature, config

chore(docs): update CLAUDE.md workflow to use worktrees and deploy/preprod
  CLAUDE.md
Labels: documentation, feature, config

chore(docs): update CLAUDE.md workflow to use worktrees and deploy/preprod
  CLAUDE.md
Labels: documentation, feature, config

fix(check-env): make MEDIA_SERVICE_URL a required environment variable
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/env-config.ts
Labels: feature, tests, config

fix(check-env): make MEDIA_SERVICE_URL a required environment variable
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/env-config.ts
Labels: feature, tests, config

fix(check-env): make MEDIA_SERVICE_URL a required environment variable
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/env-config.ts
Labels: feature, tests, config

fix(profile): store mediaId instead of presigned URL for profilePictureUrl
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

[WHISPR-1139] fix(profile): store mediaId instead of presigned URL for profilePictureUrl
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

[WHISPR-1139] fix(profile): store mediaId instead of presigned URL for profilePictureUrl
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

[WHISPR-1139] fix(profile): store mediaId instead of presigned URL for profilePictureUrl
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

ci(workflows): split CI/CD triggers to eliminate duplicate runs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-docker.yml
Labels: ci/cd, feature, config

ci(workflows): split CI/CD triggers to eliminate duplicate runs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-docker.yml
Labels: ci/cd, feature, config

ci(workflows): split CI/CD triggers to eliminate duplicate runs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-docker.yml
Labels: ci/cd, feature, config

refactor(logging): emit plain strings from LoggingInterceptor
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
Labels: feature, tests, config

refactor(logging): emit plain strings from LoggingInterceptor
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
Labels: feature, tests, config

refactor(logging): emit plain strings from LoggingInterceptor
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
Labels: feature, tests, config

feat(profile): add GET /profile/me endpoint exposing full authenticated profile
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/self-profile-response.dto.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

feat(profile): add GET /profile/me endpoint exposing full authenticated profile (#116)
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/self-profile-response.dto.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

feat(profile): add GET /profile/me endpoint exposing full authenticated profile (#116)
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/self-profile-response.dto.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

feat(profile): add GET /profile/me endpoint exposing full authenticated profile (#116)
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/self-profile-response.dto.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

doc utilisateurs bloqués
  docs/blocked-users.md
Labels: documentation, feature, config

doc utilisateurs bloqués
  docs/blocked-users.md
Labels: documentation, feature, config

doc système de réputation
  docs/reputation-system.md
Labels: documentation, feature, config

doc système de réputation
  docs/reputation-system.md
Labels: documentation, feature, config

doc système de sanctions détaillé
  docs/sanctions-system.md
Labels: documentation, feature, config

doc système de sanctions détaillé
  docs/sanctions-system.md
Labels: documentation, feature, config

doc recherche utilisateurs
  docs/user-search.md
Labels: documentation, feature, config

doc recherche utilisateurs
  docs/user-search.md
Labels: documentation, feature, config

doc gestion des groupes
  docs/groups.md
Labels: documentation, feature, config

doc gestion des groupes
  docs/groups.md
Labels: documentation, feature, config

doc logs d'audit
  docs/audit-logs.md
Labels: documentation, feature, config

doc logs d'audit
  docs/audit-logs.md
Labels: documentation, feature, config

doc webhooks
  docs/webhooks.md
Labels: documentation, feature, config

doc webhooks
  docs/webhooks.md
Labels: documentation, feature, config

doc schéma base de données user
  docs/database-schema.md
Labels: documentation, feature, config

doc schéma base de données user
  docs/database-schema.md
Labels: documentation, feature, config

exemple de fichier .env
  docs/env-example.md
Labels: documentation, feature, config
