Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

fix(cd): push infrastructure changes to correct branch based on trigger
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): push infrastructure changes to correct branch based on trigger
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

[WHISPR-692][WHISPR-693][WHISPR-694] fix(user): TypeORM autoload + contacts enrich + search index fixes (#53)
  package-lock.json
  package.json
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/search-index.service.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/typeorm.config.ts
  test/setup-e2e.ts
Labels: feature, tests, config, dependencies

[WHISPR-692][WHISPR-693][WHISPR-694] fix(user): TypeORM autoload + contacts enrich + search index fixes (#53)
  package-lock.json
  package.json
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/search-index.service.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/typeorm.config.ts
  test/setup-e2e.ts
Labels: feature, tests, config, dependencies

fix(cd): scope migration-job yq selectors to Job kind and rename validation step
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): scope migration-job yq selectors to Job kind and rename validation step
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(database): enable autoLoadEntities for webpack compatibility
  src/typeorm.config.ts
Labels: feature, config

fix(database): enable autoLoadEntities for webpack compatibility
  src/typeorm.config.ts
Labels: feature, config

fix(search,security): address PR #58 review issues
  docker/dev/.env.example
  docker/prod/.env.example
  src/main.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: ci/cd, feature, tests, config

fix(search,security): address PR #58 review issues
  docker/dev/.env.example
  docker/prod/.env.example
  src/main.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: ci/cd, feature, tests, config

chore(check-env): register CORS_ALLOWED_ORIGINS as optional env var
  src/docker/check-env/env-config.ts
Labels: feature, config

chore(check-env): register CORS_ALLOWED_ORIGINS as optional env var
  src/docker/check-env/env-config.ts
Labels: feature, config

fix(search): make indexUser null-safe and guard createFromEvent against Redis failure
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
Labels: feature, config

fix(search): make indexUser null-safe and guard createFromEvent against Redis failure
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
Labels: feature, config

fix(cd): point deploy/preprod to k8s/whispr/preprod path
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(search): use HGET for Redis hash lookups and add DB fallback
  src/modules/cache/cache.service.ts
Labels: feature, config

fix(search): use HGET for Redis search + index users on profile update
  src/modules/accounts/services/accounts.service.ts
Labels: feature, config

fix(cache): remove duplicate hget method
  src/modules/cache/cache.service.ts
Labels: feature, config

chore: remove /v1 URI versioning from all API routes
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: ci/cd, feature, tests, config

ci: add deploy/preprod to CI trigger branches
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

ci: enable Docker build and deploy for deploy/preprod branch
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

Revert "chore: remove /v1 URI versioning from all API routes"
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
Labels: ci/cd, feature, tests, config

fix(cd): push infrastructure changes to correct branch based on trigger
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(search,security): address PR #58 review issues
  docker/dev/.env.example
  docker/prod/.env.example
  src/main.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: ci/cd, feature, tests, config

chore(check-env): register CORS_ALLOWED_ORIGINS as optional env var
  src/docker/check-env/env-config.ts
Labels: feature, config

fix(search): make indexUser null-safe and guard createFromEvent against Redis failure
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
Labels: feature, config

test(e2e): add explicit Jest assertion to satisfy jest/expect-expect lint rule
  test/app.e2e-spec.ts
Labels: feature, tests, config

fix(search,config,security): address second round of Copilot review
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
  src/swagger.ts
  src/typeorm.config.spec.ts
  src/typeorm.config.ts
Labels: feature, tests, config

[DEPLOY] Reconcile deploy/preprod into main (#58)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docker/dev/.env.example
  docker/prod/.env.example
  src/docker/check-env/env-config.ts
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
  src/swagger.ts
  src/typeorm.config.spec.ts
  src/typeorm.config.ts
  test/app.e2e-spec.ts
Labels: ci/cd, feature, tests, config

[DEPLOY] Reconcile deploy/preprod into main (#58)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docker/dev/.env.example
  docker/prod/.env.example
  src/docker/check-env/env-config.ts
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
  src/swagger.ts
  src/typeorm.config.spec.ts
  src/typeorm.config.ts
  test/app.e2e-spec.ts
Labels: ci/cd, feature, tests, config

fix(accounts,profile): remove duplicate constructor param and align test URLs
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/profile/services/media-client.service.spec.ts
Labels: feature, tests, config

fix(accounts): change @MessagePattern to @EventPattern for user.registered event
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/shared/events/user-registered.event.ts
Labels: feature, tests, config

fix(accounts): change @MessagePattern to @EventPattern for user.registered event
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/shared/events/user-registered.event.ts
Labels: feature, tests, config

style: fix prettier formatting on search-index.service
  src/modules/cache/search-index.service.ts
Labels: feature, config

style: fix prettier formatting on search-index.service
  src/modules/cache/search-index.service.ts
Labels: feature, config

fix(accounts,profile): remove duplicate constructor param and align test URLs (#62)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/profile/services/media-client.service.spec.ts
Labels: feature, tests, config

fix(accounts,profile): remove duplicate constructor param and align test URLs (#62)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/profile/services/media-client.service.spec.ts
Labels: feature, tests, config

fix(accounts): align UserRegisteredEvent field name with auth-service contract
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/shared/events/user-registered.event.ts
Labels: feature, tests, config

fix(accounts): align UserRegisteredEvent field name with auth-service contract (#63)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/shared/events/user-registered.event.ts
Labels: feature, tests, config

fix(accounts): align UserRegisteredEvent field name with auth-service contract (#63)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/shared/events/user-registered.event.ts
Labels: feature, tests, config
