Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

fix(cd): point to prod/ manifest path on main branch
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): point to prod/ manifest path on main branch
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(search): use HGET for Redis hash lookups and add DB fallback
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, tests, config

feat(cors): enable CORS for cross-origin requests
  src/main.ts
Labels: feature, config

style(profile): fix prettier formatting
  src/modules/profile/services/profile.service.ts
Labels: feature, config

fix(cd): point deploy/preprod to k8s/whispr/preprod path
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(search): use HGET for Redis hash lookups and add DB fallback
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, tests, config

fix(profile): index user in search after profile update
  src/modules/profile/services/profile.service.ts
Labels: feature, config

fix(search): use HGET for Redis search + index users on profile update
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

feat(cors): enable CORS for cross-origin requests
  src/main.ts
Labels: feature, config

fix(profile): index user in search after profile update
  src/modules/profile/services/profile.service.ts
Labels: feature, config

fix(cd): point deploy/preprod to k8s/whispr/preprod path
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: ci/cd, feature, config

fix(search): use HGET for Redis search + index users on profile update
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

style(profile): fix prettier formatting
  src/modules/profile/services/profile.service.ts
Labels: feature, config

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: ci/cd, feature, config

chore: remove /v1 URI versioning from all API routes
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: ci/cd, feature, tests, config

feat(search): add batch phone search endpoint and verify name search privacy
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, config

fix(test): update health-check spec to match actual port and path
  src/docker/health-check.spec.ts
Labels: feature, tests, config

fix(cache): remove duplicate hget method
  src/modules/cache/cache.service.ts
Labels: feature, config

fix(test): update health-check spec to match actual port and path
  src/docker/health-check.spec.ts
Labels: feature, tests, config

chore: remove /v1 URI versioning from all API routes
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: ci/cd, feature, tests, config

feat(search): add batch phone search endpoint and verify name search privacy
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, config

fix(cache): remove duplicate hget method
  src/modules/cache/cache.service.ts
Labels: feature, config

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: ci/cd, feature, config

chore: remove /v1 URI versioning from all API routes
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: ci/cd, feature, tests, config

fix(test): update health-check spec to match actual port and path
  src/docker/health-check.spec.ts
Labels: feature, tests, config

style(profile): fix prettier formatting
  src/modules/profile/services/profile.service.ts
Labels: feature, config

fix(cache): remove duplicate hget method
  src/modules/cache/cache.service.ts
Labels: feature, config

feat(search): add batch phone search endpoint and verify name search privacy
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, config

feat(cors): enable CORS for cross-origin requests
  src/main.ts
Labels: feature, config

fix(search): use HGET for Redis hash lookups and add DB fallback
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, tests, config

fix(search): use HGET for Redis search + index users on profile update
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(profile): index user in search after profile update
  src/modules/profile/services/profile.service.ts
Labels: feature, config

sync: preprod fixes to main (search, CORS, docker, /v1 removal) (#56)
  docker/dev/compose.yml
  docker/prod/Dockerfile
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: ci/cd, feature, tests, config

sync: preprod fixes to main (search, CORS, docker, /v1 removal) (#56)
  docker/dev/compose.yml
  docker/prod/Dockerfile
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: ci/cd, feature, tests, config

fix(cd): scope yq image update to Deployment/Job kind only
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): scope yq image update to Deployment/Job kind only
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): scope yq image update to Deployment/Job kind only
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): scope yq image update to Deployment/Job kind only
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
