Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

remove: unused files at repository root
  .dockerignore
  .dockerignore.prod
  .env.development
  .env.docker
  .env.example
  AGENTS.md
  Makefile
  scripts/health-check.ts
  scripts/init.sql
Labels: documentation, feature, config

remove: unused files at repository root
  .dockerignore
  .dockerignore.prod
  .env.development
  .env.docker
  .env.example
  AGENTS.md
  Makefile
  scripts/health-check.ts
  scripts/init.sql
Labels: documentation, feature, config

remove: unused files at repository root
  .dockerignore
  .dockerignore.prod
  .env.development
  .env.docker
  .env.example
  AGENTS.md
  Makefile
  scripts/health-check.ts
  scripts/init.sql
Labels: documentation, feature, config

move: update k8s manifests file extension
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: feature, config

move: update k8s manifests file extension
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: feature, config

move: update k8s manifests file extension
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: feature, config

move: update k8s manifests file extension
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: feature, config

ci: avoid infinite CI/CD loops in gitops workflows
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

ci: avoid infinite CI/CD loops in gitops workflows
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

ci: avoid infinite CI/CD loops in gitops workflows
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

ci: avoid infinite CI/CD loops in gitops workflows
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

chore(ci): update CD pipeline to target infrastructure repo and use WHISPR-259 prefix for pushes
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

chore(ci): update CD pipeline to target infrastructure repo and use WHISPR-259 prefix for pushes
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

chore(ci): update CD pipeline to target infrastructure repo and use WHISPR-259 prefix for pushes
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

chore(ci): update CD pipeline to target infrastructure repo and use WHISPR-259 prefix for pushes
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

chore(env): add .env.example for development
  docker/dev/.env.example
Labels: ci/cd, feature, config

chore(env): cleanup environment validation and remove unused variables (Twilio, JWT, gRPC URLs)
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
Labels: feature, tests, config

chore(env): add .env.example for development
  docker/dev/.env.example
Labels: ci/cd, feature, config

chore(env): cleanup environment validation and remove unused variables (Twilio, JWT, gRPC URLs)
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
Labels: feature, tests, config

chore(deploy): remove redundant k8s manifests (moved to infrastructure repo)
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: feature, config

style(app): align imports in AppModule
  src/app.module.ts
Labels: feature, config

chore(env): add .env.example for development
  docker/dev/.env.example
Labels: ci/cd, feature, config

style(app): align imports in AppModule
  src/app.module.ts
Labels: feature, config

refactor(config): standardize database environment variable names to use DATABASE_ prefix
  src/typeorm.config.ts
Labels: feature, config

style(app): align imports in AppModule
  src/app.module.ts
Labels: feature, config

refactor(config): standardize database environment variable names to use DATABASE_ prefix
  src/typeorm.config.ts
Labels: feature, config

style(app): align imports in AppModule
  src/app.module.ts
Labels: feature, config

chore(deploy): remove redundant k8s manifests (moved to infrastructure repo)
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: feature, config

refactor(config): standardize database environment variable names to use DATABASE_ prefix
  src/typeorm.config.ts
Labels: feature, config

chore(env): cleanup environment validation and remove unused variables (Twilio, JWT, gRPC URLs)
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
Labels: feature, tests, config

chore(env): cleanup environment validation and remove unused variables (Twilio, JWT, gRPC URLs)
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
Labels: feature, tests, config

chore(env): add .env.example for development
  docker/dev/.env.example
Labels: ci/cd, feature, config

refactor(config): standardize database environment variable names to use DATABASE_ prefix
  src/typeorm.config.ts
Labels: feature, config

chore(deploy): remove redundant k8s manifests (moved to infrastructure repo)
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: feature, config

chore(deploy): remove redundant k8s manifests (moved to infrastructure repo)
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: feature, config

refactor(cd): use generic branch naming and add manifest path validation
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): use generic branch naming and add manifest path validation
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): use generic branch naming and add manifest path validation
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): use generic branch naming and add manifest path validation
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

test(env): restore comprehensive test coverage including edge cases and formatting
  src/docker/check-env.spec.ts
Labels: feature, tests, config
