Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

fix: prevent redis auth with empty credentials and suppress test logs
  src/cache.config.spec.ts
  src/cache.config.ts
  src/health/health.controller.spec.ts
Labels: feature, tests, config

fix: prevent redis auth with empty credentials and suppress test logs
  src/cache.config.spec.ts
  src/cache.config.ts
  src/health/health.controller.spec.ts
Labels: feature, tests, config

fix: prevent redis auth with empty credentials and suppress test logs
  src/cache.config.spec.ts
  src/cache.config.ts
  src/health/health.controller.spec.ts
Labels: feature, tests, config

fix: suppress test logs in groups service and entrypoint
  Justfile
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
  src/groups/groups.service.spec.ts
Labels: feature, tests, config

fix: suppress test logs in groups service and entrypoint
  Justfile
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
  src/groups/groups.service.spec.ts
Labels: feature, tests, config

fix: suppress test logs in groups service and entrypoint
  Justfile
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
  src/groups/groups.service.spec.ts
Labels: feature, tests, config

fix: suppress test logs in groups service and entrypoint
  Justfile
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
  src/groups/groups.service.spec.ts
Labels: feature, tests, config

fix: ensure tests run in test environment and fix lint errors
  package.json
  src/groups/groups.service.spec.ts
Labels: feature, tests, config, dependencies

fix: ensure tests run in test environment and fix lint errors
  package.json
  src/groups/groups.service.spec.ts
Labels: feature, tests, config, dependencies

fix: ensure tests run in test environment and fix lint errors
  package.json
  src/groups/groups.service.spec.ts
Labels: feature, tests, config, dependencies

fix: ensure tests run in test environment and fix lint errors
  package.json
  src/groups/groups.service.spec.ts
Labels: feature, tests, config, dependencies

style: format health.controller.spec.ts
  src/health/health.controller.spec.ts
Labels: feature, tests, config

style: format health.controller.spec.ts
  src/health/health.controller.spec.ts
Labels: feature, tests, config

style: format health.controller.spec.ts
  src/health/health.controller.spec.ts
Labels: feature, tests, config

style: format health.controller.spec.ts
  src/health/health.controller.spec.ts
Labels: feature, tests, config

fix: add credentials to redis URL only in production
  src/cache.config.ts
Labels: feature, config

fix: add credentials to redis URL only in production
  src/cache.config.ts
Labels: feature, config

fix: add credentials to redis URL only in production
  src/cache.config.ts
Labels: feature, config

fix: add credentials to redis URL only in production
  src/cache.config.ts
Labels: feature, config

fix(e2e): expose redis/postgres ports and correct db credentials
  docker/dev/compose.yml
  test/docker/setup-docker-e2e.ts
Labels: ci/cd, feature, tests, config

fix(e2e): expose redis/postgres ports and correct db credentials
  docker/dev/compose.yml
  test/docker/setup-docker-e2e.ts
Labels: ci/cd, feature, tests, config

fix(e2e): expose redis/postgres ports and correct db credentials
  docker/dev/compose.yml
  test/docker/setup-docker-e2e.ts
Labels: ci/cd, feature, tests, config

fix(e2e): expose redis/postgres ports and correct db credentials
  docker/dev/compose.yml
  test/docker/setup-docker-e2e.ts
Labels: ci/cd, feature, tests, config

fix(ci): use correct env vars for redis and postgres connection
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(ci): use correct env vars for redis and postgres connection
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(ci): use correct env vars for redis and postgres connection
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(ci): use correct env vars for redis and postgres connection
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix: CI e2e tests env variables
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix: CI e2e tests env variables
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix: CI e2e tests env variables
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix: CI e2e tests env variables
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

[WHISPR-270] Updates BASE
  agent.md
  src/app.module.ts
  src/contacts/contacts.controller.ts
  src/contacts/contacts.module.ts
  src/contacts/contacts.service.spec.ts
  src/contacts/contacts.service.ts
  src/dto/create-contact-request.dto.ts
  src/dto/index.ts
  src/dto/respond-contact-request.dto.ts
  src/entities/contact-request.entity.ts
  src/entities/index.ts
  src/privacy/privacy.module.ts
  src/privacy/privacy.service.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
Labels: documentation, feature, tests, config

[WHISPR-270] Updates BASE
  agent.md
  src/app.module.ts
  src/contacts/contacts.controller.ts
  src/contacts/contacts.module.ts
  src/contacts/contacts.service.spec.ts
  src/contacts/contacts.service.ts
  src/dto/create-contact-request.dto.ts
  src/dto/index.ts
  src/dto/respond-contact-request.dto.ts
  src/entities/contact-request.entity.ts
  src/entities/index.ts
  src/privacy/privacy.module.ts
  src/privacy/privacy.service.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
Labels: documentation, feature, tests, config

[WHISPR-270] Updates BASE
  agent.md
  src/app.module.ts
  src/contacts/contacts.controller.ts
  src/contacts/contacts.module.ts
  src/contacts/contacts.service.spec.ts
  src/contacts/contacts.service.ts
  src/dto/create-contact-request.dto.ts
  src/dto/index.ts
  src/dto/respond-contact-request.dto.ts
  src/entities/contact-request.entity.ts
  src/entities/index.ts
  src/privacy/privacy.module.ts
  src/privacy/privacy.service.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
Labels: documentation, feature, tests, config

[WHISPR-270] Updates BASE
  agent.md
  src/app.module.ts
  src/contacts/contacts.controller.ts
  src/contacts/contacts.module.ts
  src/contacts/contacts.service.spec.ts
  src/contacts/contacts.service.ts
  src/dto/create-contact-request.dto.ts
  src/dto/index.ts
  src/dto/respond-contact-request.dto.ts
  src/entities/contact-request.entity.ts
  src/entities/index.ts
  src/privacy/privacy.module.ts
  src/privacy/privacy.service.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
Labels: documentation, feature, tests, config

[WHISPR-270] Updates BASE
  src/contacts/contacts.service.spec.ts
  src/contacts/contacts.service.ts
  src/dto/create-contact-request.dto.ts
  src/dto/respond-contact-request.dto.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/contacts/contacts.service.spec.ts
  src/contacts/contacts.service.ts
  src/dto/create-contact-request.dto.ts
  src/dto/respond-contact-request.dto.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/contacts/contacts.service.spec.ts
  src/contacts/contacts.service.ts
  src/dto/create-contact-request.dto.ts
  src/dto/respond-contact-request.dto.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/contacts/contacts.service.spec.ts
  src/contacts/contacts.service.ts
  src/dto/create-contact-request.dto.ts
  src/dto/respond-contact-request.dto.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  AGENTS.md
  src/privacy/privacy.service.spec.ts
  src/privacy/privacy.service.ts
  src/users/users.service.spec.ts
Labels: documentation, feature, tests, config
