Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

feat(profile): add media-service contract for avatar upload
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix: upgrade trivy-action to 0.35.0, fix eslint errors in media-client spec, apply prettier formatting
  .github/workflows/docker.yml
  .github/workflows/trivy.yml
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: ci/cd, feature, tests, config

fix(accounts): pass REDIS_USERNAME to AUTH command in microservice transports
  src/main.ts
  src/modules/accounts/accounts.module.ts
Labels: feature, config

fix(accounts): pass REDIS_USERNAME to AUTH command in microservice transports (#41)
  src/main.ts
  src/modules/accounts/accounts.module.ts
Labels: feature, config

fix(accounts): pass REDIS_USERNAME to AUTH command in microservice transports (#41)
  src/main.ts
  src/modules/accounts/accounts.module.ts
Labels: feature, config

fix(accounts): pass REDIS_USERNAME to AUTH command in microservice transports (#41)
  src/main.ts
  src/modules/accounts/accounts.module.ts
Labels: feature, config

chore(ci): upgrade trivy-action from 0.24.0 to 0.35.0
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

chore(ci): upgrade trivy-action in docker workflow from 0.24.0 to 0.35.0
  .github/workflows/docker.yml
Labels: ci/cd, feature, config

chore(ci): use v-prefixed tag for trivy-action (v0.35.0)
  .github/workflows/docker.yml
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

chore(ci): upgrade trivy-action from 0.24.0 to 0.35.0 (#42)
  .github/workflows/docker.yml
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

chore(ci): upgrade trivy-action from 0.24.0 to 0.35.0 (#42)
  .github/workflows/docker.yml
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

chore(ci): upgrade trivy-action from 0.24.0 to 0.35.0 (#42)
  .github/workflows/docker.yml
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

chore(docker): align dev/prod config with Tilt/k3d and JWKS migration
  docker/dev/.env.example
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/prod/.env.example
  package.json
  test/setup.ts
Labels: ci/cd, feature, tests, config, dependencies

chore(docker): add .dockerignore and skip npm install when node_modules exists
  .dockerignore
  docker/dev/Dockerfile
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

chore(docker): align dev/prod config with Tilt/k3d and JWKS migration (#43)
  .dockerignore
  docker/dev/.env.example
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/prod/.env.example
  package.json
  test/setup.ts
Labels: ci/cd, feature, tests, config, dependencies

chore(docker): align dev/prod config with Tilt/k3d and JWKS migration (#43)
  .dockerignore
  docker/dev/.env.example
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/prod/.env.example
  package.json
  test/setup.ts
Labels: ci/cd, feature, tests, config, dependencies

chore(docker): align dev/prod config with Tilt/k3d and JWKS migration (#43)
  .dockerignore
  docker/dev/.env.example
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/prod/.env.example
  package.json
  test/setup.ts
Labels: ci/cd, feature, tests, config, dependencies

feat(health): add JWKS readiness gate to block traffic until keys are loaded
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/jwt-auth/jwks-health.indicator.spec.ts
  src/modules/jwt-auth/jwks-health.indicator.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
  src/modules/jwt-auth/jwt-auth.module.ts
Labels: feature, tests, config

fix(health): run JWKS key loading in background to avoid blocking app init
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
Labels: feature, tests, config

fix(health): address Copilot review — empty keyset, error logging, background retry
  src/modules/health/health.controller.spec.ts
  src/modules/jwt-auth/jwks-health.indicator.spec.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
Labels: feature, tests, config

style(health): fix Prettier formatting in jwks.service.ts
  src/modules/jwt-auth/jwks.service.ts
Labels: feature, config

test(e2e): mock JwksService to prevent background retry loop during e2e tests
  test/app.e2e-spec.ts
Labels: feature, tests, config

fix(health): address second Copilot review round
  src/modules/health/health.controller.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
Labels: feature, tests, config

feat(health): add JWKS readiness gate to block traffic until keys are loaded (#44)
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/jwt-auth/jwks-health.indicator.spec.ts
  src/modules/jwt-auth/jwks-health.indicator.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  test/app.e2e-spec.ts
Labels: feature, tests, config

feat(health): add JWKS readiness gate to block traffic until keys are loaded (#44)
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/jwt-auth/jwks-health.indicator.spec.ts
  src/modules/jwt-auth/jwks-health.indicator.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  test/app.e2e-spec.ts
Labels: feature, tests, config

feat(health): add JWKS readiness gate to block traffic until keys are loaded (#44)
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/jwt-auth/jwks-health.indicator.spec.ts
  src/modules/jwt-auth/jwks-health.indicator.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  test/app.e2e-spec.ts
Labels: feature, tests, config

WHISPR-508 stabilize user k3d runtime
  docker/dev/Dockerfile
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

WHISPR-508 stabilize user k3d runtime (#45)
  docker/dev/Dockerfile
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

WHISPR-508 stabilize user k3d runtime (#45)
  docker/dev/Dockerfile
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

WHISPR-508 stabilize user k3d runtime (#45)
  docker/dev/Dockerfile
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

feat(profile): add media-service contract for avatar upload
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix: upgrade trivy-action to 0.35.0, fix eslint errors in media-client spec, apply prettier formatting
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(profile): address Copilot review comments on avatar media contract
  src/main.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, config

style: apply prettier formatting to profile module files
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, config

feat(profile): add media-service contract for avatar upload (#40)
  src/main.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

feat(profile): add media-service contract for avatar upload (#40)
  src/main.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

feat(profile): add media-service contract for avatar upload (#40)
  src/main.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: ci/cd, feature, config

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: ci/cd, feature, config

fix(contacts): add PATCH nickname endpoint
  docker/dev/Dockerfile
  src/main.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/update-contact.dto.ts
  src/modules/contacts/services/contacts.service.ts
Labels: ci/cd, feature, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
