Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

fix(cd): make migration-job.yaml optional in preprod validation
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): make migration-job.yaml optional in preprod validation
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

sync: reconcile deploy/preprod features into main
  src/database/migrations/1744364400000-CreateContactRequests.ts
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/contacts/dto/add-contact.dto.ts
Labels: feature, tests, config

sync: reconcile deploy/preprod features into main
  src/database/migrations/1744364400000-CreateContactRequests.ts
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/contacts/dto/add-contact.dto.ts
Labels: feature, tests, config

fix(cache): sanitize limit to finite integer in searchByName
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
Labels: feature, tests, config

[WHISPR-818] refactor(cache): remove dead code and KEYS anti-pattern from SearchIndexService (#86)
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
Labels: feature, tests, config

[WHISPR-818] refactor(cache): remove dead code and KEYS anti-pattern from SearchIndexService (#86)
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
Labels: feature, tests, config

fix(accounts): index activated user with correct isActive flag
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
Labels: feature, tests, config

test(accounts): add Redis failure resilience tests for deactivate, activate, remove
  src/modules/accounts/services/accounts.service.spec.ts
Labels: feature, tests, config

[WHISPR-825] fix(cache): call removeUserFromIndex on profile update, deactivate and remove (#87)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

[WHISPR-825] fix(cache): call removeUserFromIndex on profile update, deactivate and remove (#87)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(security): disable helmet CSP when Swagger is enabled
  src/main.ts
Labels: feature, config

fix(search): document maximum constraint on limit query parameter
  src/modules/search/controllers/user-search.controller.ts
Labels: feature, config

fix(database): add retry safety to non-transactional migration
  src/database/migrations/1775500200000-AddSecondaryIndexes.ts
Labels: feature, config

fix(test): add maxWorkers 1 to e2e jest config to prevent parallel interference
  test/jest-e2e.json
Labels: feature, tests, config

fix(contacts): use enum constant in partial index and restore down() signature
  src/database/migrations/1775500100000-ReplaceContactRequestUniqueWithPartialIndex.ts
  src/modules/contacts/entities/contact-request.entity.ts
Labels: feature, config

fix(swagger): update API operation summaries to reflect pagination
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/groups/controllers/groups.controller.ts
Labels: feature, config

fix(throttler): use custom HttpThrottlerGuard and reorder global guards
  src/modules/app.module.ts
  src/modules/http-throttler.guard.spec.ts
  src/modules/http-throttler.guard.ts
Labels: feature, tests, config

fix(security): configure CSP directives instead of disabling it
  src/main.ts
Labels: feature, config

fix(test): specify HS256 algorithm in TestJwtStrategy
  test/functional.e2e-spec.ts
Labels: feature, tests, config

test(profile): add unit tests for UserResponseDto.fromEntity
  src/modules/common/dto/user-response.dto.spec.ts
Labels: feature, tests, config

test(users): add tests for User entity and AddDeletedAt migration
  src/database/migrations/1775500000000-AddDeletedAtToUsers.spec.ts
  src/modules/common/entities/user.entity.spec.ts
Labels: feature, tests, config

refactor(pagination): extract shared cursor pagination helper to reduce duplication
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/common/utils/cursor-pagination.util.spec.ts
  src/modules/common/utils/cursor-pagination.util.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/groups/repositories/groups.repository.ts
Labels: feature, tests, config

fix(test): move migration spec out of migrations directory
  .husky/pre-commit
  .husky/pre-push
  src/database/migrations/__tests__/AddDeletedAtToUsers.spec.ts
Labels: feature, tests, config

style(pagination): fix formatting
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/contacts/repositories/contact-requests.repository.spec.ts
  src/modules/contacts/repositories/contacts.repository.spec.ts
  src/modules/groups/repositories/groups.repository.spec.ts
Labels: feature, tests, config

fix(coverage): include DTO files in coverage collection
  package.json
Labels: feature, config, dependencies

test(database): add unit tests for contact request partial index migration
  src/database/migrations/__tests__/ReplaceContactRequestUniqueWithPartialIndex.spec.ts
Labels: feature, tests, config

test(database): add unit tests for secondary indexes migration
  src/database/migrations/__tests__/AddSecondaryIndexes.spec.ts
Labels: feature, tests, config

[WHISPR-814] fix(users): add @DeleteDateColumn, privacySettings relation and fix nullable types
  .husky/pre-commit
  .husky/pre-push
  src/database/migrations/1775500000000-AddDeletedAtToUsers.ts
  src/database/migrations/__tests__/AddDeletedAtToUsers.spec.ts
  src/modules/common/entities/user.entity.spec.ts
  src/modules/common/entities/user.entity.ts
Labels: feature, tests, config

[WHISPR-814] fix(users): add @DeleteDateColumn, privacySettings relation and fix nullable types
  .husky/pre-commit
  .husky/pre-push
  src/database/migrations/1775500000000-AddDeletedAtToUsers.ts
  src/database/migrations/__tests__/AddDeletedAtToUsers.spec.ts
  src/modules/common/entities/user.entity.spec.ts
  src/modules/common/entities/user.entity.ts
Labels: feature, tests, config

[WHISPR-827] refactor(cache): remove unused CacheService methods
  src/modules/cache/cache.service.spec.ts
  src/modules/cache/cache.service.ts
Labels: feature, tests, config

[WHISPR-827] refactor(cache): remove unused CacheService methods
  src/modules/cache/cache.service.spec.ts
  src/modules/cache/cache.service.ts
Labels: feature, tests, config

[WHISPR-826] chore(config): remove unused DatabaseConfig class and AppDataSource
  src/config/database.config.spec.ts
  src/config/database.config.ts
Labels: feature, tests, config

[WHISPR-826] chore(config): remove unused DatabaseConfig class and AppDataSource
  src/config/database.config.spec.ts
  src/config/database.config.ts
Labels: feature, tests, config

[WHISPR-820] feat(security): add global rate-limiting with @nestjs/throttler
  package-lock.json
  package.json
  src/modules/app.module.ts
  src/modules/health/health.controller.ts
  src/modules/http-throttler.guard.spec.ts
  src/modules/http-throttler.guard.ts
  src/modules/search/controllers/user-search.controller.ts
Labels: feature, tests, config, dependencies

[WHISPR-820] feat(security): add global rate-limiting with @nestjs/throttler
  package-lock.json
  package.json
  src/modules/app.module.ts
  src/modules/health/health.controller.ts
  src/modules/http-throttler.guard.spec.ts
  src/modules/http-throttler.guard.ts
  src/modules/search/controllers/user-search.controller.ts
Labels: feature, tests, config, dependencies

[WHISPR-829] fix(search): add query DTOs with validation, cap limit and escape wildcards
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/name-search-query.dto.ts
  src/modules/search/dto/phone-search-query.dto.ts
Labels: feature, tests, config

[WHISPR-829] fix(search): add query DTOs with validation, cap limit and escape wildcards
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/name-search-query.dto.ts
  src/modules/search/dto/phone-search-query.dto.ts
Labels: feature, tests, config

[WHISPR-823] refactor(api): remove redundant :ownerId parameter, use JWT sub claim
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/contacts/controllers/contact-requests.controller.spec.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.spec.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/controllers/privacy.controller.ts
Labels: feature, tests, config

[WHISPR-823] refactor(api): remove redundant :ownerId parameter, use JWT sub claim
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/contacts/controllers/contact-requests.controller.spec.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.spec.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/controllers/privacy.controller.ts
Labels: feature, tests, config
