Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

[WHISPR-824] test(e2e): raise coverage thresholds and add 5 functional e2e scenarios
  package-lock.json
  package.json
  test/functional.e2e-spec.ts
  test/jest-e2e.json
  test/setup-e2e.ts
Labels: feature, tests, config, dependencies

[WHISPR-824] test(e2e): raise coverage thresholds and add 5 functional e2e scenarios
  package-lock.json
  package.json
  test/functional.e2e-spec.ts
  test/jest-e2e.json
  test/setup-e2e.ts
Labels: feature, tests, config, dependencies

test(bootstrap): add unit test for main.ts middleware setup
  .husky/pre-commit
  .husky/pre-push
  package.json
  src/main.spec.ts
  src/main.ts
Labels: feature, tests, config, dependencies

fix(e2e): update functional test routes after ownerId removal
  test/functional.e2e-spec.ts
Labels: feature, tests, config

test(e2e): update functional tests for parameterless routes and paginated responses
  test/functional.e2e-spec.ts
Labels: feature, tests, config

[WHISPR-816] fix(contacts): replace unique constraint with partial index on pending requests
  src/database/migrations/1775500100000-ReplaceContactRequestUniqueWithPartialIndex.ts
  src/database/migrations/__tests__/ReplaceContactRequestUniqueWithPartialIndex.spec.ts
  src/modules/contacts/entities/contact-request.entity.ts
Labels: feature, tests, config

[WHISPR-816] fix(contacts): replace unique constraint with partial index on pending requests
  src/database/migrations/1775500100000-ReplaceContactRequestUniqueWithPartialIndex.ts
  src/database/migrations/__tests__/ReplaceContactRequestUniqueWithPartialIndex.spec.ts
  src/modules/contacts/entities/contact-request.entity.ts
Labels: feature, tests, config

[WHISPR-830] perf(database): add missing secondary indexes on blocked_users, contacts and users
  src/database/migrations/1775500200000-AddSecondaryIndexes.ts
  src/database/migrations/__tests__/AddSecondaryIndexes.spec.ts
Labels: feature, tests, config

[WHISPR-830] perf(database): add missing secondary indexes on blocked_users, contacts and users
  src/database/migrations/1775500200000-AddSecondaryIndexes.ts
  src/database/migrations/__tests__/AddSecondaryIndexes.spec.ts
Labels: feature, tests, config

[WHISPR-821] feat(profile): add UserResponseDto and remove profilePictureUrl from UpdateProfileDto
  package.json
  src/modules/common/dto/user-response.dto.spec.ts
  src/modules/common/dto/user-response.dto.ts
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config, dependencies

[WHISPR-821] feat(profile): add UserResponseDto and remove profilePictureUrl from UpdateProfileDto
  package.json
  src/modules/common/dto/user-response.dto.spec.ts
  src/modules/common/dto/user-response.dto.ts
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config, dependencies

[WHISPR-822] feat(api): add cursor-based pagination on contacts, blocked-users, groups and requests
  package-lock.json
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
  src/modules/common/dto/cursor-pagination.dto.ts
  src/modules/common/utils/cursor-pagination.util.spec.ts
  src/modules/common/utils/cursor-pagination.util.ts
  src/modules/contacts/controllers/contact-requests.controller.spec.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.spec.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/repositories/contact-requests.repository.spec.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/repositories/contacts.repository.spec.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/groups/repositories/groups.repository.spec.ts
  src/modules/groups/repositories/groups.repository.ts
  src/modules/groups/services/groups.service.spec.ts
  src/modules/groups/services/groups.service.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config, dependencies

[WHISPR-822] feat(api): add cursor-based pagination on contacts, blocked-users, groups and requests
  package-lock.json
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
  src/modules/common/dto/cursor-pagination.dto.ts
  src/modules/common/utils/cursor-pagination.util.spec.ts
  src/modules/common/utils/cursor-pagination.util.ts
  src/modules/contacts/controllers/contact-requests.controller.spec.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.spec.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/repositories/contact-requests.repository.spec.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/repositories/contacts.repository.spec.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/groups/repositories/groups.repository.spec.ts
  src/modules/groups/repositories/groups.repository.ts
  src/modules/groups/services/groups.service.spec.ts
  src/modules/groups/services/groups.service.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config, dependencies

[WHISPR-819] feat(observability): add X-Request-Id propagation and sanitize log output
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

[WHISPR-819] feat(observability): add X-Request-Id propagation and sanitize log output
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(test): reset schema before app E2E tests to avoid TypeORM enum conflicts
  test/app.e2e-spec.ts
Labels: feature, tests, config

fix(coverage): remove main.ts and dto exclusions from coverage collection
  package.json
Labels: feature, config, dependencies

[WHISPR-817] feat(security): add helmet and compression middleware
  package.json
  src/main.spec.ts
  src/main.ts
  test/app.e2e-spec.ts
Labels: feature, tests, config, dependencies

[WHISPR-817] feat(security): add helmet and compression middleware
  package.json
  src/main.spec.ts
  src/main.ts
  test/app.e2e-spec.ts
Labels: feature, tests, config, dependencies

fix(bootstrap): remove require.main guard that prevented Docker entrypoint from starting
  package.json
  src/main.spec.ts
  src/main.ts
Labels: feature, tests, config, dependencies

fix(main): remove require.main guard that prevents bootstrap via entrypoint
  src/main.ts
Labels: feature, config

fix(main): remove require.main guard that prevents bootstrap via entrypoint
  src/main.ts
Labels: feature, config

fix(main): export bootstrap and call it explicitly from entrypoint
  src/docker/entrypoint.ts
  src/main.ts
Labels: feature, config

fix(main): export bootstrap and call it explicitly from entrypoint
  src/docker/entrypoint.ts
  src/main.ts
Labels: feature, config

fix(main): export bootstrap and call it explicitly from entrypoint
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
Labels: feature, tests, config

fix(main): export bootstrap and call it explicitly from entrypoint
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
Labels: feature, tests, config

fix(main): remove duplicate export of bootstrap
  src/main.ts
Labels: feature, config

fix(main): remove duplicate export of bootstrap
  src/main.ts
Labels: feature, config

fix(main): use namespace import for compression (CommonJS module)
  src/main.ts
Labels: feature, config

fix(main): use namespace import for compression (CommonJS module)
  src/main.ts
Labels: feature, config

fix(tsconfig): enable esModuleInterop for correct default imports
  src/main.ts
  tsconfig.json
Labels: feature, config

fix(tsconfig): enable esModuleInterop for correct default imports
  src/main.ts
  tsconfig.json
Labels: feature, config

fix(build): enable esModuleInterop in build config for compression import
  tsconfig.build.json
  tsconfig.json
Labels: feature, config

fix(build): enable esModuleInterop in build config for compression import
  tsconfig.build.json
  tsconfig.json
Labels: feature, config

feat(moderation): add roles module with user/moderator/admin role system
  src/database/migrations/1776000000000-CreateUserRoles.ts
  src/modules/app.module.ts
  src/modules/roles/controllers/roles.controller.ts
  src/modules/roles/dto/set-role.dto.ts
  src/modules/roles/entities/user-role.entity.ts
  src/modules/roles/repositories/roles.repository.ts
  src/modules/roles/roles.module.ts
  src/modules/roles/services/roles.service.ts
Labels: feature, config

feat(moderation): add roles module with user/moderator/admin role system
  src/database/migrations/1776000000000-CreateUserRoles.ts
  src/modules/app.module.ts
  src/modules/roles/controllers/roles.controller.ts
  src/modules/roles/dto/set-role.dto.ts
  src/modules/roles/entities/user-role.entity.ts
  src/modules/roles/repositories/roles.repository.ts
  src/modules/roles/roles.module.ts
  src/modules/roles/services/roles.service.ts
Labels: feature, config

feat(moderation): add sanctions module with warning/temp_ban/perm_ban and admin controls
  src/database/migrations/1776000100000-CreateUserSanctions.ts
  src/modules/app.module.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/sanctions/dto/create-sanction.dto.ts
  src/modules/sanctions/entities/user-sanction.entity.ts
  src/modules/sanctions/repositories/sanctions.repository.ts
  src/modules/sanctions/sanctions.module.ts
  src/modules/sanctions/services/sanctions.service.ts
Labels: feature, config

feat(moderation): add sanctions module with warning/temp_ban/perm_ban and admin controls
  src/database/migrations/1776000100000-CreateUserSanctions.ts
  src/modules/app.module.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/sanctions/dto/create-sanction.dto.ts
  src/modules/sanctions/entities/user-sanction.entity.ts
  src/modules/sanctions/repositories/sanctions.repository.ts
  src/modules/sanctions/sanctions.module.ts
  src/modules/sanctions/services/sanctions.service.ts
Labels: feature, config

feat(moderation): add appeals module with contestation workflow and auto-lift on accept
  src/database/migrations/1776000200000-CreateAppeals.ts
  src/modules/app.module.ts
  src/modules/appeals/appeals.module.ts
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/dto/create-appeal.dto.ts
  src/modules/appeals/dto/review-appeal.dto.ts
  src/modules/appeals/entities/appeal.entity.ts
  src/modules/appeals/repositories/appeals.repository.ts
  src/modules/appeals/services/appeals.service.ts
Labels: feature, config

feat(moderation): add appeals module with contestation workflow and auto-lift on accept
  src/database/migrations/1776000200000-CreateAppeals.ts
  src/modules/app.module.ts
  src/modules/appeals/appeals.module.ts
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/dto/create-appeal.dto.ts
  src/modules/appeals/dto/review-appeal.dto.ts
  src/modules/appeals/entities/appeal.entity.ts
  src/modules/appeals/repositories/appeals.repository.ts
  src/modules/appeals/services/appeals.service.ts
Labels: feature, config
