Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

fix(contacts): correct PATCH semantics and revert unrelated changes
  docker/dev/Dockerfile
  src/main.ts
  src/modules/contacts/dto/update-contact.dto.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
Labels: ci/cd, feature, tests, config

feat(contacts): add contact request system with send/accept/reject/cancel
  src/database/migrations/1744364400000-CreateContactRequests.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/dto/send-contact-request.dto.ts
  src/modules/contacts/entities/contact-request.entity.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, config

feat(contacts): add contact request system with send/accept/reject/cancel
  src/database/migrations/1744364400000-CreateContactRequests.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/dto/send-contact-request.dto.ts
  src/modules/contacts/entities/contact-request.entity.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, config

fix(contacts): use permissive UUID regex in AddContactDto
  src/modules/contacts/dto/add-contact.dto.ts
Labels: feature, config

fix(contacts): use permissive UUID regex in AddContactDto
  src/modules/contacts/dto/add-contact.dto.ts
Labels: feature, config

style(contacts): fix prettier formatting on contact request files
  src/database/migrations/1744364400000-CreateContactRequests.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, config

style(contacts): fix prettier formatting on contact request files
  src/database/migrations/1744364400000-CreateContactRequests.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, config

fix(contacts): enforce ownership on all contacts routes
  src/modules/contacts/controllers/contacts.controller.ts
Labels: feature, config

fix(contacts): skip DB write on empty PATCH and document 401 responses
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
Labels: feature, tests, config

fix(contacts): add PATCH nickname endpoint and harden ownership (#69)
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/update-contact.dto.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
Labels: feature, tests, config

fix(contacts): add PATCH nickname endpoint and harden ownership (#69)
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/update-contact.dto.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
Labels: feature, tests, config

fix(accounts): avoid double-indexing user on createFromEvent
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
Labels: feature, tests, config

chore: trigger CI pipeline
  src/main.ts
Labels: feature, config

chore: trigger CI pipeline
  src/main.ts
Labels: feature, config

chore(ci): migrate Sonar analysis to SonarCloud for free OSS analysis
  .github/workflows/tests.yml
  sonar-project.properties
Labels: ci/cd, feature, config

fix(accounts): avoid double-indexing user on createFromEvent (#73)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
Labels: feature, tests, config

fix(accounts): avoid double-indexing user on createFromEvent (#73)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
Labels: feature, tests, config

chore(ci): hardcode SonarCloud host URL and gate only on SONAR_TOKEN
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

[WHISPR-768] Migrate Sonar analysis to SonarCloud for free OSS analysis (#74)
  .github/workflows/tests.yml
  sonar-project.properties
Labels: ci/cd, feature, config

[WHISPR-768] Migrate Sonar analysis to SonarCloud for free OSS analysis (#74)
  .github/workflows/tests.yml
  sonar-project.properties
Labels: ci/cd, feature, config

test(search): cover searchByPhoneBatch edge cases
  src/modules/search/services/user-search.service.spec.ts
Labels: feature, tests, config

fix(contacts): add @IsString and @IsNotEmpty validators to AddContactDto
  src/modules/contacts/dto/add-contact.dto.ts
Labels: feature, config

fix(contacts): add @IsString and @IsNotEmpty validators to AddContactDto
  src/modules/contacts/dto/add-contact.dto.ts
Labels: feature, config

test(search): cover searchByPhoneBatch edge cases (#75)
  src/modules/search/services/user-search.service.spec.ts
Labels: feature, tests, config

test(search): cover searchByPhoneBatch edge cases (#75)
  src/modules/search/services/user-search.service.spec.ts
Labels: feature, tests, config

feat(contacts): add contact requests (send/accept/reject/cancel)
  src/database/migrations/1775488800000-CreateContactRequests.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contact-requests.controller.spec.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/dto/send-contact-request.dto.ts
  src/modules/contacts/entities/contact-request.entity.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, tests, config

fix(build): add migration.config.ts and disable webpack bundling
  nest-cli.json
  src/migrations/migration.config.ts
  tsconfig.build.json
Labels: feature, config, database

fix(build): add migration.config.ts and disable webpack bundling
  nest-cli.json
  src/migrations/migration.config.ts
  tsconfig.build.json
Labels: feature, config, database

feat(contacts): add contact requests (send/accept/reject/cancel) (#76)
  src/database/migrations/1775488800000-CreateContactRequests.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contact-requests.controller.spec.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/dto/send-contact-request.dto.ts
  src/modules/contacts/entities/contact-request.entity.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, tests, config

feat(contacts): add contact requests (send/accept/reject/cancel) (#76)
  src/database/migrations/1775488800000-CreateContactRequests.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contact-requests.controller.spec.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/dto/send-contact-request.dto.ts
  src/modules/contacts/entities/contact-request.entity.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, tests, config

refactor(migrations): centralize migration DataSource and fix missing entity
  package.json
  src/database/migration.config.spec.ts
  src/database/migration.config.ts
  src/migrations/migration.config.ts
  src/typeorm.config.ts
Labels: feature, tests, config, dependencies, database

refactor(migrations): centralize migration DataSource and fix missing entity
  package.json
  src/database/migration.config.spec.ts
  src/database/migration.config.ts
  src/migrations/migration.config.ts
  src/typeorm.config.ts
Labels: feature, tests, config, dependencies, database

test(coverage): add unit tests for controllers and repositories
  src/modules/accounts/events/events.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/contacts/controllers/contacts.controller.spec.ts
  src/modules/contacts/repositories/contact-requests.repository.spec.ts
  src/modules/contacts/repositories/contacts.repository.spec.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/repositories/groups.repository.spec.ts
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/repositories/privacy-settings.repository.spec.ts
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/search/controllers/user-search.controller.spec.ts
Labels: feature, tests, config

test(coverage): add unit tests for controllers and repositories (#78)
  src/modules/accounts/events/events.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/contacts/controllers/contacts.controller.spec.ts
  src/modules/contacts/repositories/contact-requests.repository.spec.ts
  src/modules/contacts/repositories/contacts.repository.spec.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/repositories/groups.repository.spec.ts
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/repositories/privacy-settings.repository.spec.ts
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/search/controllers/user-search.controller.spec.ts
Labels: feature, tests, config

test(coverage): add unit tests for controllers and repositories (#78)
  src/modules/accounts/events/events.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/contacts/controllers/contacts.controller.spec.ts
  src/modules/contacts/repositories/contact-requests.repository.spec.ts
  src/modules/contacts/repositories/contacts.repository.spec.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/repositories/groups.repository.spec.ts
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/repositories/privacy-settings.repository.spec.ts
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/search/controllers/user-search.controller.spec.ts
Labels: feature, tests, config

chore(docs): remove beads tracking and refresh CLAUDE.md workflow
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/dolt-monitor.pid.lock
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitignore
  CLAUDE.md
Labels: documentation, feature, config

chore(docs): address Copilot review on PR 79
  AGENTS.md
  CLAUDE.md
Labels: documentation, feature, config

chore(docs): clarify e2e host path and inline husky message
  CLAUDE.md
Labels: documentation, feature, config

chore(docs): dedupe the sprint-id JQL snippet
  CLAUDE.md
Labels: documentation, feature, config

chore(docs): remove beads and refresh CLAUDE.md workflow (#79)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/dolt-monitor.pid.lock
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Labels: documentation, feature, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
