Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

fix(ci): revert Node version from 24 to 22.21 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(ci): revert Node version from 24 to 22.21 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

test(accounts,migrations): raise coverage for stream consumer and SeedFirstAdmin
  src/database/migrations/__tests__/SeedFirstAdmin.spec.ts
  src/modules/accounts/services/user-registered-stream.consumer.spec.ts
Labels: feature, tests, config

test(accounts,migrations): raise coverage for stream consumer and SeedFirstAdmin
  src/database/migrations/__tests__/SeedFirstAdmin.spec.ts
  src/modules/accounts/services/user-registered-stream.consumer.spec.ts
Labels: feature, tests, config

chore(ci): bump github/codeql-action v3 to v4
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

chore(ci): bump github/codeql-action v3 to v4
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

chore(ci): bump github/codeql-action v3 to v4
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

feat(moderation): endpoints bulk pour appeals et sanctions — Closes WHISPR-1063
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/dto/bulk-review-appeals.dto.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/sanctions/dto/bulk-lift-sanctions.dto.ts
  src/modules/sanctions/services/sanctions.service.spec.ts
  src/modules/sanctions/services/sanctions.service.ts
Labels: feature, tests, config

feat(moderation): endpoints bulk pour appeals et sanctions — Closes WHISPR-1063
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/dto/bulk-review-appeals.dto.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/sanctions/dto/bulk-lift-sanctions.dto.ts
  src/modules/sanctions/services/sanctions.service.spec.ts
  src/modules/sanctions/services/sanctions.service.ts
Labels: feature, tests, config

feat(moderation): endpoints bulk pour appeals et sanctions — Closes WHISPR-1063
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/dto/bulk-review-appeals.dto.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/sanctions/dto/bulk-lift-sanctions.dto.ts
  src/modules/sanctions/services/sanctions.service.spec.ts
  src/modules/sanctions/services/sanctions.service.ts
Labels: feature, tests, config

feat(retention): cron de purge RGPD quotidien pour appeals et audit logs — Closes WHISPR-1057
  src/modules/app.module.ts
  src/modules/appeals/repositories/appeals.repository.ts
  src/modules/audit/repositories/audit.repository.ts
  src/modules/retention/gdpr-retention.service.spec.ts
  src/modules/retention/gdpr-retention.service.ts
  src/modules/retention/retention.constants.ts
  src/modules/retention/retention.module.ts
Labels: feature, tests, config

feat(retention): cron de purge RGPD quotidien pour appeals et audit logs — Closes WHISPR-1057
  src/modules/app.module.ts
  src/modules/appeals/repositories/appeals.repository.ts
  src/modules/audit/repositories/audit.repository.ts
  src/modules/retention/gdpr-retention.service.spec.ts
  src/modules/retention/gdpr-retention.service.ts
  src/modules/retention/retention.constants.ts
  src/modules/retention/retention.module.ts
Labels: feature, tests, config

feat(retention): cron de purge RGPD quotidien pour appeals et audit logs — Closes WHISPR-1057
  src/modules/app.module.ts
  src/modules/appeals/repositories/appeals.repository.ts
  src/modules/audit/repositories/audit.repository.ts
  src/modules/retention/gdpr-retention.service.spec.ts
  src/modules/retention/gdpr-retention.service.ts
  src/modules/retention/retention.constants.ts
  src/modules/retention/retention.module.ts
Labels: feature, tests, config

feat(audit): filtre dateFrom/dateTo et piste d'audit consolidée pour les sanctions — Closes WHISPR-1053
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/audit/repositories/audit.repository.ts
  src/modules/audit/services/audit.service.ts
  src/modules/sanctions/sanctions.module.ts
  src/modules/sanctions/services/sanctions-extended.service.spec.ts
  src/modules/sanctions/services/sanctions.service.spec.ts
  src/modules/sanctions/services/sanctions.service.ts
Labels: feature, tests, config

feat(audit): filtre dateFrom/dateTo et piste d'audit consolidée pour les sanctions — Closes WHISPR-1053
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/audit/repositories/audit.repository.ts
  src/modules/audit/services/audit.service.ts
  src/modules/sanctions/sanctions.module.ts
  src/modules/sanctions/services/sanctions-extended.service.spec.ts
  src/modules/sanctions/services/sanctions.service.spec.ts
  src/modules/sanctions/services/sanctions.service.ts
Labels: feature, tests, config

feat(audit): filtre dateFrom/dateTo et piste d'audit consolidée pour les sanctions — Closes WHISPR-1053
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/audit/repositories/audit.repository.ts
  src/modules/audit/services/audit.service.ts
  src/modules/sanctions/sanctions.module.ts
  src/modules/sanctions/services/sanctions-extended.service.spec.ts
  src/modules/sanctions/services/sanctions.service.spec.ts
  src/modules/sanctions/services/sanctions.service.ts
Labels: feature, tests, config

test(repositories): combler les trous de couverture sur audit, reputation, webhooks, appeals et sanctions — Closes WHISPR-1051
  src/modules/appeals/repositories/appeals.repository.spec.ts
  src/modules/audit/repositories/audit.repository.spec.ts
  src/modules/reputation/repositories/reputation.repository.spec.ts
  src/modules/sanctions/repositories/sanctions.repository.spec.ts
  src/modules/webhooks/repositories/webhooks.repository.spec.ts
Labels: feature, tests, config

test(repositories): combler les trous de couverture sur audit, reputation, webhooks, appeals et sanctions — Closes WHISPR-1051
  src/modules/appeals/repositories/appeals.repository.spec.ts
  src/modules/audit/repositories/audit.repository.spec.ts
  src/modules/reputation/repositories/reputation.repository.spec.ts
  src/modules/sanctions/repositories/sanctions.repository.spec.ts
  src/modules/webhooks/repositories/webhooks.repository.spec.ts
Labels: feature, tests, config

test(repositories): combler les trous de couverture sur audit, reputation, webhooks, appeals et sanctions — Closes WHISPR-1051
  src/modules/appeals/repositories/appeals.repository.spec.ts
  src/modules/audit/repositories/audit.repository.spec.ts
  src/modules/reputation/repositories/reputation.repository.spec.ts
  src/modules/sanctions/repositories/sanctions.repository.spec.ts
  src/modules/webhooks/repositories/webhooks.repository.spec.ts
Labels: feature, tests, config

feat(logs): logger JSON structuré via LOG_FORMAT=json — WHISPR-1068
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
  src/main.ts
  src/utils/json-logger.spec.ts
  src/utils/json-logger.ts
Labels: feature, tests, config

feat(logs): logger JSON structuré via LOG_FORMAT=json — WHISPR-1068
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
  src/main.ts
  src/utils/json-logger.spec.ts
  src/utils/json-logger.ts
Labels: feature, tests, config

feat(logs): logger JSON structuré via LOG_FORMAT=json — WHISPR-1068
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
  src/main.ts
  src/utils/json-logger.spec.ts
  src/utils/json-logger.ts
Labels: feature, tests, config

feat(backups): add rate limit on backup upload
  src/modules/backups/services/backups.service.ts
Labels: feature, config

feat(backups): add REST endpoints for user backup storage
  src/modules/app.module.ts
  src/modules/backups/backups.module.ts
  src/modules/backups/controllers/backups.controller.ts
Labels: feature, config

test(backups): add controller + service coverage
  src/modules/backups/controllers/backups.controller.spec.ts
  src/modules/backups/services/backups.service.spec.ts
Labels: feature, tests, config

feat(db): add user_backups table migration
  src/database/migrations/1776000800000-CreateUserBackups.ts
Labels: feature, config

test(backups): add controller + service coverage
  src/modules/backups/controllers/backups.controller.spec.ts
  src/modules/backups/services/backups.service.spec.ts
Labels: feature, tests, config

feat(db): add user_backups table migration
  src/database/migrations/1776000800000-CreateUserBackups.ts
Labels: feature, config

feat(db): add user_backups table migration
  src/database/migrations/1776000800000-CreateUserBackups.ts
Labels: feature, config

feat(backups): add rate limit on backup upload
  src/modules/backups/services/backups.service.ts
Labels: feature, config

feat(backups): add rate limit on backup upload
  src/modules/backups/services/backups.service.ts
Labels: feature, config

feat(backups): add BackupsService with create/list/get
  src/modules/backups/dto/create-backup.dto.ts
  src/modules/backups/entities/user-backup.entity.ts
  src/modules/backups/repositories/user-backup.repository.ts
  src/modules/backups/services/backups.service.ts
Labels: feature, config

feat(backups): add BackupsService with create/list/get
  src/modules/backups/dto/create-backup.dto.ts
  src/modules/backups/entities/user-backup.entity.ts
  src/modules/backups/repositories/user-backup.repository.ts
  src/modules/backups/services/backups.service.ts
Labels: feature, config

feat(backups): add REST endpoints for user backup storage
  src/modules/app.module.ts
  src/modules/backups/backups.module.ts
  src/modules/backups/controllers/backups.controller.ts
Labels: feature, config

test(backups): add controller + service coverage
  src/modules/backups/controllers/backups.controller.spec.ts
  src/modules/backups/services/backups.service.spec.ts
Labels: feature, tests, config

feat(backups): add BackupsService with create/list/get
  src/modules/backups/dto/create-backup.dto.ts
  src/modules/backups/entities/user-backup.entity.ts
  src/modules/backups/repositories/user-backup.repository.ts
  src/modules/backups/services/backups.service.ts
Labels: feature, config

feat(backups): add REST endpoints for user backup storage
  src/modules/app.module.ts
  src/modules/backups/backups.module.ts
  src/modules/backups/controllers/backups.controller.ts
Labels: feature, config

style(backups): apply prettier formatting
  src/modules/backups/controllers/backups.controller.ts
  src/modules/backups/entities/user-backup.entity.ts
  src/modules/backups/services/backups.service.ts
Labels: feature, config

style(backups): apply prettier formatting
  src/modules/backups/controllers/backups.controller.ts
  src/modules/backups/entities/user-backup.entity.ts
  src/modules/backups/services/backups.service.ts
Labels: feature, config

style(backups): apply prettier formatting
  src/modules/backups/controllers/backups.controller.ts
  src/modules/backups/entities/user-backup.entity.ts
  src/modules/backups/services/backups.service.ts
Labels: feature, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
