Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

chore(docs): remove beads and refresh CLAUDE.md workflow (#79)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/dolt-monitor.pid.lock
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Labels: documentation, feature, config

fix(auth): enforce assertOwnership access control on all user-scoped controllers
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/jwt-auth/ownership.util.spec.ts
  src/modules/jwt-auth/ownership.util.ts
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/controllers/privacy.controller.ts
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, tests, config

fix(auth): add optional custom message to assertOwnership
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/jwt-auth/ownership.util.ts
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, config

[WHISPR-812] fix(auth): enforce assertOwnership access control on all user-scoped controllers (#80)
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/jwt-auth/ownership.util.spec.ts
  src/modules/jwt-auth/ownership.util.ts
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/controllers/privacy.controller.ts
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, tests, config

[WHISPR-812] fix(auth): enforce assertOwnership access control on all user-scoped controllers (#80)
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/jwt-auth/ownership.util.spec.ts
  src/modules/jwt-auth/ownership.util.ts
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/controllers/privacy.controller.ts
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, tests, config

fix(jwt-auth): validate issuer, audience and user existence in JwtStrategy
  src/docker/check-env/env-config.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  src/modules/jwt-auth/jwt.strategy.spec.ts
  src/modules/jwt-auth/jwt.strategy.ts
Labels: feature, tests, config

fix(jwt-auth): add JWT_ISSUER and JWT_AUDIENCE to test and CI environments
  .github/workflows/tests.yml
  docker/dev/.env.example
  docker/prod/.env.example
  docker/test/compose.yml
Labels: ci/cd, feature, config

fix(jwt-auth): use generic unauthorized message to prevent user enumeration
  src/modules/jwt-auth/jwt.strategy.spec.ts
  src/modules/jwt-auth/jwt.strategy.ts
Labels: feature, tests, config

[WHISPR-813] fix(jwt-auth): validate issuer, audience and user existence in JwtStrategy (#82)
  .github/workflows/tests.yml
  docker/dev/.env.example
  docker/prod/.env.example
  docker/test/compose.yml
  src/docker/check-env/env-config.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  src/modules/jwt-auth/jwt.strategy.spec.ts
  src/modules/jwt-auth/jwt.strategy.ts
Labels: ci/cd, feature, tests, config

[WHISPR-813] fix(jwt-auth): validate issuer, audience and user existence in JwtStrategy (#82)
  .github/workflows/tests.yml
  docker/dev/.env.example
  docker/prod/.env.example
  docker/test/compose.yml
  src/docker/check-env/env-config.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  src/modules/jwt-auth/jwt.strategy.spec.ts
  src/modules/jwt-auth/jwt.strategy.ts
Labels: ci/cd, feature, tests, config

fix(users): add @DeleteDateColumn, privacySettings relation and fix nullable types
  src/database/migrations/1775500000000-AddDeletedAtToUsers.ts
  src/modules/common/entities/user.entity.ts
Labels: feature, config

fix(contacts): replace unique constraint with partial index on pending requests
  src/database/migrations/1775500100000-ReplaceContactRequestUniqueWithPartialIndex.ts
  src/modules/contacts/entities/contact-request.entity.ts
Labels: feature, config

feat(security): add helmet and compression middleware
  src/main.ts
Labels: feature, config

refactor(cache): remove dead code and KEYS anti-pattern from SearchIndexService
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
Labels: feature, tests, config

fix(cache): call removeUserFromIndex on profile update, deactivate and remove
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

refactor(cache): remove unused CacheService methods
  src/modules/cache/cache.service.spec.ts
  src/modules/cache/cache.service.ts
Labels: feature, tests, config

chore(config): remove unused DatabaseConfig class and AppDataSource
  src/config/database.config.spec.ts
  src/config/database.config.ts
Labels: feature, tests, config

feat(observability): add X-Request-Id propagation and sanitize log output
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
Labels: feature, tests, config

feat(security): add global rate-limiting with @nestjs/throttler
  package-lock.json
  package.json
  src/modules/app.module.ts
  src/modules/health/health.controller.ts
  src/modules/search/controllers/user-search.controller.ts
Labels: feature, config, dependencies

fix(search): add query DTOs with validation, cap limit and escape wildcards
  src/modules/common/repositories/user.repository.ts
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/name-search-query.dto.ts
  src/modules/search/dto/phone-search-query.dto.ts
Labels: feature, tests, config

perf(database): add missing secondary indexes on blocked_users, contacts and users
  src/database/migrations/1775500200000-AddSecondaryIndexes.ts
Labels: feature, config

feat(profile): add UserResponseDto and remove profilePictureUrl from UpdateProfileDto
  src/modules/common/dto/user-response.dto.ts
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

feat(api): add cursor-based pagination on contacts, blocked-users, groups and requests
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
  src/modules/common/dto/cursor-pagination.dto.ts
  src/modules/contacts/controllers/contact-requests.controller.spec.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.spec.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/groups/repositories/groups.repository.ts
  src/modules/groups/services/groups.service.spec.ts
  src/modules/groups/services/groups.service.ts
Labels: feature, tests, config

refactor(api): remove redundant :ownerId parameter, use JWT sub claim
  src/modules/blocked-users/controllers/blocked-users.controller.spec.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/contacts/controllers/contact-requests.controller.spec.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.spec.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.spec.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/controllers/privacy.controller.ts
Labels: feature, tests, config

test(e2e): raise coverage thresholds and add 5 functional e2e scenarios
  package.json
  test/functional.e2e-spec.ts
  test/setup-e2e.ts
Labels: feature, tests, config, dependencies

fix(users): align deletedAt column name to camelCase and type privacySettings as optional
  src/database/migrations/1775500000000-AddDeletedAtToUsers.ts
  src/modules/common/entities/user.entity.ts
Labels: feature, config

fix(contacts): declare partial index in entity and mark migration as irreversible
  src/database/migrations/1775500100000-ReplaceContactRequestUniqueWithPartialIndex.ts
  src/modules/contacts/entities/contact-request.entity.ts
Labels: feature, config

fix(cache): clamp searchByName limit to minimum 1
  src/modules/cache/search-index.service.ts
Labels: feature, config

refactor(security): extract throttle config to named constants
  src/modules/app.module.ts
  src/modules/search/controllers/user-search.controller.ts
Labels: feature, config

fix(profile): add nullable: true to UserResponseDto swagger decorators
  src/modules/common/dto/user-response.dto.ts
Labels: feature, config

fix(security): use CommonJS-safe imports for helmet and compression
  src/main.ts
Labels: feature, config

fix(test): add jsonwebtoken dep, rename scenarios, verify persistence in e2e
  package-lock.json
  package.json
  test/functional.e2e-spec.ts
Labels: feature, tests, config, dependencies

perf(database): use CREATE INDEX CONCURRENTLY to avoid blocking writes
  src/database/migrations/1775500200000-AddSecondaryIndexes.ts
Labels: feature, config

fix(observability): sanitize X-Request-Id header and improve test coverage
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
Labels: feature, tests, config

fix(api): add missing 404 ApiResponse on list endpoints
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.ts
Labels: feature, config

fix(search): restore @ApiQuery decorators, use ApiPropertyOptional, add wildcard escape test
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/name-search-query.dto.ts
Labels: feature, tests, config

fix(api): fix cursor ordering in contact-requests and add pagination repo tests
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/contacts/repositories/contact-requests.repository.spec.ts
  src/modules/contacts/repositories/contact-requests.repository.ts
  src/modules/contacts/repositories/contacts.repository.spec.ts
  src/modules/groups/repositories/groups.repository.spec.ts
Labels: feature, tests, config

fix(cache): index-first approach, re-index on activate, add test assertions
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(cd): update all manifest directories on main push
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): update all manifest directories on main push
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
