Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

Updates custom thème synchro
  src/database/migrations/1777767000000-AddVisualPreferencesToUsers.ts
  src/modules/common/dto/user-response.dto.ts
  src/modules/common/entities/user.entity.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

Updates custom thème synchro
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, config

Updates custom thème synchro
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, config

Fix TypeScript error in user-response.dto
  src/modules/common/dto/user-response.dto.ts
Labels: feature, config

Fix TypeScript error in user-response.dto
  src/modules/common/dto/user-response.dto.ts
Labels: feature, config

Fix Prettier formatting
  src/database/migrations/1777767000000-AddVisualPreferencesToUsers.ts
  src/modules/common/entities/user.entity.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/profile.service.spec.ts
Labels: feature, tests, config

Fix Prettier formatting
  src/database/migrations/1777767000000-AddVisualPreferencesToUsers.ts
  src/modules/common/entities/user.entity.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/profile.service.spec.ts
Labels: feature, tests, config

fix(security): hotspots regex ReDoS + couverture au-dessus de 90%
  sonar-project.properties
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
Labels: feature, tests, config

fix(security): hotspots regex ReDoS + couverture au-dessus de 90%
  sonar-project.properties
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
Labels: feature, tests, config

fix(security): hotspots regex ReDoS + couverture au-dessus de 90%
  sonar-project.properties
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
Labels: feature, tests, config

docs(claude): align with global rules §26 (no squash) + sprint refresh
  CLAUDE.md
Labels: documentation, feature, config

docs(claude): align with global rules §26 (no squash) + sprint refresh
  CLAUDE.md
Labels: documentation, feature, config

docs(claude): align with global rules §26 (no squash) + sprint refresh
  CLAUDE.md
Labels: documentation, feature, config

docs(profile): traduction commentaires FR + cleanup paraphrases
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

docs(profile): traduction commentaires FR + cleanup paraphrases
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

docs(profile): traduction commentaires FR + cleanup paraphrases
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

feat(privacy): add internal endpoint GET /internal/users/:id/privacy for inter-service auth
  src/modules/internal/internal.module.ts
  src/modules/internal/privacy/dto/internal-privacy-response.dto.ts
  src/modules/internal/privacy/internal-privacy.controller.spec.ts
  src/modules/internal/privacy/internal-privacy.controller.ts
  src/modules/internal/privacy/internal-privacy.service.spec.ts
  src/modules/internal/privacy/internal-privacy.service.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

feat(privacy): add internal endpoint GET /internal/users/:id/privacy for inter-service auth
  src/modules/internal/internal.module.ts
  src/modules/internal/privacy/dto/internal-privacy-response.dto.ts
  src/modules/internal/privacy/internal-privacy.controller.spec.ts
  src/modules/internal/privacy/internal-privacy.controller.ts
  src/modules/internal/privacy/internal-privacy.service.spec.ts
  src/modules/internal/privacy/internal-privacy.service.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

feat(privacy): add internal endpoint GET /internal/users/:id/privacy for inter-service auth
  src/modules/internal/internal.module.ts
  src/modules/internal/privacy/dto/internal-privacy-response.dto.ts
  src/modules/internal/privacy/internal-privacy.controller.spec.ts
  src/modules/internal/privacy/internal-privacy.controller.ts
  src/modules/internal/privacy/internal-privacy.service.spec.ts
  src/modules/internal/privacy/internal-privacy.service.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

perf(db): add missing indexes on blocked_users, groups, appeals, sanctions
  src/modules/appeals/entities/appeal.entity.ts
  src/modules/blocked-users/entities/blocked-user.entity.ts
  src/modules/groups/entities/group.entity.ts
  src/modules/sanctions/entities/user-sanction.entity.ts
Labels: feature, config

perf(db): add missing indexes on blocked_users, groups, appeals, sanctions
  src/modules/appeals/entities/appeal.entity.ts
  src/modules/blocked-users/entities/blocked-user.entity.ts
  src/modules/groups/entities/group.entity.ts
  src/modules/sanctions/entities/user-sanction.entity.ts
Labels: feature, config

perf(db): add missing indexes on blocked_users, groups, appeals, sanctions
  src/modules/appeals/entities/appeal.entity.ts
  src/modules/blocked-users/entities/blocked-user.entity.ts
  src/modules/groups/entities/group.entity.ts
  src/modules/sanctions/entities/user-sanction.entity.ts
Labels: feature, config

feat(throttler): switch to Redis-backed 3-tier global throttler
  package-lock.json
  package.json
  src/modules/app.module.ts
Labels: feature, config, dependencies

feat(throttler): switch to Redis-backed 3-tier global throttler
  package-lock.json
  package.json
  src/modules/app.module.ts
Labels: feature, config, dependencies

feat(throttler): switch to Redis-backed 3-tier global throttler
  package-lock.json
  package.json
  src/modules/app.module.ts
Labels: feature, config, dependencies

feat(security): tighten throttles on contact-requests, profile, contacts and groups
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/profile/controllers/profile.controller.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

feat(security): tighten throttles on contact-requests, profile, contacts and groups
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/profile/controllers/profile.controller.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

feat(security): tighten throttles on contact-requests, profile, contacts and groups
  src/modules/contacts/controllers/contact-requests.controller.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/profile/controllers/profile.controller.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

fix(throttler): close Redis client on module destroy
  src/modules/app.module.ts
Labels: feature, config

fix(throttler): close Redis client on module destroy
  src/modules/app.module.ts
Labels: feature, config

fix(throttler): close Redis client on module destroy
  src/modules/app.module.ts
Labels: feature, config

fix(throttler): close Redis client on shutdown to avoid jest/k8s hang
  src/modules/app.module.ts
Labels: feature, config

fix(throttler): close Redis client on shutdown to avoid jest/k8s hang
  src/modules/app.module.ts
Labels: feature, config

fix(throttler): close Redis client on shutdown to avoid jest/k8s hang
  src/modules/app.module.ts
Labels: feature, config

fix(profile): raise short throttle to 30/s on /profile/:id
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, config

fix(profile): raise short throttle to 30/s on /profile/:id
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, config

fix(profile): raise short throttle to 30/s on /profile/:id
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, config

feat(profiles): add POST /profiles/batch endpoint to fetch N profiles in 1 request
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/controllers/profiles.controller.spec.ts
  src/modules/profile/controllers/profiles.controller.ts
  src/modules/profile/dto/batch-profiles-request.dto.ts
  src/modules/profile/dto/batch-profiles-response.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

feat(profiles): add POST /profiles/batch endpoint to fetch N profiles in 1 request
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/controllers/profiles.controller.spec.ts
  src/modules/profile/controllers/profiles.controller.ts
  src/modules/profile/dto/batch-profiles-request.dto.ts
  src/modules/profile/dto/batch-profiles-response.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

feat(profiles): add POST /profiles/batch endpoint to fetch N profiles in 1 request
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/controllers/profiles.controller.spec.ts
  src/modules/profile/controllers/profiles.controller.ts
  src/modules/profile/dto/batch-profiles-request.dto.ts
  src/modules/profile/dto/batch-profiles-response.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
