Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

fix: apply docker security trivy recommendation
  docker/dev/Dockerfile
Labels: ci/cd, feature, config

fix: apply docker security trivy recommendation
  docker/dev/Dockerfile
Labels: ci/cd, feature, config

fix: apply docker security trivy recommendation
  docker/dev/Dockerfile
Labels: ci/cd, feature, config

ci: fix dockers paths in tests.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: fix dockers paths in tests.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: fix dockers paths in tests.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: fix dockers paths in tests.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

scripts: add npm scripts for e2e with docker
  package.json
Labels: feature, config, dependencies

scripts: add npm scripts for e2e with docker
  package.json
Labels: feature, config, dependencies

scripts: add npm scripts for e2e with docker
  package.json
Labels: feature, config, dependencies

scripts: add npm scripts for e2e with docker
  package.json
Labels: feature, config, dependencies

test: add e2e test config for Docker
  test/docker/docker-e2e-runner.ts
  test/docker/jest-docker-e2e.json
  test/docker/setup-docker-e2e.ts
Labels: feature, tests, config

test: add e2e test config for Docker
  test/docker/docker-e2e-runner.ts
  test/docker/jest-docker-e2e.json
  test/docker/setup-docker-e2e.ts
Labels: feature, tests, config

test: add e2e test config for Docker
  test/docker/docker-e2e-runner.ts
  test/docker/jest-docker-e2e.json
  test/docker/setup-docker-e2e.ts
Labels: feature, tests, config

test: add e2e test config for Docker
  test/docker/docker-e2e-runner.ts
  test/docker/jest-docker-e2e.json
  test/docker/setup-docker-e2e.ts
Labels: feature, tests, config

test: update application bootstrap e2e tests
  test/app.e2e-spec.ts
Labels: feature, tests, config

test: update application bootstrap e2e tests
  test/app.e2e-spec.ts
Labels: feature, tests, config

test: update application bootstrap e2e tests
  test/app.e2e-spec.ts
Labels: feature, tests, config

test: update application bootstrap e2e tests
  test/app.e2e-spec.ts
Labels: feature, tests, config

ci: update tests workflow to use Github Actions services for e2e tests storage layer
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: update tests workflow to use Github Actions services for e2e tests storage layer
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: update tests workflow to use Github Actions services for e2e tests storage layer
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: update tests workflow to use Github Actions services for e2e tests storage layer
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

config: lower jest coverage treshold
  package.json
Labels: feature, config, dependencies

config: lower jest coverage treshold
  package.json
Labels: feature, config, dependencies

config: lower jest coverage treshold
  package.json
Labels: feature, config, dependencies

config: lower jest coverage treshold
  package.json
Labels: feature, config, dependencies

ci: add missing permissions for security events publishing
  .github/workflows/docker.yml
Labels: ci/cd, feature, config

ci: add missing permissions for security events publishing
  .github/workflows/docker.yml
Labels: ci/cd, feature, config

ci: add missing permissions for security events publishing
  .github/workflows/docker.yml
Labels: ci/cd, feature, config

ci: add missing permissions for security events publishing
  .github/workflows/docker.yml
Labels: ci/cd, feature, config

feat: add GitOps CD workflow to the repository
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat: add GitOps CD workflow to the repository
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat: add GitOps CD workflow to the repository
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat: add GitOps CD workflow to the repository
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

WIP: deactivate sonarqube steps temporarly waiting for DNS update
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

WIP: deactivate sonarqube steps temporarly waiting for DNS update
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

WIP: deactivate sonarqube steps temporarly waiting for DNS update
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

WIP: deactivate sonarqube steps temporarly waiting for DNS update
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

remove: unused files at repository root
  .dockerignore
  .dockerignore.prod
  .env.development
  .env.docker
  .env.example
  AGENTS.md
  Makefile
  scripts/health-check.ts
  scripts/init.sql
Labels: documentation, feature, config
