Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 👤 users:core, 📞 contacts, 👥 groups, 🔒 privacy, 🔍 search, 🚫 blocked-users, 🗄️ database, ⚙️ config, 💾 cache, 💊 health, 🎮 api:controllers, 📋 api:dto, 🛡️ security:guards, 🔄 middleware, 🗂️ filters, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔗 docs:integration, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance

⚡ feat(workflow): add intelligent PR labeling workflow
  .github/workflows/labeler.yml
Labels: ⚡ devops:ci-cd

🚀 feat(ci): add main CI pipeline orchestrator
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

🚀 feat(ci): add main CI pipeline orchestrator
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

🚀 feat(ci): add main CI pipeline orchestrator
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

🧪 feat(tests): add comprehensive testing workflow
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

🧪 feat(tests): add comprehensive testing workflow
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

🧪 feat(tests): add comprehensive testing workflow
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

🛡️ feat(security): add Trivy vulnerability scanning
  .github/workflows/trivy.yml
Labels: ⚡ devops:ci-cd

🛡️ feat(security): add Trivy vulnerability scanning
  .github/workflows/trivy.yml
Labels: ⚡ devops:ci-cd

🛡️ feat(security): add Trivy vulnerability scanning
  .github/workflows/trivy.yml
Labels: ⚡ devops:ci-cd

🐳 feat(docker): add advanced container registry workflow
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

🐳 feat(docker): add advanced container registry workflow
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

🐳 feat(docker): add advanced container registry workflow
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

📢 feat(notifications): add deployment success notifications
  .github/workflows/notify.yml
Labels: ⚡ devops:ci-cd

📢 feat(notifications): add deployment success notifications
  .github/workflows/notify.yml
Labels: ⚡ devops:ci-cd

📢 feat(notifications): add deployment success notifications
  .github/workflows/notify.yml
Labels: ⚡ devops:ci-cd

🔥 remove(docker): remove obsolete docker-image workflow
  .github/workflows/docker-image.yml
Labels: ⚡ devops:ci-cd

🔥 remove(docker): remove obsolete docker-image workflow
  .github/workflows/docker-image.yml
Labels: ⚡ devops:ci-cd

🔥 remove(docker): remove obsolete docker-image workflow
  .github/workflows/docker-image.yml
Labels: ⚡ devops:ci-cd

🔔 feat(discord): add comprehensive Discord PR notifications
  .github/workflows/discord-pr-notifications.yml
Labels: ⚡ devops:ci-cd

🔔 feat(discord): add comprehensive Discord PR notifications
  .github/workflows/discord-pr-notifications.yml
Labels: ⚡ devops:ci-cd

🔔 feat(discord): add comprehensive Discord PR notifications
  .github/workflows/discord-pr-notifications.yml
Labels: ⚡ devops:ci-cd

🔧 fix(security): address Copilot PR review comments
  .github/workflows/ci.yml
  .github/workflows/discord-pr-notifications.yml
  .github/workflows/docker.yml
  .github/workflows/labeler.yml
  .github/workflows/notify.yml
  .github/workflows/tests.yml
  .github/workflows/trivy.yml
  src/common/guards/auth.guard.ts
  src/common/pipes/validation.pipe.ts
Labels: 🛡️ security:guards, 🔄 middleware, ⚡ devops:ci-cd, ⚡ performance

🔧 fix(security): address Copilot PR review comments
  .github/workflows/ci.yml
  .github/workflows/discord-pr-notifications.yml
  .github/workflows/docker.yml
  .github/workflows/labeler.yml
  .github/workflows/notify.yml
  .github/workflows/tests.yml
  .github/workflows/trivy.yml
  src/common/guards/auth.guard.ts
  src/common/pipes/validation.pipe.ts
Labels: 🛡️ security:guards, 🔄 middleware, ⚡ devops:ci-cd, ⚡ performance

🔧 fix(security): address Copilot PR review comments
  .github/workflows/ci.yml
  .github/workflows/discord-pr-notifications.yml
  .github/workflows/docker.yml
  .github/workflows/labeler.yml
  .github/workflows/notify.yml
  .github/workflows/tests.yml
  .github/workflows/trivy.yml
  src/common/guards/auth.guard.ts
  src/common/pipes/validation.pipe.ts
Labels: 🛡️ security:guards, 🔄 middleware, ⚡ devops:ci-cd, ⚡ performance

✨ feat(ci): add GitHub Action for automatic label synchronization
  .github/labels.yml
  .github/workflows/sync-labels.yml
Labels: ⚡ devops:ci-cd

🩹 fix(ci): address Copilot review feedback
  .github/workflows/docker.yml
  src/common/guards/auth.guard.ts
  src/common/pipes/validation.pipe.ts
  test/app.e2e-spec.ts
Labels: 🛡️ security:guards, 🔄 middleware, 🔬 tests:e2e, ⚡ devops:ci-cd, ⚡ performance

🩹 fix(ci): address Copilot review feedback
  .github/workflows/docker.yml
  src/common/guards/auth.guard.ts
  src/common/pipes/validation.pipe.ts
  test/app.e2e-spec.ts
Labels: 🛡️ security:guards, 🔄 middleware, 🔬 tests:e2e, ⚡ devops:ci-cd, ⚡ performance

🩹 fix(ci): address Copilot review feedback
  .github/workflows/docker.yml
  src/common/guards/auth.guard.ts
  src/common/pipes/validation.pipe.ts
  test/app.e2e-spec.ts
Labels: 🛡️ security:guards, 🔄 middleware, 🔬 tests:e2e, ⚡ devops:ci-cd, ⚡ performance

🔧 config(sonar): add SonarQube project configuration
  sonar-project.properties
Labels: 🔒 tools:security

🔧 config(sonar): add SonarQube project configuration
  sonar-project.properties
Labels: 🔒 tools:security

🔧 config(sonar): add SonarQube project configuration
  sonar-project.properties
Labels: 🔒 tools:security

⬆️ upgrade(deps): upgrade @nestjs/cli to v11 and update related dependencies
  package-lock.json
  package.json
Labels: 📦 dependencies

⬆️ upgrade(deps): upgrade @nestjs/cli to v11 and update related dependencies
  package-lock.json
  package.json
Labels: 📦 dependencies

⬆️ upgrade(deps): upgrade @nestjs/cli to v11 and update related dependencies
  package-lock.json
  package.json
Labels: 📦 dependencies

🎨 style(lint): fix ESLint issues across project
  src/app.module.ts
  src/blocked-users/blocked-users.service.spec.ts
  src/cache/cache.service.spec.ts
  src/cache/search-index.service.spec.ts
  src/contacts/contacts.service.spec.ts
  src/groups/groups.controller.ts
  src/groups/groups.service.spec.ts
  src/groups/groups.service.ts
  src/privacy/privacy.service.spec.ts
  src/privacy/privacy.service.ts
  src/search/user-search.controller.ts
  src/search/user-search.service.spec.ts
  src/search/user-search.service.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Labels: 👤 users:core, 📞 contacts, 👥 groups, 🔒 privacy, 🔍 search, 🚫 blocked-users, ⚙️ config, 💾 cache, 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

🎨 style(lint): fix ESLint issues across project
  src/app.module.ts
  src/blocked-users/blocked-users.service.spec.ts
  src/cache/cache.service.spec.ts
  src/cache/search-index.service.spec.ts
  src/contacts/contacts.service.spec.ts
  src/groups/groups.controller.ts
  src/groups/groups.service.spec.ts
  src/groups/groups.service.ts
  src/privacy/privacy.service.spec.ts
  src/privacy/privacy.service.ts
  src/search/user-search.controller.ts
  src/search/user-search.service.spec.ts
  src/search/user-search.service.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Labels: 👤 users:core, 📞 contacts, 👥 groups, 🔒 privacy, 🔍 search, 🚫 blocked-users, ⚙️ config, 💾 cache, 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

🎨 style(lint): fix ESLint issues across project
  src/app.module.ts
  src/blocked-users/blocked-users.service.spec.ts
  src/cache/cache.service.spec.ts
  src/cache/search-index.service.spec.ts
  src/contacts/contacts.service.spec.ts
  src/groups/groups.controller.ts
  src/groups/groups.service.spec.ts
  src/groups/groups.service.ts
  src/privacy/privacy.service.spec.ts
  src/privacy/privacy.service.ts
  src/search/user-search.controller.ts
  src/search/user-search.service.spec.ts
  src/search/user-search.service.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Labels: 👤 users:core, 📞 contacts, 👥 groups, 🔒 privacy, 🔍 search, 🚫 blocked-users, ⚙️ config, 💾 cache, 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

🐛 fix(search): fix SearchIndexService API mismatch
  src/search/user-search.service.ts
Labels: 🔍 search, ⚡ performance

🐛 fix(search): fix SearchIndexService API mismatch
  src/search/user-search.service.ts
Labels: 🔍 search, ⚡ performance

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# User Management Core
👤 users:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/users/users.module.ts'
      - 'src/users/users.service.ts'
      - 'src/users/users.service.spec.ts'
      - 'src/users/users.controller.ts'
      - 'src/dto/create-user.dto.ts'
      - 'src/dto/update-user.dto.ts'

# Contact Management
📞 contacts:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/contacts/**/*'
      - 'src/dto/add-contact.dto.ts'
      - 'src/dto/update-contact.dto.ts'

# Group Management
👥 groups:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/groups/**/*'
      - 'src/dto/create-group.dto.ts'
      - 'src/dto/update-group.dto.ts'
      - 'src/dto/add-group-member.dto.ts'

# Privacy Settings
🔒 privacy:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/privacy/**/*'
      - 'src/dto/update-privacy-settings.dto.ts'

# Search Functionality
🔍 search:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/search/**/*'
      - 'src/cache/search-index.service.ts'

# Blocked Users
🚫 blocked-users:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/blocked-users/**/*'
      - 'src/dto/block-user.dto.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/database/migrations/**/*'
      - 'src/database/seeds/**/*'
      - 'scripts/init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/config/**/*'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Cache & Redis
💾 cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cache/**/*'
      - 'src/config/redis.config.ts'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*controller*.ts'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - '**/*dto*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/common/guards/**/*'
      - '**/*guard*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/common/interceptors/**/*'
      - 'src/common/pipes/**/*'
      - 'src/common/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# Filters
🗂️ filters:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/common/filters/**/*'
      - '**/*filter*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - 'Makefile'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Integration Documentation
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/INTEGRATION.md'
      - 'documentation/DOCKER.md'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'
      - 'AGENTS.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/database/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*service*.ts'
      - 'src/common/guards/**/*'
      - 'src/common/interceptors/**/*'
      - 'src/cache/**/*'
      - 'src/config/redis.config.ts'
