Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

fix(accounts): update e2e test to import AppModule from new location
  test/app.e2e-spec.ts
Labels: feature, tests, config

feat(accounts): restore CacheModule, HealthModule, TypeORM config and database structure
  src/database/index.ts
  src/database/migrations/.gitkeep
  src/database/seeds/.gitkeep
  src/modules/app.module.ts
  src/modules/cache/cache.module.ts
  src/modules/cache/cache.service.ts
  src/modules/cache/index.ts
  src/modules/cache/search-index.service.ts
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/typeorm.config.ts
  test/app.e2e-spec.ts
Labels: feature, tests, config

chore(db): create users schema in dev and test init scripts
  docker/dev/init.sql
  docker/test/init.sql
Labels: ci/cd, feature, config

chore(ci): cleanup docker test stack before e2e run to force init.sql replay
  .husky/pre-push
Labels: feature, config

chore(tsconfig): add jest and node to compiler types
  tsconfig.json
Labels: feature, config

fix: use safe error casting in controller catch blocks
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/health/health.controller.ts
Labels: feature, config

chore(deps): update package-lock.json devOptional flags
  package-lock.json
Labels: feature, config, dependencies

fix(common): use lazy require() in User relations for not-yet-integrated modules
  src/modules/common/entities/user.entity.ts
Labels: feature, config

test(e2e): stub missing entity modules in jest-e2e config
  test/jest-e2e.json
  test/stubs/entity.stub.ts
Labels: feature, tests, config

fix(common): strip forward relations from User entity until modules are integrated
  src/modules/common/entities/user.entity.ts
Labels: feature, config

docs: add AI agent workflow instructions for this repository
  CLAUDE.md
Labels: documentation, feature, config

feat(cache): add cache module options factory with Redis resilience config
  src/modules/cache.config.ts
Labels: feature, config

chore(deps): sync package-lock.json
  package-lock.json
Labels: feature, config, dependencies

bd init: initialize beads issue tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/dolt-monitor.pid.lock
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitignore
  AGENTS.md
Labels: documentation, feature, config

test(cache): add unit tests for CacheService
  src/modules/cache/cache.service.spec.ts
Labels: feature, tests, config

test(accounts): add unit tests for AccountsController
  src/modules/accounts/controllers/accounts.controller.spec.ts
Labels: feature, tests, config

test: increase unit test coverage to pass PR #28 thresholds
  src/config/database.config.spec.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/common/repositories/user.repository.spec.ts
  src/modules/health/health.controller.spec.ts
  src/swagger.spec.ts
  src/typeorm.config.spec.ts
Labels: feature, tests, config

docs(claude): add beads task tracking workflow documentation
  CLAUDE.md
Labels: documentation, feature, config

style(entrypoint): add missing blank line between mock declarations
  src/docker/entrypoint.spec.ts
Labels: feature, tests, config

chore(cache): remove orphaned cache.config.ts
  src/modules/cache.config.ts
Labels: feature, config

ci(tests): initialize users schema before e2e tests
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(accounts): address PR #28 review comments
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/search-index.service.ts
  test/app.e2e-spec.ts
Labels: feature, tests, config

feat(profile): integrate ProfileModule into hybrid app
  package.json
  src/modules/app.module.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config, dependencies

feat(profile): integrate ProfileModule into hybrid app (#29)
  package.json
  src/modules/app.module.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config, dependencies

feat(profile): integrate ProfileModule into hybrid app (#29)
  package.json
  src/modules/app.module.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config, dependencies

feat(profile): integrate ProfileModule into hybrid app (#29)
  package.json
  src/modules/app.module.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config, dependencies

feat(profile): integrate ProfileModule into hybrid app (#29)
  package.json
  src/modules/app.module.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config, dependencies

feat(privacy): integrate PrivacyModule into hybrid app
  package.json
  src/modules/app.module.ts
  src/modules/privacy/controllers/privacy.controller.ts
  src/modules/privacy/dto/update-privacy-settings.dto.ts
  src/modules/privacy/entities/privacy-settings.entity.ts
  src/modules/privacy/privacy.module.ts
  src/modules/privacy/repositories/privacy-settings.repository.ts
  src/modules/privacy/services/privacy.service.spec.ts
  src/modules/privacy/services/privacy.service.ts
Labels: feature, tests, config, dependencies

feat(privacy): integrate PrivacyModule into hybrid app (#30)
  package.json
  src/modules/app.module.ts
  src/modules/privacy/controllers/privacy.controller.ts
  src/modules/privacy/dto/update-privacy-settings.dto.ts
  src/modules/privacy/entities/privacy-settings.entity.ts
  src/modules/privacy/privacy.module.ts
  src/modules/privacy/repositories/privacy-settings.repository.ts
  src/modules/privacy/services/privacy.service.spec.ts
  src/modules/privacy/services/privacy.service.ts
Labels: feature, tests, config, dependencies

feat(privacy): integrate PrivacyModule into hybrid app (#30)
  package.json
  src/modules/app.module.ts
  src/modules/privacy/controllers/privacy.controller.ts
  src/modules/privacy/dto/update-privacy-settings.dto.ts
  src/modules/privacy/entities/privacy-settings.entity.ts
  src/modules/privacy/privacy.module.ts
  src/modules/privacy/repositories/privacy-settings.repository.ts
  src/modules/privacy/services/privacy.service.spec.ts
  src/modules/privacy/services/privacy.service.ts
Labels: feature, tests, config, dependencies

feat(privacy): integrate PrivacyModule into hybrid app (#30)
  package.json
  src/modules/app.module.ts
  src/modules/privacy/controllers/privacy.controller.ts
  src/modules/privacy/dto/update-privacy-settings.dto.ts
  src/modules/privacy/entities/privacy-settings.entity.ts
  src/modules/privacy/privacy.module.ts
  src/modules/privacy/repositories/privacy-settings.repository.ts
  src/modules/privacy/services/privacy.service.spec.ts
  src/modules/privacy/services/privacy.service.ts
Labels: feature, tests, config, dependencies

feat(privacy): integrate PrivacyModule into hybrid app (#30)
  package.json
  src/modules/app.module.ts
  src/modules/privacy/controllers/privacy.controller.ts
  src/modules/privacy/dto/update-privacy-settings.dto.ts
  src/modules/privacy/entities/privacy-settings.entity.ts
  src/modules/privacy/privacy.module.ts
  src/modules/privacy/repositories/privacy-settings.repository.ts
  src/modules/privacy/services/privacy.service.spec.ts
  src/modules/privacy/services/privacy.service.ts
Labels: feature, tests, config, dependencies

feat(contacts): integrate ContactsModule into hybrid app
  package.json
  src/modules/app.module.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/add-contact.dto.ts
  src/modules/contacts/entities/contact.entity.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  test/jest-e2e.json
Labels: feature, tests, config, dependencies

feat(contacts): integrate ContactsModule into hybrid app (#31)
  package.json
  src/modules/app.module.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/add-contact.dto.ts
  src/modules/contacts/entities/contact.entity.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  test/jest-e2e.json
Labels: feature, tests, config, dependencies

feat(contacts): integrate ContactsModule into hybrid app (#31)
  package.json
  src/modules/app.module.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/add-contact.dto.ts
  src/modules/contacts/entities/contact.entity.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  test/jest-e2e.json
Labels: feature, tests, config, dependencies

feat(contacts): integrate ContactsModule into hybrid app (#31)
  package.json
  src/modules/app.module.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/add-contact.dto.ts
  src/modules/contacts/entities/contact.entity.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  test/jest-e2e.json
Labels: feature, tests, config, dependencies

feat(contacts): integrate ContactsModule into hybrid app (#31)
  package.json
  src/modules/app.module.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/add-contact.dto.ts
  src/modules/contacts/entities/contact.entity.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  test/jest-e2e.json
Labels: feature, tests, config, dependencies

feat(blocked-users): integrate BlockedUsersModule into hybrid app
  package.json
  src/modules/app.module.ts
  src/modules/blocked-users/blocked-users.module.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/blocked-users/dto/block-user.dto.ts
  src/modules/blocked-users/entities/blocked-user.entity.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
Labels: feature, tests, config, dependencies

feat(blocked-users): integrate BlockedUsersModule into hybrid app (#32)
  package.json
  src/modules/app.module.ts
  src/modules/blocked-users/blocked-users.module.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/blocked-users/dto/block-user.dto.ts
  src/modules/blocked-users/entities/blocked-user.entity.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
Labels: feature, tests, config, dependencies

feat(blocked-users): integrate BlockedUsersModule into hybrid app (#32)
  package.json
  src/modules/app.module.ts
  src/modules/blocked-users/blocked-users.module.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/blocked-users/dto/block-user.dto.ts
  src/modules/blocked-users/entities/blocked-user.entity.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
Labels: feature, tests, config, dependencies

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
