Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

feat(accounts): consume user.registered via Redis Streams consumer group
  src/main.ts
  src/modules/accounts/accounts.module.ts
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: feature, tests, config

feat(accounts): consume user.registered via Redis Streams consumer group
  src/main.ts
  src/modules/accounts/accounts.module.ts
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: feature, tests, config

fix(deps): regenerate lockfile with cross-platform optional dependencies
  package-lock.json
Labels: feature, config, dependencies

chore(ci): trigger CI on push to any branch
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

feat(accounts): consommer user.registered via Redis Streams consumer group
  src/main.ts
  src/modules/accounts/accounts.module.ts
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
  src/modules/accounts/services/user-registered-stream.consumer.spec.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: feature, tests, config

feat(accounts): consommer user.registered via Redis Streams consumer group
  src/main.ts
  src/modules/accounts/accounts.module.ts
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
  src/modules/accounts/services/user-registered-stream.consumer.spec.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: feature, tests, config

fix(config): remove conflicting .prettierrc in favor of package.json config
  .prettierrc
Labels: feature, config

fix(config): align .prettierrc with package.json prettier config
  .prettierrc
Labels: feature, config

fix: address Copilot review comments on PR #110
  docker/prod/Dockerfile
  src/database/migrations/1776000600000-SeedFirstAdmin.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: ci/cd, feature, config

fix: address Copilot review comments on PR #110
  docker/prod/Dockerfile
  src/database/migrations/1776000600000-SeedFirstAdmin.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: ci/cd, feature, config

fix(security): ajouter RolesGuard explicite sur les endpoints admin — Closes WHISPR-1027
  src/modules/appeals/controllers/appeals.controller.spec.ts
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/reputation/controllers/reputation.controller.ts
  src/modules/roles/controllers/roles.controller.ts
  src/modules/roles/roles.decorator.ts
  src/modules/roles/roles.guard.spec.ts
  src/modules/roles/roles.guard.ts
  src/modules/roles/roles.module.ts
  src/modules/roles/services/roles.service.spec.ts
  src/modules/roles/services/roles.service.ts
  src/modules/sanctions/controllers/sanctions.controller.spec.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/webhooks/controllers/webhooks.controller.ts
Labels: feature, tests, config

fix(security): ajouter RolesGuard explicite sur les endpoints admin — Closes WHISPR-1027
  src/modules/appeals/controllers/appeals.controller.spec.ts
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/reputation/controllers/reputation.controller.ts
  src/modules/roles/controllers/roles.controller.ts
  src/modules/roles/roles.decorator.ts
  src/modules/roles/roles.guard.spec.ts
  src/modules/roles/roles.guard.ts
  src/modules/roles/roles.module.ts
  src/modules/roles/services/roles.service.spec.ts
  src/modules/roles/services/roles.service.ts
  src/modules/sanctions/controllers/sanctions.controller.spec.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/webhooks/controllers/webhooks.controller.ts
Labels: feature, tests, config

fix(config): align .prettierrc with package.json prettier config
  .prettierrc
Labels: feature, config

fix(config): align .prettierrc with package.json prettier config
  .prettierrc
Labels: feature, config

fix(config): remove .prettierrc in favor of package.json prettier config
  .prettierrc
Labels: feature, config

fix(config): remove .prettierrc in favor of package.json prettier config
  .prettierrc
Labels: feature, config

fix(config): move prettier config from package.json to .prettierrc
  .prettierrc
  package.json
Labels: feature, config, dependencies

fix(config): move prettier config from package.json to .prettierrc
  .prettierrc
  package.json
Labels: feature, config, dependencies

chore(ci): add prettier config debug step to diagnose CI failure
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

chore(ci): add prettier config debug step to diagnose CI failure
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

chore(ci): enhance prettier debug with resolved options and diff output
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

chore(ci): enhance prettier debug with resolved options and diff output
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(ci): use prettier --write + git diff for format check
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(ci): use prettier --write + git diff for format check
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(jwt-auth): remove unused eslint-disable-next-line comments
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwt.strategy.spec.ts
Labels: feature, tests, config

fix(jwt-auth): remove unused eslint-disable-next-line comments
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwt.strategy.spec.ts
Labels: feature, tests, config

fix(ci): pin Node to 22.21 to avoid test-exclude breakage on 22.22
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(ci): pin Node to 22.21 to avoid test-exclude breakage on 22.22
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix(deps): switch jest coverage to V8 provider and remove glob override
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  package-lock.json
  package.json
Labels: ci/cd, feature, config, dependencies

fix(deps): switch jest coverage to V8 provider and remove glob override
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  package-lock.json
  package.json
Labels: ci/cd, feature, config, dependencies

fix(accounts): use explicit null check for loopPromise
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: feature, config

fix(accounts): use explicit null check for loopPromise
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: feature, config

fix(docker): exclude package-lock.json from production image
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

fix(docker): exclude package-lock.json from production image
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

fix(docker): strip npm from production image to clear Trivy CVEs
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

fix(docker): strip npm from production image to clear Trivy CVEs
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

fix(ci): remove pull_request_target event from labeler workflow
  .github/workflows/labeler.yml
Labels: ci/cd, feature, config

fix(ci): remove pull_request_target event from labeler workflow
  .github/workflows/labeler.yml
Labels: ci/cd, feature, config

fix(accounts): add backoff and retry limit to drainPending
  src/modules/accounts/services/user-registered-stream.consumer.spec.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: feature, tests, config

fix(accounts): add backoff and retry limit to drainPending
  src/modules/accounts/services/user-registered-stream.consumer.spec.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
Labels: feature, tests, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
