Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

🔧 fix(labels): quote color values to prevent YAML parsing as numbers
  .github/labels.yml
Labels: ci/cd, feature, config

🔧 fix(labels): quote color values to prevent YAML parsing as numbers
  .github/labels.yml
Labels: ci/cd, feature, config

🔧 fix(labels): quote all hex color values to prevent YAML parsing errors
  .github/labels.yml
Labels: ci/cd, feature, config

🔧 fix(labels): quote all hex color values to prevent YAML parsing errors
  .github/labels.yml
Labels: ci/cd, feature, config

🔧 fix(labels): quote all hex color values to prevent YAML parsing errors
  .github/labels.yml
Labels: ci/cd, feature, config

🔧 fix(labels): quote all hex color values to prevent YAML parsing errors
  .github/labels.yml
Labels: ci/cd, feature, config

🔧 fix(sonar): remove test execution report requirement
  sonar-project.properties
Labels: feature, config

🔧 fix(sonar): remove test execution report requirement
  sonar-project.properties
Labels: feature, config

🔧 fix(sonar): remove test execution report requirement
  sonar-project.properties
Labels: feature, config

🔧 fix(sonar): remove test execution report requirement
  sonar-project.properties
Labels: feature, config

🔧 refactor(labels): use github-script instead of label-sync
  .github/workflows/labels.yml
Labels: ci/cd, feature, config

🔧 refactor(labels): use github-script instead of label-sync
  .github/workflows/labels.yml
Labels: ci/cd, feature, config

🔧 refactor(labels): use github-script instead of label-sync
  .github/workflows/labels.yml
Labels: ci/cd, feature, config

🔧 refactor(labels): use github-script instead of label-sync
  .github/workflows/labels.yml
Labels: ci/cd, feature, config

🏷️ feat(labels): add auto-labeler generated labels with colors
  .github/workflows/labels.yml
Labels: ci/cd, feature, config

🏷️ feat(labels): add auto-labeler generated labels with colors
  .github/workflows/labels.yml
Labels: ci/cd, feature, config

🏷️ feat(labels): add auto-labeler generated labels with colors
  .github/workflows/labels.yml
Labels: ci/cd, feature, config

🏷️ feat(labels): add auto-labeler generated labels with colors
  .github/workflows/labels.yml
Labels: ci/cd, feature, config

INIT
  docker-compose.yml
  init.sql
  src/app.module.ts
  src/config/database.config.ts
  src/dto/create-group.dto.ts
  src/dto/create-user.dto.ts
  src/dto/index.ts
  src/dto/send-message.dto.ts
  src/dto/update-group.dto.ts
  src/dto/update-preferences.dto.ts
  src/dto/update-user.dto.ts
  src/entities/index.ts
  src/entities/message.entity.ts
  src/entities/user-preferences.entity.ts
  src/entities/user.entity.ts
  src/main.ts
  src/messages/messages.controller.ts
  src/messages/messages.module.ts
  src/messages/messages.service.ts
  src/preferences/preferences.controller.ts
  src/preferences/preferences.module.ts
  src/preferences/preferences.service.ts
Labels: feature, config

config k8s impl.
  docker/Dockerfile.dev
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  k8s/configmap.yml
  k8s/deployment.yml
  k8s/service-account.yml
  k8s/service.yml
Labels: ci/cd, feature, config

config k8s impl.
  docker/Dockerfile.dev
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  k8s/configmap.yml
  k8s/deployment.yml
  k8s/service-account.yml
  k8s/service.yml
Labels: ci/cd, feature, config

config k8s impl.
  docker/Dockerfile.dev
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  k8s/configmap.yml
  k8s/deployment.yml
  k8s/service-account.yml
  k8s/service.yml
Labels: ci/cd, feature, config

config k8s impl.
  docker/Dockerfile.dev
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  k8s/configmap.yml
  k8s/deployment.yml
  k8s/service-account.yml
  k8s/service.yml
Labels: ci/cd, feature, config

package fix
  package-lock.json
  package.json
Labels: feature, config, dependencies

package fix
  package-lock.json
  package.json
Labels: feature, config, dependencies

package fix
  package-lock.json
  package.json
Labels: feature, config, dependencies

package fix
  package-lock.json
  package.json
Labels: feature, config, dependencies

docker: update docker configuration
  docker/Dockerfile
  docker/Dockerfile.dev
  docker/Dockerfile.prod
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/dev/requirements.txt
  docker/doc/compose.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/prod/.env.example
  docker/prod/Dockerfile
  docker/prod/Dockerfile.dockerignore
  docker/prod/compose.yml
  docker/prod/config/init.sql
  docker/prod/config/redis.conf
Labels: ci/cd, feature, config

docker: update docker configuration
  docker/Dockerfile
  docker/Dockerfile.dev
  docker/Dockerfile.prod
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/dev/requirements.txt
  docker/doc/compose.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/prod/.env.example
  docker/prod/Dockerfile
  docker/prod/Dockerfile.dockerignore
  docker/prod/compose.yml
  docker/prod/config/init.sql
  docker/prod/config/redis.conf
Labels: ci/cd, feature, config

docker: update docker configuration
  docker/Dockerfile
  docker/Dockerfile.dev
  docker/Dockerfile.prod
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/dev/requirements.txt
  docker/doc/compose.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/prod/.env.example
  docker/prod/Dockerfile
  docker/prod/Dockerfile.dockerignore
  docker/prod/compose.yml
  docker/prod/config/init.sql
  docker/prod/config/redis.conf
Labels: ci/cd, feature, config

docker: update docker configuration
  docker/Dockerfile
  docker/Dockerfile.dev
  docker/Dockerfile.prod
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/dev/requirements.txt
  docker/doc/compose.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/prod/.env.example
  docker/prod/Dockerfile
  docker/prod/Dockerfile.dockerignore
  docker/prod/compose.yml
  docker/prod/config/init.sql
  docker/prod/config/redis.conf
Labels: ci/cd, feature, config

scripts: update Justfile recipes
  Justfile
Labels: feature, config

scripts: update Justfile recipes
  Justfile
Labels: feature, config

scripts: update Justfile recipes
  Justfile
Labels: feature, config

scripts: update Justfile recipes
  Justfile
Labels: feature, config

docker: add error handling in entrypoint script
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

docker: add error handling in entrypoint script
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

docker: add error handling in entrypoint script
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

docker: add error handling in entrypoint script
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

deps: add @nestjs/platform-express
  package-lock.json
  package.json
Labels: feature, config, dependencies
