Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

docs: clarify service scope in description
  README.md
Labels: documentation, feature, config

docs: add modules overview table
  README.md
Labels: documentation, feature, config

docs: add tech stack
  README.md
Labels: documentation, feature, config

docs: add testing section
  README.md
Labels: documentation, feature, config

fix(appeals): raise body limit for blocked image thumbnail
  src/main.ts
Labels: feature, config

fix(appeals): raise body limit for blocked image thumbnail
  src/main.ts
Labels: feature, config

feat(roles): seed admin roles from SEED_ADMIN_USER_IDS env var
  src/modules/roles/roles.module.ts
  src/modules/roles/services/seed-admin.service.spec.ts
  src/modules/roles/services/seed-admin.service.ts
Labels: feature, tests, config

feat(roles): seed admin roles from SEED_ADMIN_USER_IDS env var
  src/modules/roles/roles.module.ts
  src/modules/roles/services/seed-admin.service.spec.ts
  src/modules/roles/services/seed-admin.service.ts
Labels: feature, tests, config

fix(appeals): raise thumbnail base64 cap to 200kb for real images
  src/modules/appeals/dto/create-appeal.dto.spec.ts
  src/modules/appeals/dto/create-appeal.dto.ts
Labels: feature, tests, config

fix(appeals): raise thumbnail base64 cap to 200kb for real images
  src/modules/appeals/dto/create-appeal.dto.spec.ts
  src/modules/appeals/dto/create-appeal.dto.ts
Labels: feature, tests, config

fix(bootstrap): supprimer main.spec.ts et exclure main.ts de la couverture (WHISPR-858)
  package.json
  src/main.spec.ts
Labels: feature, tests, config, dependencies

fix(bootstrap): supprimer main.spec.ts et exclure main.ts de la couverture (WHISPR-858)
  package.json
  src/main.spec.ts
Labels: feature, tests, config, dependencies

ajout modules manquants dans la table
  README.md
Labels: documentation, feature, config

ajout section déploiement
  README.md
Labels: documentation, feature, config

ajout variables d'environnement
  README.md
Labels: documentation, feature, config

ajout schéma flux demande de contact
  README.md
Labels: documentation, feature, config

ajout prérequis
  README.md
Labels: documentation, feature, config

ajout guide de contribution
  CONTRIBUTING.md
Labels: documentation, feature, config

ajout doc sécurité
  SECURITY.md
Labels: documentation, feature, config

précisions sanctions et audit
  SECURITY.md
Labels: documentation, feature, config

ajout structure des modules
  CONTRIBUTING.md
Labels: documentation, feature, config

ajout liens utiles
  README.md
Labels: documentation, feature, config

ajout section qualité de code
  CONTRIBUTING.md
Labels: documentation, feature, config

ajout variable PORT
  README.md
Labels: documentation, feature, config

fix(ci): scan docker image locally before push to catch vulnerabilities on PR
  .github/workflows/docker.yml
Labels: ci/cd, feature, config

fix(ci): scan docker image locally before push to catch vulnerabilities on PR
  .github/workflows/docker.yml
Labels: ci/cd, feature, config

feat(profile): appliquer les paramètres de confidentialité sur l'endpoint de profil
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

feat(profile): appliquer les paramètres de confidentialité sur l'endpoint de profil
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(deps): bump vulnerable deps to patch 3 HIGH CVEs
  package-lock.json
  package.json
Labels: feature, config, dependencies

fix(deps): bump vulnerable deps to patch 3 HIGH CVEs
  package-lock.json
  package.json
Labels: feature, config, dependencies

fix(docker): patch CVE-2026-28390 libssl3 in base image
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

fix(docker): patch CVE-2026-28390 libssl3 in base image
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

fix(docker): patch CVE-2026-28390 libssl3 in base image
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

chore(ci): bump GitHub Actions to Node 24 LTS
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/labeler.yml
  .github/workflows/notify.yml
  .github/workflows/tests.yml
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

chore(ci): bump GitHub Actions to Node 24 LTS
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/labeler.yml
  .github/workflows/notify.yml
  .github/workflows/tests.yml
  .github/workflows/trivy.yml
Labels: ci/cd, feature, config

chore(deps): bump obsolete dependencies and migrate eslint to v9
  .eslintrc.js
  package-lock.json
  package.json
Labels: feature, config, dependencies

chore(deps): bump obsolete dependencies and migrate eslint to v9
  .eslintrc.js
  package-lock.json
  package.json
Labels: feature, config, dependencies

fix(profile): harden avatar media resolution and fallback
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(profile): harden avatar media resolution and fallback
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(bootstrap): supprimer main.spec.ts et exclure main.ts de la couverture (WHISPR-858)
  package.json
  src/main.spec.ts
Labels: feature, tests, config, dependencies
