Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

[WHISPR-270] Updates BASE
  AGENTS.md
  src/privacy/privacy.service.spec.ts
  src/privacy/privacy.service.ts
  src/users/users.service.spec.ts
Labels: documentation, feature, tests, config

[WHISPR-270] Updates BASE
  AGENTS.md
  src/privacy/privacy.service.spec.ts
  src/privacy/privacy.service.ts
  src/users/users.service.spec.ts
Labels: documentation, feature, tests, config

[WHISPR-270] Updates BASE
  AGENTS.md
  src/privacy/privacy.service.spec.ts
  src/privacy/privacy.service.ts
  src/users/users.service.spec.ts
Labels: documentation, feature, tests, config

[WHISPR-270] Updates BASE
  src/users/users.controller.spec.ts
  src/users/users.service.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/users/users.controller.spec.ts
  src/users/users.service.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/users/users.controller.spec.ts
  src/users/users.service.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/users/users.controller.spec.ts
  src/users/users.service.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/users/users.controller.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/users/users.controller.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/users/users.controller.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/users/users.controller.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/contacts/contacts.controller.spec.ts
  src/contacts/contacts.service.spec.ts
  src/groups/groups.controller.spec.ts
  src/interceptors/logging.interceptor.spec.ts
  src/privacy/privacy.controller.spec.ts
  src/privacy/privacy.service.spec.ts
  src/search/user-search.controller.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/contacts/contacts.controller.spec.ts
  src/contacts/contacts.service.spec.ts
  src/groups/groups.controller.spec.ts
  src/interceptors/logging.interceptor.spec.ts
  src/privacy/privacy.controller.spec.ts
  src/privacy/privacy.service.spec.ts
  src/search/user-search.controller.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/contacts/contacts.controller.spec.ts
  src/contacts/contacts.service.spec.ts
  src/groups/groups.controller.spec.ts
  src/interceptors/logging.interceptor.spec.ts
  src/privacy/privacy.controller.spec.ts
  src/privacy/privacy.service.spec.ts
  src/search/user-search.controller.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/contacts/contacts.controller.spec.ts
  src/contacts/contacts.service.spec.ts
  src/groups/groups.controller.spec.ts
  src/interceptors/logging.interceptor.spec.ts
  src/privacy/privacy.controller.spec.ts
  src/privacy/privacy.service.spec.ts
  src/search/user-search.controller.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/interceptors/logging.interceptor.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/interceptors/logging.interceptor.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/interceptors/logging.interceptor.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  src/interceptors/logging.interceptor.spec.ts
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  test/app.e2e-spec.ts
  test/setup-postgres.sh
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  test/app.e2e-spec.ts
  test/setup-postgres.sh
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  test/app.e2e-spec.ts
  test/setup-postgres.sh
Labels: feature, tests, config

[WHISPR-270] Updates BASE
  test/app.e2e-spec.ts
  test/setup-postgres.sh
Labels: feature, tests, config

refactor: replace individual Redis env vars with REDIS_URL
  docker/dev/.env.example
  docker/prod/.env.example
  src/cache.config.spec.ts
  src/cache.config.ts
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
Labels: ci/cd, feature, tests, config

refactor: replace individual Redis env vars with REDIS_URL
  docker/dev/.env.example
  docker/prod/.env.example
  src/cache.config.spec.ts
  src/cache.config.ts
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
Labels: ci/cd, feature, tests, config

refactor: replace individual Redis env vars with REDIS_URL
  docker/dev/.env.example
  docker/prod/.env.example
  src/cache.config.spec.ts
  src/cache.config.ts
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
Labels: ci/cd, feature, tests, config

refactor: replace individual Redis env vars with REDIS_URL
  docker/dev/.env.example
  docker/prod/.env.example
  src/cache.config.spec.ts
  src/cache.config.ts
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
Labels: ci/cd, feature, tests, config

refactor(docker): extract check-env into configurable submodule
  src/docker/check-env.ts
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/check-env.ts
  src/docker/check-env/env-config.ts
  src/docker/check-env/index.ts
  src/docker/check-env/types.ts
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
Labels: feature, tests, config

refactor(docker): extract check-env into configurable submodule
  src/docker/check-env.ts
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/check-env.ts
  src/docker/check-env/env-config.ts
  src/docker/check-env/index.ts
  src/docker/check-env/types.ts
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
Labels: feature, tests, config

refactor(docker): extract check-env into configurable submodule
  src/docker/check-env.ts
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/check-env.ts
  src/docker/check-env/env-config.ts
  src/docker/check-env/index.ts
  src/docker/check-env/types.ts
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
Labels: feature, tests, config

refactor(docker): extract check-env into configurable submodule
  src/docker/check-env.ts
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/check-env.ts
  src/docker/check-env/env-config.ts
  src/docker/check-env/index.ts
  src/docker/check-env/types.ts
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
Labels: feature, tests, config

feat: update Redis configuration for Sentinel mode
  docker/dev/.env.example
  package-lock.json
  package.json
  src/app.module.ts
  src/cache.config.spec.ts
  src/cache.config.ts
  src/cache/cache.module.ts
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/env-config.ts
  src/health/health.controller.spec.ts
  src/health/health.controller.ts
Labels: ci/cd, feature, tests, config, dependencies

feat: update Redis configuration for Sentinel mode
  docker/dev/.env.example
  package-lock.json
  package.json
  src/app.module.ts
  src/cache.config.spec.ts
  src/cache.config.ts
  src/cache/cache.module.ts
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/env-config.ts
  src/health/health.controller.spec.ts
  src/health/health.controller.ts
Labels: ci/cd, feature, tests, config, dependencies

feat: update Redis configuration for Sentinel mode
  docker/dev/.env.example
  package-lock.json
  package.json
  src/app.module.ts
  src/cache.config.spec.ts
  src/cache.config.ts
  src/cache/cache.module.ts
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/env-config.ts
  src/health/health.controller.spec.ts
  src/health/health.controller.ts
Labels: ci/cd, feature, tests, config, dependencies

feat: update Redis configuration for Sentinel mode
  docker/dev/.env.example
  package-lock.json
  package.json
  src/app.module.ts
  src/cache.config.spec.ts
  src/cache.config.ts
  src/cache/cache.module.ts
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
  src/docker/check-env/check-env.spec.ts
  src/docker/check-env/env-config.ts
  src/health/health.controller.spec.ts
  src/health/health.controller.ts
Labels: ci/cd, feature, tests, config, dependencies

deps: add packages for git hooks automation
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add packages for git hooks automation
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add packages for git hooks automation
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add packages for git hooks automation
  package-lock.json
  package.json
Labels: feature, config, dependencies

scripts: pre-commit hook config
  .husky/pre-commit
  package.json
Labels: feature, config, dependencies
