Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

feat: add a LoggingInterceptor
  src/interceptors/index.ts
  src/interceptors/logging.interceptor.ts
Labels: feature, config

feat: add a LoggingInterceptor
  src/interceptors/index.ts
  src/interceptors/logging.interceptor.ts
Labels: feature, config

feat: add a LoggingInterceptor
  src/interceptors/index.ts
  src/interceptors/logging.interceptor.ts
Labels: feature, config

fix: app bootstrap configuration
  src/main.ts
Labels: feature, config

fix: app bootstrap configuration
  src/main.ts
Labels: feature, config

fix: app bootstrap configuration
  src/main.ts
Labels: feature, config

fix: app bootstrap configuration
  src/main.ts
Labels: feature, config

deps: add Speedy Web Compiler (swc) packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add Speedy Web Compiler (swc) packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add Speedy Web Compiler (swc) packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add Speedy Web Compiler (swc) packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add Redis related packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add Redis related packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add Redis related packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add Redis related packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

docker: fix dev container entrypoint
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

docker: fix dev container entrypoint
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

docker: fix dev container entrypoint
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

docker: fix dev container entrypoint
  docker/dev/entrypoint.sh
Labels: ci/cd, feature, config

refactor: replace old cache configuration
  src/app.module.ts
  src/cache.config.ts
  src/cache/cache.module.ts
  src/cache/cache.service.spec.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/cache/search-index.service.spec.ts
  src/cache/search-index.service.ts
  src/health/health.controller.ts
  src/health/health.module.ts
Labels: feature, tests, config

refactor: replace old cache configuration
  src/app.module.ts
  src/cache.config.ts
  src/cache/cache.module.ts
  src/cache/cache.service.spec.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/cache/search-index.service.spec.ts
  src/cache/search-index.service.ts
  src/health/health.controller.ts
  src/health/health.module.ts
Labels: feature, tests, config

refactor: replace old cache configuration
  src/app.module.ts
  src/cache.config.ts
  src/cache/cache.module.ts
  src/cache/cache.service.spec.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/cache/search-index.service.spec.ts
  src/cache/search-index.service.ts
  src/health/health.controller.ts
  src/health/health.module.ts
Labels: feature, tests, config

refactor: replace old cache configuration
  src/app.module.ts
  src/cache.config.ts
  src/cache/cache.module.ts
  src/cache/cache.service.spec.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/cache/search-index.service.spec.ts
  src/cache/search-index.service.ts
  src/health/health.controller.ts
  src/health/health.module.ts
Labels: feature, tests, config

refactor: extract TypeORM config in a separate file
  src/app.module.ts
  src/typeorm.config.ts
Labels: feature, config

refactor: extract TypeORM config in a separate file
  src/app.module.ts
  src/typeorm.config.ts
Labels: feature, config

refactor: extract TypeORM config in a separate file
  src/app.module.ts
  src/typeorm.config.ts
Labels: feature, config

refactor: extract TypeORM config in a separate file
  src/app.module.ts
  src/typeorm.config.ts
Labels: feature, config

docker: fix dev compose nestjs port binding
  docker/dev/compose.yml
Labels: ci/cd, feature, config

docker: fix dev compose nestjs port binding
  docker/dev/compose.yml
Labels: ci/cd, feature, config

docker: fix dev compose nestjs port binding
  docker/dev/compose.yml
Labels: ci/cd, feature, config

docker: fix dev compose nestjs port binding
  docker/dev/compose.yml
Labels: ci/cd, feature, config

remove: the unused AppController and AppService
  src/app.controller.ts
  src/app.service.ts
Labels: feature, config

remove: the unused AppController and AppService
  src/app.controller.ts
  src/app.service.ts
Labels: feature, config

remove: the unused AppController and AppService
  src/app.controller.ts
  src/app.service.ts
Labels: feature, config

remove: the unused AppController and AppService
  src/app.controller.ts
  src/app.service.ts
Labels: feature, config

config: AppModule mount only stricly necessary modules
  src/app.module.ts
Labels: feature, config

config: AppModule mount only stricly necessary modules
  src/app.module.ts
Labels: feature, config

config: AppModule mount only stricly necessary modules
  src/app.module.ts
Labels: feature, config

config: AppModule mount only stricly necessary modules
  src/app.module.ts
Labels: feature, config

fix: apply copilot review recomendations
  docker/prod/.env.example
  docker/prod/compose.yml
  docker/prod/config/redis.conf
Labels: ci/cd, feature, config
