Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

feat(moderation): add audit log module with filterable trail and CSV export
  src/database/migrations/1776000300000-CreateAuditLogs.ts
  src/modules/app.module.ts
  src/modules/audit/audit.module.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/audit/entities/audit-log.entity.ts
  src/modules/audit/repositories/audit.repository.ts
  src/modules/audit/services/audit.service.ts
Labels: feature, config

feat(moderation): add audit log module with filterable trail and CSV export
  src/database/migrations/1776000300000-CreateAuditLogs.ts
  src/modules/app.module.ts
  src/modules/audit/audit.module.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/audit/entities/audit-log.entity.ts
  src/modules/audit/repositories/audit.repository.ts
  src/modules/audit/services/audit.service.ts
Labels: feature, config

test(moderation): add unit tests for roles, sanctions, appeals, and audit services
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/audit/services/audit.service.spec.ts
  src/modules/roles/services/roles.service.spec.ts
  src/modules/sanctions/services/sanctions.service.spec.ts
Labels: feature, tests, config

test(moderation): add unit tests for roles, sanctions, appeals, and audit services
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/audit/services/audit.service.spec.ts
  src/modules/roles/services/roles.service.spec.ts
  src/modules/sanctions/services/sanctions.service.spec.ts
Labels: feature, tests, config

feat(moderation): add Redis subscriber for auto-escalation from messaging-service threshold events
  src/modules/app.module.ts
  src/modules/moderation-subscriber/moderation-subscriber.module.ts
  src/modules/moderation-subscriber/moderation-subscriber.service.spec.ts
  src/modules/moderation-subscriber/moderation-subscriber.service.ts
Labels: feature, tests, config

feat(moderation): add Redis subscriber for auto-escalation from messaging-service threshold events
  src/modules/app.module.ts
  src/modules/moderation-subscriber/moderation-subscriber.module.ts
  src/modules/moderation-subscriber/moderation-subscriber.service.spec.ts
  src/modules/moderation-subscriber/moderation-subscriber.service.ts
Labels: feature, tests, config

feat(moderation): add reputation system, webhooks, sanction expiry cron, and extended features
  package-lock.json
  package.json
  src/database/migrations/1776000400000-CreateUserReputation.ts
  src/database/migrations/1776000500000-CreateWebhooks.ts
  src/modules/app.module.ts
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/dto/query-appeals.dto.ts
  src/modules/appeals/repositories/appeals.repository.ts
  src/modules/appeals/services/appeals-extended.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
  src/modules/reputation/controllers/reputation.controller.ts
  src/modules/reputation/entities/user-reputation.entity.ts
  src/modules/reputation/repositories/reputation.repository.ts
  src/modules/reputation/reputation.module.ts
  src/modules/reputation/services/reputation.service.spec.ts
  src/modules/reputation/services/reputation.service.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/sanctions/dto/query-sanctions.dto.ts
  src/modules/sanctions/repositories/sanctions.repository.ts
  src/modules/sanctions/sanctions.module.ts
  src/modules/sanctions/services/sanction-expiry.service.spec.ts
  src/modules/sanctions/services/sanction-expiry.service.ts
  src/modules/sanctions/services/sanctions-extended.service.spec.ts
  src/modules/sanctions/services/sanctions.service.ts
  src/modules/webhooks/controllers/webhooks.controller.ts
  src/modules/webhooks/dto/create-webhook.dto.ts
  src/modules/webhooks/entities/webhook.entity.ts
  src/modules/webhooks/repositories/webhooks.repository.ts
  src/modules/webhooks/services/webhooks.service.spec.ts
  src/modules/webhooks/services/webhooks.service.ts
  src/modules/webhooks/webhooks.module.ts
Labels: feature, tests, config, dependencies

feat(moderation): add reputation system, webhooks, sanction expiry cron, and extended features
  package-lock.json
  package.json
  src/database/migrations/1776000400000-CreateUserReputation.ts
  src/database/migrations/1776000500000-CreateWebhooks.ts
  src/modules/app.module.ts
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/dto/query-appeals.dto.ts
  src/modules/appeals/repositories/appeals.repository.ts
  src/modules/appeals/services/appeals-extended.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
  src/modules/reputation/controllers/reputation.controller.ts
  src/modules/reputation/entities/user-reputation.entity.ts
  src/modules/reputation/repositories/reputation.repository.ts
  src/modules/reputation/reputation.module.ts
  src/modules/reputation/services/reputation.service.spec.ts
  src/modules/reputation/services/reputation.service.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/sanctions/dto/query-sanctions.dto.ts
  src/modules/sanctions/repositories/sanctions.repository.ts
  src/modules/sanctions/sanctions.module.ts
  src/modules/sanctions/services/sanction-expiry.service.spec.ts
  src/modules/sanctions/services/sanction-expiry.service.ts
  src/modules/sanctions/services/sanctions-extended.service.spec.ts
  src/modules/sanctions/services/sanctions.service.ts
  src/modules/webhooks/controllers/webhooks.controller.ts
  src/modules/webhooks/dto/create-webhook.dto.ts
  src/modules/webhooks/entities/webhook.entity.ts
  src/modules/webhooks/repositories/webhooks.repository.ts
  src/modules/webhooks/services/webhooks.service.spec.ts
  src/modules/webhooks/services/webhooks.service.ts
  src/modules/webhooks/webhooks.module.ts
Labels: feature, tests, config, dependencies

docs(moderation): add complete Swagger/OpenAPI documentation to all moderation endpoints
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/dto/appeal-response.dto.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/reputation/controllers/reputation.controller.ts
  src/modules/reputation/dto/reputation-response.dto.ts
  src/modules/roles/controllers/roles.controller.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/sanctions/dto/sanction-response.dto.ts
  src/modules/webhooks/controllers/webhooks.controller.ts
Labels: feature, config

docs(moderation): add complete Swagger/OpenAPI documentation to all moderation endpoints
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/dto/appeal-response.dto.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/reputation/controllers/reputation.controller.ts
  src/modules/reputation/dto/reputation-response.dto.ts
  src/modules/roles/controllers/roles.controller.ts
  src/modules/sanctions/controllers/sanctions.controller.ts
  src/modules/sanctions/dto/sanction-response.dto.ts
  src/modules/webhooks/controllers/webhooks.controller.ts
Labels: feature, config

test(moderation): add controller and repository tests for all moderation modules
  src/modules/appeals/controllers/appeals.controller.spec.ts
  src/modules/appeals/repositories/appeals.repository.spec.ts
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/reputation/controllers/reputation.controller.spec.ts
  src/modules/roles/controllers/roles.controller.spec.ts
  src/modules/roles/repositories/roles.repository.spec.ts
  src/modules/sanctions/controllers/sanctions.controller.spec.ts
  src/modules/sanctions/repositories/sanctions.repository.spec.ts
  src/modules/webhooks/controllers/webhooks.controller.spec.ts
Labels: feature, tests, config

test(moderation): add controller and repository tests for all moderation modules
  src/modules/appeals/controllers/appeals.controller.spec.ts
  src/modules/appeals/repositories/appeals.repository.spec.ts
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/reputation/controllers/reputation.controller.spec.ts
  src/modules/roles/controllers/roles.controller.spec.ts
  src/modules/roles/repositories/roles.repository.spec.ts
  src/modules/sanctions/controllers/sanctions.controller.spec.ts
  src/modules/sanctions/repositories/sanctions.repository.spec.ts
  src/modules/webhooks/controllers/webhooks.controller.spec.ts
Labels: feature, tests, config

feat(seed): bootstrap first admin role for preprod (solves chicken-egg problem)
  src/database/migrations/1776000600000-SeedFirstAdmin.ts
Labels: feature, config

feat(seed): bootstrap first admin role for preprod (solves chicken-egg problem)
  src/database/migrations/1776000600000-SeedFirstAdmin.ts
Labels: feature, config

fix(moderation): add idempotency check before auto-escalation sanctions
  src/modules/moderation-subscriber/moderation-subscriber.service.ts
Labels: feature, config

fix(moderation): add idempotency check before auto-escalation sanctions
  src/modules/moderation-subscriber/moderation-subscriber.service.ts
Labels: feature, config

test(moderation): add getMySanctions mock for idempotency check
  src/modules/moderation-subscriber/moderation-subscriber.service.spec.ts
Labels: feature, tests, config

test(moderation): add getMySanctions mock for idempotency check
  src/modules/moderation-subscriber/moderation-subscriber.service.spec.ts
Labels: feature, tests, config

fix(pagination): passer au curseur composite (createdAt, id) pour un ordre chronologique
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/common/dto/cursor-pagination.dto.ts
  src/modules/common/utils/cursor-pagination.util.spec.ts
  src/modules/common/utils/cursor-pagination.util.ts
  src/modules/contacts/repositories/contact-requests.repository.spec.ts
  src/modules/contacts/repositories/contacts.repository.spec.ts
  src/modules/groups/repositories/groups.repository.spec.ts
Labels: feature, tests, config

fix(pagination): passer au curseur composite (createdAt, id) pour un ordre chronologique
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/common/dto/cursor-pagination.dto.ts
  src/modules/common/utils/cursor-pagination.util.spec.ts
  src/modules/common/utils/cursor-pagination.util.ts
  src/modules/contacts/repositories/contact-requests.repository.spec.ts
  src/modules/contacts/repositories/contacts.repository.spec.ts
  src/modules/groups/repositories/groups.repository.spec.ts
Labels: feature, tests, config

refactor(cache): ajouter removeStaleIndexKeys pour une suppression ciblée
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(groups): renvoyer 404 au lieu de 403 pour empêcher l'énumération de ressources
  src/modules/groups/controllers/groups.controller.ts
  src/modules/groups/services/groups.service.spec.ts
  src/modules/groups/services/groups.service.ts
Labels: feature, tests, config

chore(ci): auto fast-forward deploy/preprod with main on infra sync
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(throttle): raise global limit and skip throttle on profile reads
  src/modules/app.module.ts
  src/modules/profile/controllers/profile.controller.ts
Labels: feature, config

fix(database): use 'each' migration transaction mode to support CONCURRENTLY
  src/database/migration.config.ts
  src/typeorm.config.ts
Labels: feature, config

fix(migrations): skip SeedFirstAdmin when target user is absent
  src/database/migrations/1776000600000-SeedFirstAdmin.ts
Labels: feature, config

Revert "merge(main): sync latest fixes into deploy/preprod"
  .github/workflows/cd.yml
  src/database/migration.config.ts
  src/database/migrations/1776000600000-SeedFirstAdmin.ts
  src/typeorm.config.ts
Labels: ci/cd, feature, config

feat(appeals): support blocked_image appeal type with redis event
  src/database/migrations/1776000700000-AppealTypeAndNullableSanction.ts
  src/modules/appeals/dto/create-appeal.dto.ts
  src/modules/appeals/dto/query-appeals.dto.ts
  src/modules/appeals/entities/appeal.entity.ts
  src/modules/appeals/repositories/appeals.repository.ts
  src/modules/appeals/services/appeals-extended.service.spec.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
Labels: feature, tests, config

test(appeals): raise new-code coverage for blocked_image paths
  src/modules/appeals/dto/create-appeal.dto.spec.ts
  src/modules/appeals/services/appeals.service.spec.ts
Labels: feature, tests, config

docs: clarify service scope in description
  README.md
Labels: documentation, feature, config

docs: clarify service scope in description
  README.md
Labels: documentation, feature, config

docs: add tech stack
  README.md
Labels: documentation, feature, config

docs: add tech stack
  README.md
Labels: documentation, feature, config

docs: add modules overview table
  README.md
Labels: documentation, feature, config

docs: add modules overview table
  README.md
Labels: documentation, feature, config

docs: add architecture diagram
  README.md
Labels: documentation, feature, config

docs: add architecture diagram
  README.md
Labels: documentation, feature, config

docs: add testing section
  README.md
Labels: documentation, feature, config

docs: add testing section
  README.md
Labels: documentation, feature, config

docs: add architecture diagram
  README.md
Labels: documentation, feature, config
