Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 👤 users:core, 📞 contacts, 👥 groups, 🔒 privacy, 🔍 search, 🚫 blocked-users, 🗄️ database, ⚙️ config, 💾 cache, 💊 health, 🎮 api:controllers, 📋 api:dto, 🛡️ security:guards, 🔄 middleware, 🗂️ filters, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔗 docs:integration, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance

🐛 fix(search): fix SearchIndexService API mismatch
  src/search/user-search.service.ts
Labels: 🔍 search, ⚡ performance

🔧 chore(config): fix compose and index files to restore build
  docker/docker-compose.yml
  src/common/index.ts
  src/database/index.ts
Labels: 🐳 devops:docker

🔧 chore(config): fix compose and index files to restore build
  docker/docker-compose.yml
  src/common/index.ts
  src/database/index.ts
Labels: 🐳 devops:docker

🔧 chore(config): fix compose and index files to restore build
  docker/docker-compose.yml
  src/common/index.ts
  src/database/index.ts
Labels: 🐳 devops:docker

🐛 fix(groups): fix groups service
  src/groups/groups.service.ts
Labels: 👥 groups, ⚡ performance

🐛 fix(groups): fix groups service
  src/groups/groups.service.ts
Labels: 👥 groups, ⚡ performance

🐛 fix(groups): fix groups service
  src/groups/groups.service.ts
Labels: 👥 groups, ⚡ performance

🔧 ci(tests): run DB migrations before tests in CI workflow
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

🔧 ci(tests): run DB migrations before tests in CI workflow
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

🔧 ci(tests): run DB migrations before tests in CI workflow
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

🔧 chore(config): standardize environment variable naming
  .env.example
Labels: none

🔧 chore(config): standardize environment variable naming
  .env.example
Labels: none

🔧 chore(config): standardize environment variable naming
  .env.example
Labels: none

🔧 chore(config): standardize environment variable naming
  .env.example
Labels: none

✨ feat(config): add development environment configuration file
  .env.development
Labels: none

✨ feat(config): add development environment configuration file
  .env.development
Labels: none

✨ feat(config): add development environment configuration file
  .env.development
Labels: none

✨ feat(config): add development environment configuration file
  .env.development
Labels: none

🔧 chore(config): update database and redis configs for standardized env vars
  src/config/database.config.ts
  src/config/redis.config.ts
Labels: ⚙️ config, 💾 cache, ⚡ performance

🔧 chore(config): update database and redis configs for standardized env vars
  src/config/database.config.ts
  src/config/redis.config.ts
Labels: ⚙️ config, 💾 cache, ⚡ performance

🔧 chore(config): update database and redis configs for standardized env vars
  src/config/database.config.ts
  src/config/redis.config.ts
Labels: ⚙️ config, 💾 cache, ⚡ performance

🔧 chore(config): update database and redis configs for standardized env vars
  src/config/database.config.ts
  src/config/redis.config.ts
Labels: ⚙️ config, 💾 cache, ⚡ performance

🔧 chore(docker): simplify development container configuration
  docker/Dockerfile.dev
  docker/docker-compose.dev.yml
Labels: 🐳 devops:docker

🔧 chore(docker): simplify development container configuration
  docker/Dockerfile.dev
  docker/docker-compose.dev.yml
Labels: 🐳 devops:docker

🔧 chore(docker): simplify development container configuration
  docker/Dockerfile.dev
  docker/docker-compose.dev.yml
Labels: 🐳 devops:docker

🔧 chore(docker): simplify development container configuration
  docker/Dockerfile.dev
  docker/docker-compose.dev.yml
Labels: 🐳 devops:docker

🔧 chore(config): prioritize .env.development in ConfigModule
  src/app.module.ts
Labels: ⚙️ config, 💥 breaking-change

🔧 chore(config): prioritize .env.development in ConfigModule
  src/app.module.ts
Labels: ⚙️ config, 💥 breaking-change

🔧 chore(config): prioritize .env.development in ConfigModule
  src/app.module.ts
Labels: ⚙️ config, 💥 breaking-change

🔧 chore(config): prioritize .env.development in ConfigModule
  src/app.module.ts
Labels: ⚙️ config, 💥 breaking-change

🔧 chore(tooling): add Justfile for development environment management
  Justfile
  package-lock.json
  package.json
Labels: 📦 dependencies

🔧 chore(tooling): add Justfile for development environment management
  Justfile
  package-lock.json
  package.json
Labels: 📦 dependencies

🔧 chore(tooling): add Justfile for development environment management
  Justfile
  package-lock.json
  package.json
Labels: 📦 dependencies

🔧 chore(tooling): add Justfile for development environment management
  Justfile
  package-lock.json
  package.json
Labels: 📦 dependencies

👷 ci(tests): integrate Docker Compose for CI testing environment
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

👷 ci(tests): integrate Docker Compose for CI testing environment
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

👷 ci(tests): integrate Docker Compose for CI testing environment
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

👷 ci(tests): integrate Docker Compose for CI testing environment
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

🐛 fix(tests): fix Redis config test mocking and linting issues
  src/config/redis.config.spec.ts
  src/groups/groups.service.ts
  src/search/user-search.service.ts
Labels: 👥 groups, 🔍 search, ⚙️ config, 🧪 tests:unit, ⚡ performance

🐛 fix(tests): fix Redis config test mocking and linting issues
  src/config/redis.config.spec.ts
  src/groups/groups.service.ts
  src/search/user-search.service.ts
Labels: 👥 groups, 🔍 search, ⚙️ config, 🧪 tests:unit, ⚡ performance

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# User Management Core
👤 users:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/users/users.module.ts'
      - 'src/users/users.service.ts'
      - 'src/users/users.service.spec.ts'
      - 'src/users/users.controller.ts'
      - 'src/dto/create-user.dto.ts'
      - 'src/dto/update-user.dto.ts'

# Contact Management
📞 contacts:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/contacts/**/*'
      - 'src/dto/add-contact.dto.ts'
      - 'src/dto/update-contact.dto.ts'

# Group Management
👥 groups:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/groups/**/*'
      - 'src/dto/create-group.dto.ts'
      - 'src/dto/update-group.dto.ts'
      - 'src/dto/add-group-member.dto.ts'

# Privacy Settings
🔒 privacy:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/privacy/**/*'
      - 'src/dto/update-privacy-settings.dto.ts'

# Search Functionality
🔍 search:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/search/**/*'
      - 'src/cache/search-index.service.ts'

# Blocked Users
🚫 blocked-users:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/blocked-users/**/*'
      - 'src/dto/block-user.dto.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/database/migrations/**/*'
      - 'src/database/seeds/**/*'
      - 'scripts/init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/config/**/*'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Cache & Redis
💾 cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cache/**/*'
      - 'src/config/redis.config.ts'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*controller*.ts'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - '**/*dto*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/common/guards/**/*'
      - '**/*guard*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/common/interceptors/**/*'
      - 'src/common/pipes/**/*'
      - 'src/common/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# Filters
🗂️ filters:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/common/filters/**/*'
      - '**/*filter*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - 'Makefile'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Integration Documentation
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/INTEGRATION.md'
      - 'documentation/DOCKER.md'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'
      - 'AGENTS.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/database/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*service*.ts'
      - 'src/common/guards/**/*'
      - 'src/common/interceptors/**/*'
      - 'src/cache/**/*'
      - 'src/config/redis.config.ts'
