Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

fix(audit): neutralise csv formula injection on export
  src/modules/audit/services/audit.service.spec.ts
  src/modules/audit/services/audit.service.ts
Labels: feature, tests, config

fix(audit): neutralise csv formula injection on export
  src/modules/audit/services/audit.service.spec.ts
  src/modules/audit/services/audit.service.ts
Labels: feature, tests, config

fix(audit): neutralise csv formula injection on export
  src/modules/audit/services/audit.service.spec.ts
  src/modules/audit/services/audit.service.ts
Labels: feature, tests, config

fix(search): validate username query via dto
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/username-search-query.dto.ts
Labels: feature, tests, config

fix(search): validate username query via dto
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/username-search-query.dto.ts
Labels: feature, tests, config

fix(search): validate username query via dto
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/username-search-query.dto.ts
Labels: feature, tests, config

feat(appeals): log reviewed appeals to audit trail
  src/modules/appeals/appeals.module.ts
  src/modules/appeals/services/appeals-extended.service.spec.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
Labels: feature, tests, config

feat(appeals): log reviewed appeals to audit trail
  src/modules/appeals/appeals.module.ts
  src/modules/appeals/services/appeals-extended.service.spec.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
Labels: feature, tests, config

feat(appeals): log reviewed appeals to audit trail
  src/modules/appeals/appeals.module.ts
  src/modules/appeals/services/appeals-extended.service.spec.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
Labels: feature, tests, config

fix(appeals): restrict appeal detail and timeline to owner or staff
  src/modules/appeals/controllers/appeals.controller.spec.ts
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
Labels: feature, tests, config

fix(appeals): restrict appeal detail and timeline to owner or staff
  src/modules/appeals/controllers/appeals.controller.spec.ts
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
Labels: feature, tests, config

fix(appeals): restrict appeal detail and timeline to owner or staff
  src/modules/appeals/controllers/appeals.controller.spec.ts
  src/modules/appeals/controllers/appeals.controller.ts
  src/modules/appeals/services/appeals.service.spec.ts
  src/modules/appeals/services/appeals.service.ts
Labels: feature, tests, config

fix(profile): cap biography length at 500 chars
  src/modules/profile/dto/update-profile.dto.ts
Labels: feature, config

fix(profile): cap biography length at 500 chars
  src/modules/profile/dto/update-profile.dto.ts
Labels: feature, config

fix(profile): cap biography length at 500 chars
  src/modules/profile/dto/update-profile.dto.ts
Labels: feature, config

fix(deps): upgrade dependabot flagged packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

fix(deps): upgrade dependabot flagged packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

fix(deps): upgrade dependabot flagged packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

fix(privacy): handle missing userId route properly
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/controllers/privacy.controller.ts
Labels: feature, tests, config

fix(privacy): handle missing userId route properly
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/controllers/privacy.controller.ts
Labels: feature, tests, config

fix(privacy): handle missing userId route properly
  src/modules/privacy/controllers/privacy.controller.spec.ts
  src/modules/privacy/controllers/privacy.controller.ts
Labels: feature, tests, config

feat(backups): forward restore payload to messaging-service
  src/docker/check-env/env-config.ts
  src/modules/backups/backups.module.ts
  src/modules/backups/controllers/backups.controller.spec.ts
  src/modules/backups/controllers/backups.controller.ts
  src/modules/backups/services/backups.service.spec.ts
  src/modules/backups/services/backups.service.ts
  src/modules/backups/services/messaging-client.service.spec.ts
  src/modules/backups/services/messaging-client.service.ts
  test/setup-e2e.ts
Labels: feature, tests, config

feat(backups): forward restore payload to messaging-service
  src/docker/check-env/env-config.ts
  src/modules/backups/backups.module.ts
  src/modules/backups/controllers/backups.controller.spec.ts
  src/modules/backups/controllers/backups.controller.ts
  src/modules/backups/services/backups.service.spec.ts
  src/modules/backups/services/backups.service.ts
  src/modules/backups/services/messaging-client.service.spec.ts
  src/modules/backups/services/messaging-client.service.ts
  test/setup-e2e.ts
Labels: feature, tests, config

feat(backups): forward restore payload to messaging-service
  src/docker/check-env/env-config.ts
  src/modules/backups/backups.module.ts
  src/modules/backups/controllers/backups.controller.spec.ts
  src/modules/backups/controllers/backups.controller.ts
  src/modules/backups/services/backups.service.spec.ts
  src/modules/backups/services/backups.service.ts
  src/modules/backups/services/messaging-client.service.spec.ts
  src/modules/backups/services/messaging-client.service.ts
  test/setup-e2e.ts
Labels: feature, tests, config

test(e2e): assert response body on profile 403 scenario
  test/functional.e2e-spec.ts
Labels: feature, tests, config

test(e2e): assert response body on profile 403 scenario
  test/functional.e2e-spec.ts
Labels: feature, tests, config

test(e2e): assert response body on profile 403 scenario
  test/functional.e2e-spec.ts
Labels: feature, tests, config

fix(test): transpile uuid esm build in e2e jest config
  test/jest-e2e.json
Labels: feature, tests, config

fix(test): transpile uuid esm build in e2e jest config
  test/jest-e2e.json
Labels: feature, tests, config

fix(test): transpile uuid esm build in e2e jest config
  test/jest-e2e.json
Labels: feature, tests, config

fix(profile): call media-service with /v1 version prefix
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: feature, tests, config

fix(profile): call media-service with /v1 version prefix
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: feature, tests, config

fix(profile): call media-service with /v1 version prefix
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: feature, tests, config

fix(profile): use blob URL instead of non-existent media.url field
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(profile): use blob URL instead of non-existent media.url field
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(profile): use blob URL instead of non-existent media.url field
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(profile): replace trailing-slash regex with iterative trim
  src/modules/profile/services/profile.service.ts
Labels: feature, config

fix(profile): replace trailing-slash regex with iterative trim
  src/modules/profile/services/profile.service.ts
Labels: feature, config

fix(profile): replace trailing-slash regex with iterative trim
  src/modules/profile/services/profile.service.ts
Labels: feature, config

[WHISPR-1141] fix(profile): use blob URL instead of non-existent media.url field
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
