Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

scripts: pre-commit hook config
  .husky/pre-commit
  package.json
Labels: feature, config, dependencies

scripts: pre-commit hook config
  .husky/pre-commit
  package.json
Labels: feature, config, dependencies

scripts: pre-commit hook config
  .husky/pre-commit
  package.json
Labels: feature, config, dependencies

fix: e2e tests for pre-commit git hooks
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  .husky/pre-commit
  .husky/pre-push
  Justfile
  docker/test/Dockerfile
  docker/test/compose.yml
  docker/test/entrypoint.sh
  docker/test/init.sql
  package-lock.json
  package.json
  src/config/database.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/entities/user.entity.ts
  src/typeorm.config.ts
  test/app.e2e-spec.ts
  test/docker/docker-e2e-runner.ts
  test/docker/jest-docker-e2e.json
  test/docker/setup-docker-e2e.ts
  test/jest-e2e.json
  test/setup-e2e.ts
  test/setup.ts
Labels: ci/cd, feature, tests, config, dependencies

fix: e2e tests for pre-commit git hooks
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  .husky/pre-commit
  .husky/pre-push
  Justfile
  docker/test/Dockerfile
  docker/test/compose.yml
  docker/test/entrypoint.sh
  docker/test/init.sql
  package-lock.json
  package.json
  src/config/database.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/entities/user.entity.ts
  src/typeorm.config.ts
  test/app.e2e-spec.ts
  test/docker/docker-e2e-runner.ts
  test/docker/jest-docker-e2e.json
  test/docker/setup-docker-e2e.ts
  test/jest-e2e.json
  test/setup-e2e.ts
  test/setup.ts
Labels: ci/cd, feature, tests, config, dependencies

fix: e2e tests for pre-commit git hooks
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  .husky/pre-commit
  .husky/pre-push
  Justfile
  docker/test/Dockerfile
  docker/test/compose.yml
  docker/test/entrypoint.sh
  docker/test/init.sql
  package-lock.json
  package.json
  src/config/database.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/entities/user.entity.ts
  src/typeorm.config.ts
  test/app.e2e-spec.ts
  test/docker/docker-e2e-runner.ts
  test/docker/jest-docker-e2e.json
  test/docker/setup-docker-e2e.ts
  test/jest-e2e.json
  test/setup-e2e.ts
  test/setup.ts
Labels: ci/cd, feature, tests, config, dependencies

fix: e2e tests for pre-commit git hooks
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  .husky/pre-commit
  .husky/pre-push
  Justfile
  docker/test/Dockerfile
  docker/test/compose.yml
  docker/test/entrypoint.sh
  docker/test/init.sql
  package-lock.json
  package.json
  src/config/database.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/entities/user.entity.ts
  src/typeorm.config.ts
  test/app.e2e-spec.ts
  test/docker/docker-e2e-runner.ts
  test/docker/jest-docker-e2e.json
  test/docker/setup-docker-e2e.ts
  test/jest-e2e.json
  test/setup-e2e.ts
  test/setup.ts
Labels: ci/cd, feature, tests, config, dependencies

style: fix git hook messages display
  .husky/pre-push
Labels: feature, config

style: fix git hook messages display
  .husky/pre-push
Labels: feature, config

style: fix git hook messages display
  .husky/pre-push
Labels: feature, config

style: fix git hook messages display
  .husky/pre-push
Labels: feature, config

deps: update package-lock
  package-lock.json
Labels: feature, config, dependencies

deps: update package-lock
  package-lock.json
Labels: feature, config, dependencies

deps: update package-lock
  package-lock.json
Labels: feature, config, dependencies

deps: update package-lock
  package-lock.json
Labels: feature, config, dependencies

linter: fix errors
  src/app.module.ts
  src/docker/entrypoint.spec.ts
Labels: feature, tests, config

linter: fix errors
  src/app.module.ts
  src/docker/entrypoint.spec.ts
Labels: feature, tests, config

linter: fix errors
  src/app.module.ts
  src/docker/entrypoint.spec.ts
Labels: feature, tests, config

linter: fix errors
  src/app.module.ts
  src/docker/entrypoint.spec.ts
Labels: feature, tests, config

style: format files
  src/config/redis.config.spec.ts
Labels: feature, tests, config

style: format files
  src/config/redis.config.spec.ts
Labels: feature, tests, config

style: format files
  src/config/redis.config.spec.ts
Labels: feature, tests, config

style: format files
  src/config/redis.config.spec.ts
Labels: feature, tests, config

cd: fix service manifests paths
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

cd: fix service manifests paths
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

cd: fix service manifests paths
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

cd: fix service manifests paths
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

fix: update production URL to whispr.epitech.beer and set as default server
  src/swagger.ts
Labels: feature, config

fix: update production URL to whispr.epitech.beer and set as default server
  src/swagger.ts
Labels: feature, config

fix: update production URL to whispr.epitech.beer and set as default server
  src/swagger.ts
Labels: feature, config

fix: update production URL to whispr.epitech.beer and set as default server
  src/swagger.ts
Labels: feature, config

docs: Revise README for Authentication Service
  README.md
Labels: documentation, feature, config

docs: Revise README for Authentication Service
  README.md
Labels: documentation, feature, config

docs: Revise README for Authentication Service
  README.md
Labels: documentation, feature, config

docs: Revise README for Authentication Service
  README.md
Labels: documentation, feature, config

fix: adapt auth README for user service
  README.md
Labels: documentation, feature, config

fix: adapt auth README for user service
  README.md
Labels: documentation, feature, config

fix: adapt auth README for user service
  README.md
Labels: documentation, feature, config

fix: adapt auth README for user service
  README.md
Labels: documentation, feature, config

feat(accounts): integrate AccountsModule with hybrid app architecture
  src/main.ts
  src/modules/accounts/accounts.module.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/events/index.ts
  src/modules/accounts/events/user-created.event.ts
  src/modules/accounts/events/user-deactivated.event.ts
  src/modules/accounts/events/user-updated.event.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/app.module.ts
  src/modules/common/common.module.ts
  src/modules/common/entities/user.entity.ts
  src/modules/common/repositories/index.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/shared/events/index.ts
  src/modules/shared/events/user-registered.event.ts
  src/swagger.ts
Labels: feature, tests, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
