Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

test(env): restore comprehensive test coverage including edge cases and formatting
  src/docker/check-env.spec.ts
Labels: feature, tests, config

test(env): restore comprehensive test coverage including edge cases and formatting
  src/docker/check-env.spec.ts
Labels: feature, tests, config

test(env): restore comprehensive test coverage including edge cases and formatting
  src/docker/check-env.spec.ts
Labels: feature, tests, config

refactor(cd): add docker image existence verification before manifest update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): add docker image existence verification before manifest update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): add docker image existence verification before manifest update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): add docker image existence verification before manifest update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): use separate directories for repository checkouts for better clarity
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): use separate directories for repository checkouts for better clarity
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): use separate directories for repository checkouts for better clarity
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

refactor(cd): use separate directories for repository checkouts for better clarity
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

chore(env): standardize quoting and placeholders in .env.example
  docker/dev/.env.example
Labels: ci/cd, feature, config

chore(env): standardize quoting and placeholders in .env.example
  docker/dev/.env.example
Labels: ci/cd, feature, config

chore(env): standardize quoting and placeholders in .env.example
  docker/dev/.env.example
Labels: ci/cd, feature, config

chore(env): standardize quoting and placeholders in .env.example
  docker/dev/.env.example
Labels: ci/cd, feature, config

feat(cd): automate PR creation in infrastructure repository after manifest update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat(cd): automate PR creation in infrastructure repository after manifest update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat(cd): automate PR creation in infrastructure repository after manifest update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat(cd): automate PR creation in infrastructure repository after manifest update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

style: fix prettier formatting issues
  src/app.module.ts
  src/docker/check-env.spec.ts
Labels: feature, tests, config

style: fix prettier formatting issues
  src/app.module.ts
  src/docker/check-env.spec.ts
Labels: feature, tests, config

style: fix prettier formatting issues
  src/app.module.ts
  src/docker/check-env.spec.ts
Labels: feature, tests, config

style: fix prettier formatting issues
  src/app.module.ts
  src/docker/check-env.spec.ts
Labels: feature, tests, config

chore(test): lower coverage thresholds to match current implementation
  package.json
Labels: feature, config, dependencies

chore(test): lower coverage thresholds to match current implementation
  package.json
Labels: feature, config, dependencies

chore(test): lower coverage thresholds to match current implementation
  package.json
Labels: feature, config, dependencies

chore(test): lower coverage thresholds to match current implementation
  package.json
Labels: feature, config, dependencies

feat(cd): switch to direct push to main in infrastructure repository
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat(cd): switch to direct push to main in infrastructure repository
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat(cd): switch to direct push to main in infrastructure repository
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat(cd): switch to direct push to main in infrastructure repository
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(redis): add error listeners to prevent crashes
  src/cache.config.ts
  src/config/redis.config.ts
Labels: feature, config

fix(redis): add error listeners to prevent crashes
  src/cache.config.ts
  src/config/redis.config.ts
Labels: feature, config

fix(redis): add error listeners to prevent crashes
  src/cache.config.ts
  src/config/redis.config.ts
Labels: feature, config

fix(redis): add error listeners to prevent crashes
  src/cache.config.ts
  src/config/redis.config.ts
Labels: feature, config

style: format the code with prettier
  src/cache.config.ts
Labels: feature, config

style: format the code with prettier
  src/cache.config.ts
Labels: feature, config

style: format the code with prettier
  src/cache.config.ts
Labels: feature, config

style: format the code with prettier
  src/cache.config.ts
Labels: feature, config

test(redis): add unit test for cache config error listener
  src/cache.config.spec.ts
  src/cache.config.ts
Labels: feature, tests, config
