Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

deps: add @nestjs/platform-express
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add @nestjs/platform-express
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add @nestjs/platform-express
  package-lock.json
  package.json
Labels: feature, config, dependencies

docker: fix comment consistency between dev and prod compose file
  docker/dev/compose.yml
Labels: ci/cd, feature, config

docker: fix comment consistency between dev and prod compose file
  docker/dev/compose.yml
Labels: ci/cd, feature, config

docker: fix comment consistency between dev and prod compose file
  docker/dev/compose.yml
Labels: ci/cd, feature, config

docker: fix comment consistency between dev and prod compose file
  docker/dev/compose.yml
Labels: ci/cd, feature, config

deps: add @nestjs/swagger
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add @nestjs/swagger
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add @nestjs/swagger
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add @nestjs/swagger
  package-lock.json
  package.json
Labels: feature, config, dependencies

config: add prettier configuration in package.json
  package.json
Labels: feature, config, dependencies

config: add prettier configuration in package.json
  package.json
Labels: feature, config, dependencies

config: add prettier configuration in package.json
  package.json
Labels: feature, config, dependencies

config: add prettier configuration in package.json
  package.json
Labels: feature, config, dependencies

config(package.json): add engines versions
  package.json
Labels: feature, config, dependencies

config(package.json): add engines versions
  package.json
Labels: feature, config, dependencies

config(package.json): add engines versions
  package.json
Labels: feature, config, dependencies

config(package.json): add engines versions
  package.json
Labels: feature, config, dependencies

deps: remove unused dependencies
  package.json
Labels: feature, config, dependencies

deps: remove unused dependencies
  package.json
Labels: feature, config, dependencies

deps: remove unused dependencies
  package.json
Labels: feature, config, dependencies

deps: remove unused dependencies
  package.json
Labels: feature, config, dependencies

deps: upgrad @typescript-eslint packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: upgrad @typescript-eslint packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: upgrad @typescript-eslint packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: upgrad @typescript-eslint packages
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add eslint-plugin-jest
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add eslint-plugin-jest
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add eslint-plugin-jest
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: add eslint-plugin-jest
  package-lock.json
  package.json
Labels: feature, config, dependencies

config: add eslint configuration
  eslint.config.js
Labels: feature, config

config: add eslint configuration
  eslint.config.js
Labels: feature, config

config: add eslint configuration
  eslint.config.js
Labels: feature, config

config: add eslint configuration
  eslint.config.js
Labels: feature, config

config: add Swagger configuration
  src/swagger.ts
Labels: feature, config

config: add Swagger configuration
  src/swagger.ts
Labels: feature, config

config: add Swagger configuration
  src/swagger.ts
Labels: feature, config

config: add Swagger configuration
  src/swagger.ts
Labels: feature, config

feat: add a LoggingInterceptor
  src/interceptors/index.ts
  src/interceptors/logging.interceptor.ts
Labels: feature, config
