Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

Revert "sync: preprod fixes to main (search, CORS, docker, /v1 removal) (#56)"
  docker/dev/compose.yml
  docker/prod/Dockerfile
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: ci/cd, feature, tests, config

Revert "sync: preprod fixes to main (search, CORS, docker, /v1 removal) (#56)"
  docker/dev/compose.yml
  docker/prod/Dockerfile
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: ci/cd, feature, tests, config

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: ci/cd, feature, config

fix(profile): index user in search after profile update
  src/modules/profile/services/profile.service.ts
Labels: feature, config

style(profile): fix prettier formatting
  src/modules/profile/services/profile.service.ts
Labels: feature, config

fix(search): use HGET for Redis hash lookups and add DB fallback
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, tests, config

feat(cors): enable CORS for cross-origin requests
  src/main.ts
Labels: feature, config

fix(search): use HGET for Redis search + index users on profile update
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(cache): remove duplicate hget method
  src/modules/cache/cache.service.ts
Labels: feature, config

feat(search): add batch phone search endpoint and verify name search privacy
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, config

fix: search, CORS, profile indexing, batch phone search (#57)
  docker/prod/Dockerfile
  src/docker/health-check.ts
  src/main.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: ci/cd, feature, tests, config

fix: search, CORS, profile indexing, batch phone search (#57)
  docker/prod/Dockerfile
  src/docker/health-check.ts
  src/main.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/batch-phone-search.dto.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: ci/cd, feature, tests, config

Updates
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/media-client.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(ci): docker e2e without TTY
  package.json
Labels: feature, config, dependencies

test: update health-check log expectation
  src/docker/health-check.spec.ts
Labels: feature, tests, config

fix(ci): docker e2e without TTY
  package.json
Labels: feature, config, dependencies

config(gitnexus): add setup files
  .claude/skills/generated/check-env/SKILL.md
  .claude/skills/generated/cluster-0/SKILL.md
  .claude/skills/generated/config/SKILL.md
  .claude/skills/generated/interceptors/SKILL.md
  .claude/skills/generated/jwt-auth/SKILL.md
  .claude/skills/generated/repositories/SKILL.md
  .claude/skills/generated/services/SKILL.md
  AGENTS.md
  CLAUDE.md
Labels: documentation, feature, config

config(gitnexus): add setup files
  .claude/skills/generated/check-env/SKILL.md
  .claude/skills/generated/cluster-0/SKILL.md
  .claude/skills/generated/config/SKILL.md
  .claude/skills/generated/interceptors/SKILL.md
  .claude/skills/generated/jwt-auth/SKILL.md
  .claude/skills/generated/repositories/SKILL.md
  .claude/skills/generated/services/SKILL.md
  AGENTS.md
  CLAUDE.md
Labels: documentation, feature, config

fix(swagger): use current host instead of hardcoded domains
  src/swagger.ts
Labels: feature, config

ci: add deploy/preprod to CI trigger branches
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

fix(swagger): use current host instead of hardcoded domains
  src/swagger.ts
Labels: feature, config

fix(swagger): use current host instead of hardcoded domains
  src/swagger.ts
Labels: feature, config

ci: add deploy/preprod to CI trigger branches
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

ci: add deploy/preprod to CI trigger branches
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

fix(swagger): use current host instead of hardcoded domains
  src/swagger.ts
Labels: feature, config

fix(swagger): use current host instead of hardcoded domains
  src/swagger.ts
Labels: feature, config

Revert "chore: remove /v1 URI versioning from all API routes"
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: ci/cd, feature, tests, config

Revert "chore: remove /v1 URI versioning from all API routes"
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: ci/cd, feature, tests, config

chore(migrations): apply prettier formatting to InitialSchema migration
  src/database/migrations/1775401958678-InitialSchema.ts
Labels: feature, config

chore(migrations): apply prettier formatting to InitialSchema migration
  src/database/migrations/1775401958678-InitialSchema.ts
Labels: feature, config

test(docker): fix health-check test to match actual URL and port
  src/docker/health-check.spec.ts
Labels: feature, tests, config

test(docker): fix health-check test to match actual URL and port
  src/docker/health-check.spec.ts
Labels: feature, tests, config

ci: enable Docker build and deploy for deploy/preprod branch
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

ci: enable Docker build and deploy for deploy/preprod branch
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

ci: enable Docker build and deploy for deploy/preprod branch
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

style: apply prettier formatting to fix CI format check
  src/database/migrations/1775401958678-InitialSchema.ts
  src/modules/cache/cache.service.ts
Labels: feature, config

fix(profile): remove redundant ternary in MediaClientService default URL
  src/modules/profile/services/media-client.service.ts
Labels: feature, config

fix(profile): remove hardcoded http URL to resolve SonarCloud S5332 hotspot
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: feature, tests, config

test(e2e): add MEDIA_SERVICE_URL to E2E setup environment
  test/setup-e2e.ts
Labels: feature, tests, config

test(e2e): suppress SonarCloud S5332 false positive on localhost URL
  test/setup-e2e.ts
Labels: feature, tests, config
