Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

fix: apply copilot review recomendations
  docker/prod/.env.example
  docker/prod/compose.yml
  docker/prod/config/redis.conf
Labels: ci/cd, feature, config

fix: apply copilot review recomendations
  docker/prod/.env.example
  docker/prod/compose.yml
  docker/prod/config/redis.conf
Labels: ci/cd, feature, config

fix: apply copilot review recomendations
  docker/prod/.env.example
  docker/prod/compose.yml
  docker/prod/config/redis.conf
Labels: ci/cd, feature, config

fix: restore CacheModule for build before refactoring
  src/cache/cache.module.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/cache/search-index.service.ts
Labels: feature, config

fix: restore CacheModule for build before refactoring
  src/cache/cache.module.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/cache/search-index.service.ts
Labels: feature, config

fix: restore CacheModule for build before refactoring
  src/cache/cache.module.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/cache/search-index.service.ts
Labels: feature, config

fix: restore CacheModule for build before refactoring
  src/cache/cache.module.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/cache/search-index.service.ts
Labels: feature, config

docker: add missing startup scripts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
Labels: feature, tests, config

docker: add missing startup scripts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
Labels: feature, tests, config

docker: add missing startup scripts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
Labels: feature, tests, config

docker: add missing startup scripts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
Labels: feature, tests, config

docker: fix inconsistencies in prod image labels
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

docker: fix inconsistencies in prod image labels
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

docker: fix inconsistencies in prod image labels
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

docker: fix inconsistencies in prod image labels
  docker/prod/Dockerfile
Labels: ci/cd, feature, config

fix: database initialisation script
  docker/prod/config/init.sql
Labels: ci/cd, feature, config

fix: database initialisation script
  docker/prod/config/init.sql
Labels: ci/cd, feature, config

fix: database initialisation script
  docker/prod/config/init.sql
Labels: ci/cd, feature, config

fix: database initialisation script
  docker/prod/config/init.sql
Labels: ci/cd, feature, config

docker: fix prod nestjs port binding
  docker/prod/compose.yml
Labels: ci/cd, feature, config

docker: fix prod nestjs port binding
  docker/prod/compose.yml
Labels: ci/cd, feature, config

docker: fix prod nestjs port binding
  docker/prod/compose.yml
Labels: ci/cd, feature, config

docker: fix prod nestjs port binding
  docker/prod/compose.yml
Labels: ci/cd, feature, config

ci: fix docker paths in workflows
  .github/workflows/docker.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: fix docker paths in workflows
  .github/workflows/docker.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: fix docker paths in workflows
  .github/workflows/docker.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: fix docker paths in workflows
  .github/workflows/docker.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

fix: docker startup scripts tests
  src/docker/check-env.spec.ts
  src/docker/entrypoint.spec.ts
Labels: feature, tests, config

fix: docker startup scripts tests
  src/docker/check-env.spec.ts
  src/docker/entrypoint.spec.ts
Labels: feature, tests, config

fix: docker startup scripts tests
  src/docker/check-env.spec.ts
  src/docker/entrypoint.spec.ts
Labels: feature, tests, config

fix: docker startup scripts tests
  src/docker/check-env.spec.ts
  src/docker/entrypoint.spec.ts
Labels: feature, tests, config

ci: fix .env file creation
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: fix .env file creation
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: fix .env file creation
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: fix .env file creation
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

deps: upgrade package to their last version
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: upgrade package to their last version
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: upgrade package to their last version
  package-lock.json
  package.json
Labels: feature, config, dependencies

deps: upgrade package to their last version
  package-lock.json
  package.json
Labels: feature, config, dependencies

fix: apply docker security trivy recommendation
  docker/dev/Dockerfile
Labels: ci/cd, feature, config
