Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

exemple de fichier .env
  docs/env-example.md
Labels: documentation, feature, config

exemple de fichier .env
  docs/env-example.md
Labels: documentation, feature, config

ajout guide troubleshooting
  docs/troubleshooting.md
Labels: documentation, feature, config

ajout guide troubleshooting
  docs/troubleshooting.md
Labels: documentation, feature, config

ajout guide troubleshooting
  docs/troubleshooting.md
Labels: documentation, feature, config

doc flux de contact complet
  docs/contact-flow.md
Labels: documentation, feature, config

doc flux de contact complet
  docs/contact-flow.md
Labels: documentation, feature, config

doc flux de contact complet
  docs/contact-flow.md
Labels: documentation, feature, config

doc système de rôles
  docs/roles-system.md
Labels: documentation, feature, config

doc système de rôles
  docs/roles-system.md
Labels: documentation, feature, config

doc système de rôles
  docs/roles-system.md
Labels: documentation, feature, config

doc gestion du profil
  docs/profile-management.md
Labels: documentation, feature, config

doc gestion du profil
  docs/profile-management.md
Labels: documentation, feature, config

doc gestion du profil
  docs/profile-management.md
Labels: documentation, feature, config

[WHISPR-1178] feat(logging): wrapper withStreamLogging pour les consumers Redis
  src/interceptors/stream-event.logging.spec.ts
  src/interceptors/stream-event.logging.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
  src/modules/moderation-subscriber/moderation-subscriber.service.ts
Labels: feature, tests, config

[WHISPR-1178] feat(logging): wrapper withStreamLogging pour les consumers Redis
  src/interceptors/stream-event.logging.spec.ts
  src/interceptors/stream-event.logging.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
  src/modules/moderation-subscriber/moderation-subscriber.service.ts
Labels: feature, tests, config

[WHISPR-1178] feat(logging): wrapper withStreamLogging pour les consumers Redis
  src/interceptors/stream-event.logging.spec.ts
  src/interceptors/stream-event.logging.ts
  src/modules/accounts/services/user-registered-stream.consumer.ts
  src/modules/moderation-subscriber/moderation-subscriber.service.ts
Labels: feature, tests, config

feat(internal): add /internal/v1/contacts/check endpoint
  src/docker/check-env/env-config.ts
  src/main.ts
  src/modules/app.module.ts
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
  src/modules/internal/contacts/dto/check-contact-query.dto.ts
  src/modules/internal/contacts/dto/check-contact-response.dto.ts
  src/modules/internal/contacts/internal-contacts.controller.spec.ts
  src/modules/internal/contacts/internal-contacts.controller.ts
  src/modules/internal/contacts/internal-contacts.service.spec.ts
  src/modules/internal/contacts/internal-contacts.service.ts
  src/modules/internal/internal-auth.guard.spec.ts
  src/modules/internal/internal-auth.guard.ts
  src/modules/internal/internal.module.ts
  src/swagger.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

refactor(internal): apply Copilot review feedback
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/internal/contacts/dto/check-contact-query.dto.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

[WHISPR-1229] feat(internal): add /internal/v1/contacts/check endpoint (#118)
  src/docker/check-env/env-config.ts
  src/main.ts
  src/modules/app.module.ts
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
  src/modules/internal/contacts/dto/check-contact-query.dto.ts
  src/modules/internal/contacts/dto/check-contact-response.dto.ts
  src/modules/internal/contacts/internal-contacts.controller.spec.ts
  src/modules/internal/contacts/internal-contacts.controller.ts
  src/modules/internal/contacts/internal-contacts.service.spec.ts
  src/modules/internal/contacts/internal-contacts.service.ts
  src/modules/internal/internal-auth.guard.spec.ts
  src/modules/internal/internal-auth.guard.ts
  src/modules/internal/internal.module.ts
  src/swagger.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

[WHISPR-1229] feat(internal): add /internal/v1/contacts/check endpoint (#118)
  src/docker/check-env/env-config.ts
  src/main.ts
  src/modules/app.module.ts
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
  src/modules/internal/contacts/dto/check-contact-query.dto.ts
  src/modules/internal/contacts/dto/check-contact-response.dto.ts
  src/modules/internal/contacts/internal-contacts.controller.spec.ts
  src/modules/internal/contacts/internal-contacts.controller.ts
  src/modules/internal/contacts/internal-contacts.service.spec.ts
  src/modules/internal/contacts/internal-contacts.service.ts
  src/modules/internal/internal-auth.guard.spec.ts
  src/modules/internal/internal-auth.guard.ts
  src/modules/internal/internal.module.ts
  src/swagger.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

[WHISPR-1229] feat(internal): add /internal/v1/contacts/check endpoint (#118)
  src/docker/check-env/env-config.ts
  src/main.ts
  src/modules/app.module.ts
  src/modules/blocked-users/repositories/blocked-users.repository.spec.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
  src/modules/internal/contacts/dto/check-contact-query.dto.ts
  src/modules/internal/contacts/dto/check-contact-response.dto.ts
  src/modules/internal/contacts/internal-contacts.controller.spec.ts
  src/modules/internal/contacts/internal-contacts.controller.ts
  src/modules/internal/contacts/internal-contacts.service.spec.ts
  src/modules/internal/contacts/internal-contacts.service.ts
  src/modules/internal/internal-auth.guard.spec.ts
  src/modules/internal/internal-auth.guard.ts
  src/modules/internal/internal.module.ts
  src/swagger.ts
  test/functional.e2e-spec.ts
Labels: feature, tests, config

fix(search): wrap username and phone search responses in { user } envelope
  documentation/INTEGRATION.md
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/user-search-response.dto.ts
  test/functional.e2e-spec.ts
Labels: documentation, feature, tests, config

fix(search): wrap username and phone search responses in { user } envelope (#119)
  documentation/INTEGRATION.md
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/user-search-response.dto.ts
  test/functional.e2e-spec.ts
Labels: documentation, feature, tests, config

fix(search): wrap username and phone search responses in { user } envelope (#119)
  documentation/INTEGRATION.md
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/user-search-response.dto.ts
  test/functional.e2e-spec.ts
Labels: documentation, feature, tests, config

fix(search): wrap username and phone search responses in { user } envelope (#119)
  documentation/INTEGRATION.md
  src/modules/search/controllers/user-search.controller.spec.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/dto/user-search-response.dto.ts
  test/functional.e2e-spec.ts
Labels: documentation, feature, tests, config

feat(profile): add presignProfilePictureUrl in MediaClientService (WHISPR-1253)
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: feature, tests, config

feat(profile): add presignProfilePictureUrl in MediaClientService (WHISPR-1253)
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: feature, tests, config

feat(profile): add presignProfilePictureUrl in MediaClientService (WHISPR-1253)
  src/modules/profile/services/media-client.service.spec.ts
  src/modules/profile/services/media-client.service.ts
Labels: feature, tests, config

feat(profile): presign profile picture URLs before returning to client (WHISPR-1253)
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

feat(profile): presign profile picture URLs before returning to client (WHISPR-1253)
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

feat(profile): presign profile picture URLs before returning to client (WHISPR-1253)
  src/modules/profile/controllers/profile.controller.spec.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(profile): emit single-pipeline diff to keep user discoverable after profile edit (WHISPR-1271)
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(profile): emit single-pipeline diff to keep user discoverable after profile edit (WHISPR-1271)
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(profile): emit single-pipeline diff to keep user discoverable after profile edit (WHISPR-1271)
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

feat(contacts): publish Redis events for FCM/APNS push notifications
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
  src/modules/contacts/services/contacts-notification-publisher.service.ts
Labels: feature, tests, config

feat(contacts): publish Redis events for FCM/APNS push notifications
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
  src/modules/contacts/services/contacts-notification-publisher.service.ts
Labels: feature, tests, config

chore(repo): force LF on shell scripts for Linux container compat
  .gitattributes
Labels: feature, config

chore(repo): force LF on shell scripts for Linux container compat
  .gitattributes
Labels: feature, config

Updates custom thème synchro
  src/database/migrations/1777767000000-AddVisualPreferencesToUsers.ts
  src/modules/common/dto/user-response.dto.ts
  src/modules/common/entities/user.entity.ts
  src/modules/profile/dto/update-profile.dto.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config
