Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

feat(blocked-users): integrate BlockedUsersModule into hybrid app (#32)
  package.json
  src/modules/app.module.ts
  src/modules/blocked-users/blocked-users.module.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/blocked-users/dto/block-user.dto.ts
  src/modules/blocked-users/entities/blocked-user.entity.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
Labels: feature, tests, config, dependencies

feat(blocked-users): integrate BlockedUsersModule into hybrid app (#32)
  package.json
  src/modules/app.module.ts
  src/modules/blocked-users/blocked-users.module.ts
  src/modules/blocked-users/controllers/blocked-users.controller.ts
  src/modules/blocked-users/dto/block-user.dto.ts
  src/modules/blocked-users/entities/blocked-user.entity.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/blocked-users/services/blocked-users.service.spec.ts
  src/modules/blocked-users/services/blocked-users.service.ts
Labels: feature, tests, config, dependencies

feat(profile): add privacy filtering, photo management and contacts update
  src/main.ts
  src/modules/app.module.ts
  src/modules/blocked-users/blocked-users.module.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/update-contact.dto.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  src/modules/privacy/privacy.module.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/change-phone.dto.ts
  src/modules/profile/dto/upload-photo.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/modules/search/controllers/search.controller.ts
  src/modules/search/dto/search-name.dto.ts
  src/modules/search/dto/search-phone.dto.ts
  src/modules/search/dto/search-username.dto.ts
  src/modules/search/search.module.ts
Labels: feature, tests, config

feat(profile): add privacy filtering, photo management and contacts update (#33)
  src/main.ts
  src/modules/app.module.ts
  src/modules/blocked-users/blocked-users.module.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/update-contact.dto.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  src/modules/privacy/privacy.module.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/change-phone.dto.ts
  src/modules/profile/dto/upload-photo.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/modules/search/controllers/search.controller.ts
  src/modules/search/dto/search-name.dto.ts
  src/modules/search/dto/search-phone.dto.ts
  src/modules/search/dto/search-username.dto.ts
  src/modules/search/search.module.ts
Labels: feature, tests, config

feat(profile): add privacy filtering, photo management and contacts update (#33)
  src/main.ts
  src/modules/app.module.ts
  src/modules/blocked-users/blocked-users.module.ts
  src/modules/blocked-users/repositories/blocked-users.repository.ts
  src/modules/contacts/contacts.module.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/dto/update-contact.dto.ts
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  src/modules/privacy/privacy.module.ts
  src/modules/profile/controllers/profile.controller.ts
  src/modules/profile/dto/change-phone.dto.ts
  src/modules/profile/dto/upload-photo.dto.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
  src/modules/search/controllers/search.controller.ts
  src/modules/search/dto/search-name.dto.ts
  src/modules/search/dto/search-phone.dto.ts
  src/modules/search/dto/search-username.dto.ts
  src/modules/search/search.module.ts
Labels: feature, tests, config

feat(jwt-auth): migrate JWT validation to JWKS endpoint
  package-lock.json
  package.json
  src/docker/check-env/env-config.ts
  src/modules/app.module.ts
  src/modules/health/health.controller.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
  src/modules/jwt-auth/jwt-auth.guard.spec.ts
  src/modules/jwt-auth/jwt-auth.guard.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  src/modules/jwt-auth/jwt.strategy.ts
  src/modules/jwt-auth/public.decorator.ts
Labels: feature, tests, config, dependencies

fix(jwt-auth): resolve ESM transform and missing JWT_JWKS_URL in test environments
  .github/workflows/tests.yml
  docker/test/compose.yml
  src/modules/jwt-auth/jwt.strategy.ts
  test/jest-e2e.json
  test/setup-e2e.ts
Labels: ci/cd, feature, tests, config

feat(groups): add groups module and fix profile upsert
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/app.module.ts
  src/modules/contacts/controllers/contacts.controller.ts
  src/modules/contacts/services/contacts.service.spec.ts
  src/modules/contacts/services/contacts.service.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/groups/dto/add-group-member.dto.ts
  src/modules/groups/dto/create-group.dto.ts
  src/modules/groups/dto/update-group.dto.ts
  src/modules/groups/dto/update-member-role.dto.ts
  src/modules/groups/entities/group-member.entity.ts
  src/modules/groups/entities/group.entity.ts
  src/modules/groups/groups.module.ts
  src/modules/groups/repositories/group-members.repository.ts
  src/modules/groups/repositories/groups.repository.ts
  src/modules/groups/services/groups.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(jwt-auth): use require() for jwks-rsa to avoid ESM resolution issues
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
Labels: feature, tests, config

feat(jwt-auth): migrate JWT validation to JWKS endpoint (#34)
  .github/workflows/tests.yml
  docker/test/compose.yml
  package-lock.json
  package.json
  src/docker/check-env/env-config.ts
  src/modules/app.module.ts
  src/modules/health/health.controller.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
  src/modules/jwt-auth/jwt-auth.guard.spec.ts
  src/modules/jwt-auth/jwt-auth.guard.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  src/modules/jwt-auth/jwt.strategy.ts
  src/modules/jwt-auth/public.decorator.ts
  test/jest-e2e.json
  test/setup-e2e.ts
Labels: ci/cd, feature, tests, config, dependencies

feat(jwt-auth): migrate JWT validation to JWKS endpoint (#34)
  .github/workflows/tests.yml
  docker/test/compose.yml
  package-lock.json
  package.json
  src/docker/check-env/env-config.ts
  src/modules/app.module.ts
  src/modules/health/health.controller.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
  src/modules/jwt-auth/jwt-auth.guard.spec.ts
  src/modules/jwt-auth/jwt-auth.guard.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  src/modules/jwt-auth/jwt.strategy.ts
  src/modules/jwt-auth/public.decorator.ts
  test/jest-e2e.json
  test/setup-e2e.ts
Labels: ci/cd, feature, tests, config, dependencies

feat(jwt-auth): migrate JWT validation to JWKS endpoint (#34)
  .github/workflows/tests.yml
  docker/test/compose.yml
  package-lock.json
  package.json
  src/docker/check-env/env-config.ts
  src/modules/app.module.ts
  src/modules/health/health.controller.ts
  src/modules/jwt-auth/jwks.service.spec.ts
  src/modules/jwt-auth/jwks.service.ts
  src/modules/jwt-auth/jwt-auth.guard.spec.ts
  src/modules/jwt-auth/jwt-auth.guard.ts
  src/modules/jwt-auth/jwt-auth.module.ts
  src/modules/jwt-auth/jwt.strategy.ts
  src/modules/jwt-auth/public.decorator.ts
  test/jest-e2e.json
  test/setup-e2e.ts
Labels: ci/cd, feature, tests, config, dependencies

feat(groups): integrate GroupsModule into hybrid app
  package.json
  src/modules/app.module.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/groups/dto/create-group.dto.ts
  src/modules/groups/dto/update-group.dto.ts
  src/modules/groups/entities/group.entity.ts
  src/modules/groups/groups.module.ts
  src/modules/groups/repositories/groups.repository.ts
  src/modules/groups/services/groups.service.spec.ts
  src/modules/groups/services/groups.service.ts
Labels: feature, tests, config, dependencies

feat(groups): integrate GroupsModule into hybrid app (#36)
  package.json
  src/modules/app.module.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/groups/dto/create-group.dto.ts
  src/modules/groups/dto/update-group.dto.ts
  src/modules/groups/entities/group.entity.ts
  src/modules/groups/groups.module.ts
  src/modules/groups/repositories/groups.repository.ts
  src/modules/groups/services/groups.service.spec.ts
  src/modules/groups/services/groups.service.ts
Labels: feature, tests, config, dependencies

feat(groups): integrate GroupsModule into hybrid app (#36)
  package.json
  src/modules/app.module.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/groups/dto/create-group.dto.ts
  src/modules/groups/dto/update-group.dto.ts
  src/modules/groups/entities/group.entity.ts
  src/modules/groups/groups.module.ts
  src/modules/groups/repositories/groups.repository.ts
  src/modules/groups/services/groups.service.spec.ts
  src/modules/groups/services/groups.service.ts
Labels: feature, tests, config, dependencies

feat(groups): integrate GroupsModule into hybrid app (#36)
  package.json
  src/modules/app.module.ts
  src/modules/groups/controllers/groups.controller.ts
  src/modules/groups/dto/create-group.dto.ts
  src/modules/groups/dto/update-group.dto.ts
  src/modules/groups/entities/group.entity.ts
  src/modules/groups/groups.module.ts
  src/modules/groups/repositories/groups.repository.ts
  src/modules/groups/services/groups.service.spec.ts
  src/modules/groups/services/groups.service.ts
Labels: feature, tests, config, dependencies

feat(search): integrate UserSearchModule into hybrid app
  package.json
  src/modules/app.module.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
  src/modules/search/user-search.module.ts
Labels: feature, tests, config, dependencies

feat(search): integrate UserSearchModule into hybrid app (#37)
  package.json
  src/modules/app.module.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
  src/modules/search/user-search.module.ts
Labels: feature, tests, config, dependencies

feat(search): integrate UserSearchModule into hybrid app (#37)
  package.json
  src/modules/app.module.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
  src/modules/search/user-search.module.ts
Labels: feature, tests, config, dependencies

feat(search): integrate UserSearchModule into hybrid app (#37)
  package.json
  src/modules/app.module.ts
  src/modules/search/controllers/user-search.controller.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
  src/modules/search/user-search.module.ts
Labels: feature, tests, config, dependencies

ci: add deploy branches to CI/CD triggers
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci/cd, feature, config

ci(cd): use dynamic branch ref instead of hardcoded main
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

test(health): improve e2e smoke tests for health endpoints
  test/app.e2e-spec.ts
Labels: feature, tests, config

test(health): improve e2e smoke tests for health endpoints (#38)
  test/app.e2e-spec.ts
Labels: feature, tests, config

test(health): improve e2e smoke tests for health endpoints (#38)
  test/app.e2e-spec.ts
Labels: feature, tests, config

test(health): improve e2e smoke tests for health endpoints (#38)
  test/app.e2e-spec.ts
Labels: feature, tests, config

chore(cd): update infrastructure manifest path to k8s/whispr/production/
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

chore(cd): update infrastructure manifest path to k8s/whispr/production/
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

chore(cd): update infrastructure manifest path to k8s/whispr/production/
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

ci: add deploy/avant-preprod and deploy/preprod triggers
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: add deploy/avant-preprod and deploy/preprod triggers
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: ci/cd, feature, config

ci: push deploy-preprod image tag on deploy/preprod branch
  .github/workflows/ci.yml
  .github/workflows/docker.yml
Labels: ci/cd, feature, config

ci: push deploy-preprod image tag on deploy/preprod branch
  .github/workflows/ci.yml
  .github/workflows/docker.yml
Labels: ci/cd, feature, config

fix: fix healthcheck for distroless image and wrong endpoint path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: ci/cd, feature, config

fix(test): update health-check spec to match new port and endpoint path
  src/docker/health-check.spec.ts
Labels: feature, tests, config

feat(accounts): add exponential-backoff retry and DLQ for user.registered consumer
  src/modules/accounts/accounts.module.ts
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
Labels: feature, tests, config

fix(accounts): use globalThis.setTimeout to satisfy no-undef lint rule
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
Labels: feature, tests, config

feat(accounts): add exponential-backoff retry and DLQ for user.registered consumer (#39)
  src/modules/accounts/accounts.module.ts
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
Labels: feature, tests, config

feat(accounts): add exponential-backoff retry and DLQ for user.registered consumer (#39)
  src/modules/accounts/accounts.module.ts
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
Labels: feature, tests, config

feat(accounts): add exponential-backoff retry and DLQ for user.registered consumer (#39)
  src/modules/accounts/accounts.module.ts
  src/modules/accounts/controllers/accounts.controller.spec.ts
  src/modules/accounts/controllers/accounts.controller.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
Labels: feature, tests, config

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']
