Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

feat(health): migrate health checks to @nestjs/terminus
  package-lock.json
  package.json
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/health/redis-health.indicator.spec.ts
  src/modules/health/redis-health.indicator.ts
  src/modules/jwt-auth/jwks-health.indicator.spec.ts
  src/modules/jwt-auth/jwks-health.indicator.ts
Labels: feature, tests, config, dependencies

fix(health): use globalThis.setTimeout to satisfy ESLint no-undef
  src/modules/health/redis-health.indicator.ts
Labels: feature, config

fix: Import TerminusModule in JwtAuthModule for DI resolution
  src/modules/jwt-auth/jwt-auth.module.ts
Labels: feature, config

chore: Add .mcp.json to .gitignore
  .gitignore
  src/modules/health/redis-health.indicator.spec.ts
  src/modules/health/redis-health.indicator.ts
  src/modules/jwt-auth/jwks-health.indicator.spec.ts
Labels: feature, tests, config

fix(profile): index user in search after profile update
  src/modules/profile/services/profile.service.ts
Labels: feature, config

style(profile): fix prettier formatting
  src/modules/profile/services/profile.service.ts
Labels: feature, config

docs: update workflow documentation for user-service
  AGENTS.md
  CLAUDE.md
Labels: documentation, feature, config

chore: ignore Claude Code local files and add shared skills
  .claude/skills/gitnexus/gitnexus-cli/SKILL.md
  .claude/skills/gitnexus/gitnexus-debugging/SKILL.md
  .claude/skills/gitnexus/gitnexus-exploring/SKILL.md
  .claude/skills/gitnexus/gitnexus-guide/SKILL.md
  .claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
  .claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
  .gitignore
Labels: documentation, feature, config

chore: local dev fixes (e2e flow)
  .gitignore
  package-lock.json
  package.json
  src/cache.config.ts
  src/dto/create-user.dto.ts
  src/entities/user.entity.ts
  src/modules/blocked-users/entities/blocked-user.entity.ts
  src/modules/common/entities/user.entity.ts
  src/modules/contacts/entities/contact.entity.ts
  src/modules/groups/entities/group.entity.ts
  src/modules/privacy/entities/privacy-settings.entity.ts
  src/modules/twilio/twilio.module.ts
  src/modules/twilio/twilio.service.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.module.ts
  src/modules/users/users.service.ts
Labels: feature, config, dependencies

fix(search): use HGET for Redis hash lookups and add DB fallback
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
  src/modules/common/repositories/user.repository.ts
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, tests, config

feat(cors): enable CORS for cross-origin requests
  src/main.ts
Labels: feature, config

fix(cd): enable auto-deploy for preprod branches
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): enable auto-deploy for preprod branches (#48)
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(cd): enable auto-deploy for preprod branches (#48)
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

[WHISPR-504] Migrate health checks to @nestjs/terminus (#46)
  .claude/skills/gitnexus/gitnexus-cli/SKILL.md
  .claude/skills/gitnexus/gitnexus-debugging/SKILL.md
  .claude/skills/gitnexus/gitnexus-exploring/SKILL.md
  .claude/skills/gitnexus/gitnexus-guide/SKILL.md
  .claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
  .claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  package-lock.json
  package.json
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/health/redis-health.indicator.spec.ts
  src/modules/health/redis-health.indicator.ts
  src/modules/jwt-auth/jwks-health.indicator.spec.ts
  src/modules/jwt-auth/jwks-health.indicator.ts
  src/modules/jwt-auth/jwt-auth.module.ts
Labels: documentation, feature, tests, config, dependencies

[WHISPR-504] Migrate health checks to @nestjs/terminus (#46)
  .claude/skills/gitnexus/gitnexus-cli/SKILL.md
  .claude/skills/gitnexus/gitnexus-debugging/SKILL.md
  .claude/skills/gitnexus/gitnexus-exploring/SKILL.md
  .claude/skills/gitnexus/gitnexus-guide/SKILL.md
  .claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
  .claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  package-lock.json
  package.json
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/health/redis-health.indicator.spec.ts
  src/modules/health/redis-health.indicator.ts
  src/modules/jwt-auth/jwks-health.indicator.spec.ts
  src/modules/jwt-auth/jwks-health.indicator.ts
  src/modules/jwt-auth/jwt-auth.module.ts
Labels: documentation, feature, tests, config, dependencies

fix(search): use HGET for Redis search + index users on profile update
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/cache.service.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config

fix(cache): remove duplicate hget method
  src/modules/cache/cache.service.ts
Labels: feature, config

fix(test): update health-check spec to match actual port and path
  src/docker/health-check.spec.ts
Labels: feature, tests, config

chore(ci): reduce Discord PR notifications to merge-only
  .github/workflows/discord-pr-notifications.yml
Labels: ci/cd, feature, config

chore(ci): reduce Discord PR notifications to merge-only (#51)
  .github/workflows/discord-pr-notifications.yml
Labels: ci/cd, feature, config

chore(ci): reduce Discord PR notifications to merge-only (#51)
  .github/workflows/discord-pr-notifications.yml
Labels: ci/cd, feature, config

feat(database): add initial schema migration for production
  src/config/database.config.ts
  src/database/migrations/1775401958678-InitialSchema.ts
Labels: feature, config

feat(database): add initial schema migration for production
  src/config/database.config.ts
  src/database/migrations/1775401958678-InitialSchema.ts
Labels: feature, config

chore(docker): remove init.sql from prod compose
  docker/prod/compose.yml
  docker/prod/config/init.sql
Labels: ci/cd, feature, config

chore(docker): remove init.sql from prod compose
  docker/prod/compose.yml
  docker/prod/config/init.sql
Labels: ci/cd, feature, config

fix(db): enable autoLoadEntities for bundled build
  src/typeorm.config.ts
Labels: feature, config

fix(user): return enriched contacts + index user on profile update
  package-lock.json
  src/modules/contacts/repositories/contacts.repository.ts
  src/modules/profile/profile.module.ts
  src/modules/profile/services/profile.service.spec.ts
  src/modules/profile/services/profile.service.ts
Labels: feature, tests, config, dependencies

fix(search): use redis hashes for phone/username lookup
  src/modules/cache/cache.service.ts
  src/modules/cache/search-index.service.spec.ts
  src/modules/cache/search-index.service.ts
Labels: feature, tests, config

feat(cd): update migration-job image alongside deployment
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat(cd): update migration-job image alongside deployment
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

feat(accounts): add Redis pub/sub event logging for debugging
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
Labels: feature, tests, config

fix(search): index phone on register + null-safe user indexing
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/cache/search-index.service.ts
Labels: feature, tests, config

fix(search): fallback to db when index missing
  src/modules/search/services/user-search.service.spec.ts
  src/modules/search/services/user-search.service.ts
Labels: feature, tests, config

fix(accounts): await Redis emit observable before logging success
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
Labels: feature, tests, config

fix(accounts): await user.created emit completion
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
Labels: feature, tests, config

feat(accounts): add Redis pub/sub event logging for debugging (#55)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
Labels: feature, tests, config

feat(accounts): add Redis pub/sub event logging for debugging (#55)
  src/modules/accounts/services/accounts.service.spec.ts
  src/modules/accounts/services/accounts.service.ts
  src/modules/accounts/services/user-registered-retry.service.spec.ts
  src/modules/accounts/services/user-registered-retry.service.ts
Labels: feature, tests, config

fix(ci): validate user migration manifest before update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

fix(ci): validate user migration manifest before update
  .github/workflows/cd.yml
Labels: ci/cd, feature, config
