Repository whispr-messenger/user-service, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, feature, tests, config, dependencies, database, security

.github/labeler.yml:

# Label configuration for PR auto-labeling
# See: https://github.com/actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

# Source code changes
feature:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.spec.ts']

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.spec.ts', 'test/**/*', '**/*.e2e-spec.ts']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', '.env*', '!package.json']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/migrations/**/*', '**/migration/**/*']

# Security
security:
  - changed-files:
    - any-glob-to-any-file: ['**/guards/**/*', '**/auth/**/*', '**/security/**/*']

fix(contacts): verrou pessimistic_write sur accept/reject/cancel contact request
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, tests, config

fix(contacts): verrou pessimistic_write sur accept/reject/cancel contact request
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, tests, config

fix(contacts): verrou pessimistic_write sur accept/reject/cancel contact request
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
Labels: feature, tests, config

chore(observability): TypeORM maxQueryExecutionTime 500ms slow query log
  src/typeorm.config.ts
Labels: feature, config

chore(observability): TypeORM maxQueryExecutionTime 500ms slow query log
  src/typeorm.config.ts
Labels: feature, config

chore(observability): TypeORM maxQueryExecutionTime 500ms slow query log
  src/typeorm.config.ts
Labels: feature, config

fix(api): webhooks pagination + audit export streaming + URL validation
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/audit/services/audit.service.spec.ts
  src/modules/audit/services/audit.service.ts
  src/modules/common/dto/offset-pagination.dto.ts
  src/modules/webhooks/controllers/webhooks.controller.spec.ts
  src/modules/webhooks/controllers/webhooks.controller.ts
  src/modules/webhooks/dto/create-webhook.dto.spec.ts
  src/modules/webhooks/dto/create-webhook.dto.ts
  src/modules/webhooks/repositories/webhooks.repository.spec.ts
  src/modules/webhooks/repositories/webhooks.repository.ts
  src/modules/webhooks/services/webhooks.service.spec.ts
  src/modules/webhooks/services/webhooks.service.ts
Labels: feature, tests, config

fix(api): webhooks pagination + audit export streaming + URL validation
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/audit/services/audit.service.spec.ts
  src/modules/audit/services/audit.service.ts
  src/modules/common/dto/offset-pagination.dto.ts
  src/modules/webhooks/controllers/webhooks.controller.spec.ts
  src/modules/webhooks/controllers/webhooks.controller.ts
  src/modules/webhooks/dto/create-webhook.dto.spec.ts
  src/modules/webhooks/dto/create-webhook.dto.ts
  src/modules/webhooks/repositories/webhooks.repository.spec.ts
  src/modules/webhooks/repositories/webhooks.repository.ts
  src/modules/webhooks/services/webhooks.service.spec.ts
  src/modules/webhooks/services/webhooks.service.ts
Labels: feature, tests, config

fix(api): webhooks pagination + audit export streaming + URL validation
  src/modules/audit/controllers/audit.controller.spec.ts
  src/modules/audit/controllers/audit.controller.ts
  src/modules/audit/services/audit.service.spec.ts
  src/modules/audit/services/audit.service.ts
  src/modules/common/dto/offset-pagination.dto.ts
  src/modules/webhooks/controllers/webhooks.controller.spec.ts
  src/modules/webhooks/controllers/webhooks.controller.ts
  src/modules/webhooks/dto/create-webhook.dto.spec.ts
  src/modules/webhooks/dto/create-webhook.dto.ts
  src/modules/webhooks/repositories/webhooks.repository.spec.ts
  src/modules/webhooks/repositories/webhooks.repository.ts
  src/modules/webhooks/services/webhooks.service.spec.ts
  src/modules/webhooks/services/webhooks.service.ts
Labels: feature, tests, config

fix(security): webhook secret select:false + replay timestamp + fetch timeout
  src/modules/webhooks/entities/webhook.entity.ts
  src/modules/webhooks/repositories/webhooks.repository.spec.ts
  src/modules/webhooks/repositories/webhooks.repository.ts
  src/modules/webhooks/services/webhooks.service.spec.ts
  src/modules/webhooks/services/webhooks.service.ts
Labels: feature, tests, config

fix(security): webhook secret select:false + replay timestamp + fetch timeout
  src/modules/webhooks/entities/webhook.entity.ts
  src/modules/webhooks/repositories/webhooks.repository.spec.ts
  src/modules/webhooks/repositories/webhooks.repository.ts
  src/modules/webhooks/services/webhooks.service.spec.ts
  src/modules/webhooks/services/webhooks.service.ts
Labels: feature, tests, config

fix(security): webhook secret select:false + replay timestamp + fetch timeout
  src/modules/webhooks/entities/webhook.entity.ts
  src/modules/webhooks/repositories/webhooks.repository.spec.ts
  src/modules/webhooks/repositories/webhooks.repository.ts
  src/modules/webhooks/services/webhooks.service.spec.ts
  src/modules/webhooks/services/webhooks.service.ts
Labels: feature, tests, config

fix(security): Cache-Control no-store global sur routes authenticated
  src/interceptors/index.ts
  src/interceptors/no-cache.interceptor.spec.ts
  src/interceptors/no-cache.interceptor.ts
  src/modules/app.module.ts
Labels: feature, tests, config

fix(security): Cache-Control no-store global sur routes authenticated
  src/interceptors/index.ts
  src/interceptors/no-cache.interceptor.spec.ts
  src/interceptors/no-cache.interceptor.ts
  src/modules/app.module.ts
Labels: feature, tests, config

fix(security): Cache-Control no-store global sur routes authenticated
  src/interceptors/index.ts
  src/interceptors/no-cache.interceptor.spec.ts
  src/interceptors/no-cache.interceptor.ts
  src/modules/app.module.ts
Labels: feature, tests, config

fix(profile): expose phoneNumberMasked DTO (anti fallback Utilisateur)
  src/modules/common/dto/user-response.dto.spec.ts
  src/modules/common/dto/user-response.dto.ts
  src/utils/mask-phone.util.spec.ts
  src/utils/mask-phone.util.ts
Labels: feature, tests, config

fix(profile): expose phoneNumberMasked DTO (anti fallback Utilisateur)
  src/modules/common/dto/user-response.dto.spec.ts
  src/modules/common/dto/user-response.dto.ts
  src/utils/mask-phone.util.spec.ts
  src/utils/mask-phone.util.ts
Labels: feature, tests, config

fix(profile): expose phoneNumberMasked DTO (anti fallback Utilisateur)
  src/modules/common/dto/user-response.dto.spec.ts
  src/modules/common/dto/user-response.dto.ts
  src/utils/mask-phone.util.spec.ts
  src/utils/mask-phone.util.ts
Labels: feature, tests, config

fix(profile): accept non-RFC UUIDs in batch profiles DTO
  src/modules/profile/dto/batch-profiles-request.dto.spec.ts
  src/modules/profile/dto/batch-profiles-request.dto.ts
Labels: feature, tests, config

fix(profile): accept non-RFC UUIDs in batch profiles DTO
  src/modules/profile/dto/batch-profiles-request.dto.spec.ts
  src/modules/profile/dto/batch-profiles-request.dto.ts
Labels: feature, tests, config

fix(profile): accept non-RFC UUIDs in batch profiles DTO
  src/modules/profile/dto/batch-profiles-request.dto.spec.ts
  src/modules/profile/dto/batch-profiles-request.dto.ts
Labels: feature, tests, config

feat(contacts): emit inbox event to whispr:notifications:inbox on contact request
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
  src/modules/contacts/services/contacts-notification-publisher.service.ts
Labels: feature, tests, config

feat(contacts): emit inbox event to whispr:notifications:inbox on contact request
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
  src/modules/contacts/services/contacts-notification-publisher.service.ts
Labels: feature, tests, config

feat(contacts): emit inbox event to whispr:notifications:inbox on contact request
  src/modules/contacts/services/contact-requests.service.spec.ts
  src/modules/contacts/services/contact-requests.service.ts
  src/modules/contacts/services/contacts-notification-publisher.service.ts
Labels: feature, tests, config

fix(ci): scope cd token to user-service + infrastructure repos
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

ci(cd): split preprod and prod targets in CD pipeline
  .github/workflows/cd.yml
Labels: ci/cd, feature, config

ci(release): add semantic versioning release workflow
  .github/workflows/release.yml
Labels: ci/cd, feature, config

fix(deps): override protobufjs, @protobufjs/utf8 and fast-uri to patch CVEs
  package-lock.json
  package.json
Labels: feature, config, dependencies

chore(sonar): rename project to user-service in UI
  sonar-project.properties
Labels: feature, config
